<table
  mat-table
  [dataSource]="items"
  matSort
  [matSortDisabled]="!sort"
  [matSortDisableClear]="true"
  [matSortActive]="sort?.sortBy"
  [matSortDirection]="sort?.sortDirection"
  (matSortChange)="sortChange.emit($event)"
>
  <ng-container matColumnDef="nameDe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Deutscher Name</th>
    <td mat-cell *matCellDef="let row">
      {{ row.name.de }}
    </td>
  </ng-container>
  <ng-container matColumnDef="nameEn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Englischer Name</th>
    <td mat-cell *matCellDef="let row">
      {{ row.name.en }}
    </td>
  </ng-container>
  <ng-container matColumnDef="hierarchyName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Zielbaum</th>
    <td mat-cell *matCellDef="let row">{{ row.hierarchyName | localizedString }}</td>
  </ng-container>
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Ebene</th>
    <td mat-cell *matCellDef="let row">{{ row.level }}</td>
  </ng-container>
  <ng-container matColumnDef="accumulatedScore">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>#Verwendet</th>
    <td mat-cell *matCellDef="let row">{{ row.accumulatedScore }}</td>
  </ng-container>
  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef i18n>Tags</th>
    <td mat-cell *matCellDef="let row">
      <mat-chip-set>
        <i *ngIf="!row.tags.length">Keine Tags</i>
        <mat-chip-option *ngFor="let tagId of row.tags" [selected]="selectedTags.includes(tagId)" (click)="onTagClick($event, tagId)">{{
          tagsById[tagId].name | localizedString
        }}</mat-chip-option>
      </mat-chip-set>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="defaultColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: defaultColumns" (click)="objectiveClick.emit(row)"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="defaultColumns.length" i18n>Keine Ziele entsprechen dem Filter.</td>
  </tr>
</table>
