<div class="container">
  <div class="top-container">
    <div [dtScrollbar]="nl" #scrollbar="dtScrollbar" class="navigation-container">
      <ul #nl class="navigation-list">
        <div class="decision-question">
          <div class="decision-statement-container mat-elevation-z4" [class.folded]="!isUnfolded">
            <span [class.italic]="!decisionData.decisionStatement.statement"
              >{{ decisionData.decisionStatement.statement || 'Keine Entscheidungsfrage definiert' }}
            </span>
          </div>
        </div>
        <!-- navigation/steps -->
        <div class="steps-container" [class.disabled]="!isProjectLoaded()">
          <div
            class="step"
            *ngFor="let step of steps; index as stepIndex"
            routerLinkActive="active"
            #stepLink="routerLinkActive"
            [class.disabled]="!isProjectLoaded()"
            [attr.data-cy]="'step-' + step.id"
          >
            <dt-note-btn
              [(comment)]="decisionData.stepExplanations[step.id]"
              [darkBackground]="true"
              [caption]="step.name | noteBtnPreset : 'step'"
              *ngIf="stepIndex + 1 !== 6 && isUnfolded"
            >
              <dt-team-comments additional-modal-content [object]="{ uuid: TeamUUIDs.STEPS[step.id] }"> </dt-team-comments>
            </dt-note-btn>
            <div
              class="step-part-main"
              (click)="toStep(stepIndex)"
              [class.active]="stepLink.isActive"
              [routerLink]="step.routerLink"
              [title]="!isUnfolded ? step.name : ''"
            >
              <div class="left-container">
                <mat-icon>{{ step.icon }}</mat-icon>
              </div>

              <!-- right side (menu items) -->
              <div *ngIf="isUnfolded" class="right-container">
                <!-- step name -->
                <div role="link" class="step-name">
                  {{ stepIndex + 1 !== 6 ? stepIndex + 1 + ' | ' + step.name : step.name }}
                </div>
              </div>
            </div>
            <div
              [class.folded-sidenav]="!isUnfolded"
              class="step-part-sub"
              *ngIf="step | filteredSubSteps : decisionData.projectMode as subSteps"
            >
              <!-- sub menu if needed -->
              <ul *ngIf="stepLink.isActive && subSteps.length > 0" class="sub-menu">
                <li
                  *ngFor="let subStep of subSteps"
                  role="link"
                  [routerLink]="step.routerLink + '/steps/' + (subStep.index + 1)"
                  routerLinkActive="active"
                  [class.done]="isSubStepDone({ step: step.id, subStepIndex: subStep.index })"
                  [class.current]="isSubStepCurrent({ step: step.id, subStepIndex: subStep.index })"
                  [attr.data-cy]="'substep-' + subStep.index"
                >
                  <div [title]="!isUnfolded ? subStep.name : ''" class="progress-part">
                    <div class="line"></div>
                    <div class="circle">
                      <mat-icon class="check">check</mat-icon>
                      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
                    </div>
                  </div>

                  <div *ngIf="isUnfolded" class="sub-step-name">
                    {{ subStep.name }}
                  </div>
                </li>

                <li
                  role="link"
                  [routerLink]="step.routerLink"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  class="result-substep done"
                  data-cy="result-step"
                >
                  <div [title]="!isUnfolded ? 'Ergebnis' : ''" class="progress-part">
                    <div class="line"></div>
                    <div class="circle">
                      <mat-icon>functions</mat-icon>
                    </div>
                  </div>

                  <div *ngIf="isUnfolded" class="sub-step-name" i18n>Ergebnis</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div class="bottom-container">
    <button *ngIf="!isSidenavOver" (click)="toggleUnfold()" mat-icon-button>
      <mat-icon *ngIf="isUnfolded">arrow_back_ios</mat-icon>
      <mat-icon *ngIf="!isUnfolded">arrow_forward_ios</mat-icon>
    </button>
    <div *ngIf="isUnfolded" class="credentials" [ngSwitch]="environmentType">
      <div *ngSwitchCase="'preview'" class="build-info">
        Preview
        <ng-container *ngIf="buildTimestamp">&nbsp;({{ buildTimestamp | date : 'short' }})</ng-container>
      </div>
      <div *ngSwitchCase="'nightly'" class="build-info">
        <ng-container i18n>Nightly-Version</ng-container>&nbsp;
        <ng-container *ngIf="serviceWorkerService.updateState$ | async as updateState" [ngSwitch]="updateState">
          <ng-container *ngSwitchCase="'no-update'" i18n>(Version aktuell)</ng-container>
          <ng-container *ngSwitchCase="'loading-update'" i18n>(Lade Update…)</ng-container>
          <ng-container *ngSwitchCase="'update-ready'" i18n>(Update verfügbar)</ng-container>
        </ng-container>
      </div>

      <div>
        <a (click)="openAboutUs()">
          Entscheidungsnavi
          <ng-container *ngIf="environmentType === 'production'">{{ version }}</ng-container>
          © {{ year }} EFi
        </a>
      </div>
      <div class="links">
        <a href="https://entscheidungsnavi.de/contact" target="_blank" rel="noopener" i18n>Kontakt</a>
        <a href="https://entscheidungsnavi.de/privacy" target="_blank" rel="noopener" i18n>Datenschutz</a>
        <a href="https://entscheidungsnavi.de/sitenotice" target="_blank" rel="noopener" i18n>Impressum</a>
      </div>
    </div>
  </div>
</div>
