<dt-step-title [showStepNumber]="false" i18n>Befrage andere Leute</dt-step-title>

<dt-step-description>
  <ng-template #description i18n>Frage Deine Freunde und/oder Familie nach möglichen Alternativen.</ng-template>
  <ng-template #subDescription i18n
    >Oft hilft der Austausch mit anderen Leuten, um den Blickwinkel zu ändern und neue, kreative Alternativen identifizieren zu
    können.</ng-template
  >
</dt-step-description>

<dt-alternative-list [pageKey]="pageKey" [collapsedByDefault]="true"></dt-alternative-list>
