<div class="chart-wrapper" [dtWidthTrigger]="{ 'reversed-stacking': 1019 }">
  <div class="chart">
    <ng-template #circleTooltipTemplate let-model="model">
      <div class="area-tooltip-container">
        <div class="tooltip-item" [ngSwitch]="model.tag">
          <ng-container *ngSwitchCase="ReferencePointSource.Alternative">{{ model.text }}<br /></ng-container>
          <ng-container *ngSwitchCase="ReferencePointSource.Edge" i18n>Eckpunkt<br /></ng-container>
          <ng-container *ngSwitchCase="ReferencePointSource.Manual" i18n>Manueller Vergleichspunkt<br /></ng-container>
          {{ objective.name }}: {{ xAxis.format(model.name) }}<br />
          {{ objectiveRef.name }}: {{ yAxis.format(model.value) }}
        </div>
      </div>
    </ng-template>

    <dt-line-area-chart
      [lineChartSeries]="lineChartSeries"
      [areaChartSeries]="areaChartSeries"
      [textCircleSeries]="textCircleSeries"
      [textCircleTooltipTemplate]="circleTooltipTemplate"
      [lineCircleTooltipTemplate]="circleTooltipTemplate"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
    >
    </dt-line-area-chart>
  </div>

  <div class="tab-container">
    <dt-tabs>
      <dt-tab [title]="'I'">
        <div class="content">
          <table lang="de" style="hyphens: auto">
            <tr>
              <th class="highlight">{{ objectiveRef.name }}</th>
              <th class="center-cell"></th>
              <th class="highlight">{{ objective.name }}</th>
            </tr>
            <tr>
              <td colspan="3">
                <ng-container i18n>Ich finde die Alternative</ng-container>
                <ng-container *ngIf="explanation.alternativeName" i18n
                  >„{{ explanation.alternativeName }}“ mit den Zielausprägungen
                </ng-container>
              </td>
            </tr>
            <tr>
              <td dtRegexBlock [text]="explanation.referencePoint[1]" [regex]="'(\\(.*?\\))'" class="highlight"></td>
              <td class="center-cell">&</td>
              <td dtRegexBlock [text]="explanation.referencePoint[0]" [regex]="'(\\(.*?\\))'" class="highlight"></td>
            </tr>
            <tr *ngIf="explanation.atLeast != null">
              <td colspan="3">
                <ng-container i18n>mindestens so gut wie eine andere Alternative mit den Zielausprägungen</ng-container>
              </td>
            </tr>
            <tr *ngIf="explanation.atLeast != null">
              <td dtRegexBlock [text]="explanation.atLeast[1]" [regex]="'(\\(.*?\\))'" class="highlight"></td>
              <td class="center-cell">&</td>
              <td dtRegexBlock [text]="explanation.atLeast[0]" [regex]="'(\\(.*?\\))'" class="highlight"></td>
            </tr>
            <tr>
              <td colspan="3">
                <ng-container *ngIf="explanation.atLeast != null; then ref1_atMost; else ref1_equallyGood"></ng-container>
              </td>
            </tr>
            <tr>
              <td dtRegexBlock [text]="explanation.atMost[1]" [regex]="'(\\(.*?\\))'" class="highlight"></td>
              <td class="center-cell">&</td>
              <td dtRegexBlock [text]="explanation.atMost[0]" [regex]="'(\\(.*?\\))'" class="highlight"></td>
            </tr>
          </table>

          <ng-template #ref1_atMost i18n>aber maximal so gut wie eine Alternative mit den Zielausprägungen</ng-template>
          <ng-template #ref1_equallyGood i18n>genauso gut wie eine Alternative mit</ng-template>
        </div>
      </dt-tab>

      <dt-tab [title]="'II'">
        <div class="content">
          <p i18n
            >Ich bin bereit, für eine Verbesserung im Ziel <span class="objective-name">"{{ objective.name }}"</span>
            <ng-container *ngIf="explanation2.targetIncreaseLinear"> um {{ explanation2.targetIncreaseLinear.of }}</ng-container>
            <ng-container *ngIf="explanation2.targetIncrease">
              von {{ explanation2.targetIncrease.from }} auf {{ explanation2.targetIncrease.to }}</ng-container
            >
            eine Verschlechterung im Ziel „{{ objectiveRef.name }}“
            <ng-container *ngIf="explanation2.referenceDecreaseLinear">
              um
              <ng-container *ngIf="explanation2.referenceDecreaseLinear.of[0] === explanation2.referenceDecreaseLinear.of[1]">{{
                explanation2.referenceDecreaseLinear.of[0]
              }}</ng-container>
              <ng-container *ngIf="explanation2.referenceDecreaseLinear.of[0] !== explanation2.referenceDecreaseLinear.of[1]"
                >zwischen {{ explanation2.referenceDecreaseLinear.of[1] }} und
                {{ explanation2.referenceDecreaseLinear.of[0] }}</ng-container
              >
            </ng-container>
            <ng-container *ngIf="explanation2.referenceDecrease">
              von
              <ng-container *ngIf="explanation2.referenceDecrease.from[0] === explanation2.referenceDecrease.from[1]">{{
                explanation2.referenceDecrease.from[0]
              }}</ng-container>
              <ng-container *ngIf="explanation2.referenceDecrease.from[0] !== explanation2.referenceDecrease.from[1]"
                >zwischen {{ explanation2.referenceDecrease.from[1] }} und {{ explanation2.referenceDecrease.from[0] }}</ng-container
              >
              auf
              <ng-container *ngIf="explanation2.referenceDecrease.to[0] === explanation2.referenceDecrease.to[1]">{{
                explanation2.referenceDecrease.to[0]
              }}</ng-container>
              <ng-container *ngIf="explanation2.referenceDecrease.to[0] !== explanation2.referenceDecrease.to[1]"
                >zwischen {{ explanation2.referenceDecrease.to[1] }} und {{ explanation2.referenceDecrease.to[0] }}</ng-container
              >
            </ng-container>
            in Kauf zu nehmen.</p
          >
        </div>
      </dt-tab>

      <div class="tabs-footer">
        <mat-form-field subscriptSizing="dynamic" class="dt-number-input button-form-field">
          <mat-label i18n>Zielgewichtung</mat-label>
          <input matInput value="0" />
          <div class="button-wrapper">
            <button (dtDynamicChange)="adjustWeighting(-1)" [disabled]="weighting[objectiveIdx].value === 1" matRipple>&ndash;</button>
            <button (dtDynamicChange)="adjustWeighting(1)" [disabled]="weighting[objectiveIdx].value === 1000" matRipple>+</button>
          </div>
        </mat-form-field>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-form-field subscriptSizing="dynamic" class="dt-number-input button-form-field">
          <mat-label i18n>Präzisionsintervall</mat-label>
          <input matInput value="0" />
          <div class="button-wrapper">
            <button (dtDynamicChange)="adjustPrecision(-1)" [disabled]="weighting[objectiveIdx].precision === 0" matRipple>&ndash;</button>
            <button (dtDynamicChange)="adjustPrecision(1)" [disabled]="weighting[objectiveIdx].precision === maxPrecision" matRipple
              >+
            </button>
          </div>
        </mat-form-field>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-form-field subscriptSizing="dynamic" class="dt-number-input" hideRequiredMarker>
          <mat-label i18n>Zahlenrundung</mat-label>
          <dt-input-spinner
            (increase)="updateSigDigits(sigDigits + 1)"
            (decrease)="updateSigDigits(sigDigits - 1)"
            [plusDisabled]="sigDigits === 10"
            [minusDisabled]="sigDigits === 0"
          >
            <input
              matInput
              type="number"
              step="1"
              min="0"
              max="10"
              [ngModel]="sigDigits"
              (ngModelChange)="updateSigDigits($event)"
              [enableScroll]="true"
              required
            />
          </dt-input-spinner>
        </mat-form-field>
        <mat-divider [vertical]="true"></mat-divider>
        <button class="tradeoff-button" [class.active]="isTradeoffActive" (click)="openTradeoffModal()" matRipple>
          <mat-icon>discover_tune</mat-icon>
        </button>
      </div>
    </dt-tabs>

    <div class="options-container">
      <div class="option-box">
        <div>
          <div i18n>Bezugspunkt</div>
          <input
            type="range"
            min="0"
            [max]="referencePoints.length - 1"
            step="1"
            title="Bezugspunkt"
            [(ngModel)]="activeReferencePointIndex"
            class="range-input"
            (input)="onReferencePointChange()"
            i18n-title
          />
        </div>
      </div>

      <div class="option-box">
        <div>
          <div i18n>Vergleichspunkt</div>
          <input
            type="range"
            [min]="comparisonPointXMin"
            [max]="comparisonPointXMax"
            [step]="(comparisonPointXMax - comparisonPointXMin) / comparisonPointSteps"
            title="Vergleichspunkt"
            [(ngModel)]="comparisonPointX"
            class="range-input"
            (change)="onChanges(true)"
            (input)="onChanges(true)"
            i18n-title
          />
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #invalidExplanationIII>
  <span i18n>Diese beiden Punkte induzieren keine gültige Zielgewichtung.</span>
</ng-template>
