.add-aspect-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .dt-inputbox {
    width: 100%;
  }

  dt-button {
    margin-left: 20px;
  }
}

.aspect-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;

  .aspect {
    margin: 8px 4px;
    width: 225px;
    height: 50px;
  }
}

.settings-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
