<div class="dt-help-padding">
  <p i18n
    >In das Eingabefeld kannst Du einzelne Aspekte eintragen, die Dir in der Entscheidungssituation grundsätzlich von Bedeutung sind. Klicke
    auf „Aspekt hinzufügen“ oder „Enter“ auf Deiner Tastatur, um Deine Eingaben als Boxen in der Liste unter dem Eingabefeld zu ergänzen.</p
  >

  <p i18n
    >Du kannst Deine Aspekte in der Liste durch Klicken auf die Boxen jederzeit ändern und auch löschen. Per Drag &amp; Drop kannst Du alle
    Aspekte verschieben und Deine Liste so sortieren.</p
  >

  <p i18n
    >Oben rechts findest Du eine Filterfunktion, mit der Du Dir nur bestimmte Aspekte anzeigen lassen kannst. Es gibt die folgenden drei
    Filtereinstellungen:</p
  >

  <ul>
    <li i18n>Aktuelle Aspekte: Zeigt Dir alle Aspekte an, die Du in allen Teilschritten erarbeitet hast (auch in späteren als diesem).</li>
    <li i18n
      >Bis zu diesem Schritt: Zeigt Dir diejenigen Aspekte an, die nur in diesem Schritt und den Schritten davor ermittelt wurden.</li
    >
    <li i18n>Aus diesem Schritt: Zeigt Dir alle Aspekte an, die nur in diesem Schritt gefunden wurden.</li>
  </ul>
  <br />
  <p i18n>Beachte, dass gelöschte Aspekte in Deiner Historie ebenfalls nicht mehr angezeigt werden.</p>
</div>
