<p>
  <ng-container *ngIf="ec0" [ngSwitch]="error.code">
    <ng-container *ngSwitchCase="100" i18n>Du hast aktuell kein Projekt geöffnet.</ng-container>
    <ng-container *ngSwitchCase="105" i18n>Du musst zuerst eine Entscheidungsfrage definieren.</ng-container>
    <ng-container *ngSwitchCase="110" i18n>Es muss mindestens ein Ziel definiert werden.</ng-container>
    <ng-container *ngSwitchCase="111" i18n>Jedes Ziel muss einen Namen haben.</ng-container>
    <ng-container *ngSwitchCase="112" i18n>Der Typ des Ziels muss gesetzt sein.</ng-container>
    <ng-container *ngSwitchCase="113" i18n>Ausprägungen numerischer Ziele müssen Zahlen sein.</ng-container>
    <ng-container *ngSwitchCase="114" i18n>Alle Ausprägungen eines Ziels müssen benannt werden.</ng-container>
    <ng-container *ngSwitchCase="115" i18n>Verbale Ziele müssen mindestens 2 Ausprägungen haben.</ng-container>
    <ng-container *ngSwitchCase="116" i18n>Indikatoren müssen benannt werden.</ng-container>
    <ng-container *ngSwitchCase="117" i18n>Ein Indikatorziel muss mindestens einen Indikator haben.</ng-container>
    <ng-container *ngSwitchCase="118" i18n>Die Grenzwerte von Indikatoren müssen ein Intervall aufspannen.</ng-container>
    <ng-container *ngSwitchCase="119" i18n>Koeffizienten von Indikatoren müssen Zahlen sein.</ng-container>
    <ng-container *ngSwitchCase="120" i18n>Bitte benenne den Einflussfaktor.</ng-container>
    <ng-container *ngSwitchCase="121" i18n>Einflussfaktoren müssen mindestens 2 Zustände haben.</ng-container>
    <ng-container *ngSwitchCase="122" i18n>Die Wahrscheinlichkeiten der Zustände sind ungültig.</ng-container>
    <ng-container *ngSwitchCase="123" i18n>Bitte benenne alle Zustände.</ng-container>
    <ng-container *ngSwitchCase="130" i18n>Es müssen mindestens zwei Alternativen definiert werden.</ng-container>
    <ng-container *ngSwitchCase="131" i18n>Alle Alternativen müssen benannt werden.</ng-container>
    <ng-container *ngSwitchCase="144" i18n>Der Nutzen der schlechtesten Ausprägung muss 0 sein.</ng-container>
    <ng-container *ngSwitchCase="145" i18n>Der Nutzen der besten Ausprägung muss 100 sein.</ng-container>
    <ng-container *ngSwitchCase="146" i18n
      >Der Nutzen einer Ausprägung muss größer sein als der Nutzen der schlechteren Ausprägung.</ng-container
    >
    <ng-container *ngSwitchCase="150" i18n>Es muss ein Ziel gesetzt werden.</ng-container>
    <ng-container *ngSwitchCase="151" i18n>Das ausgewählte Ziel ist ungültig.</ng-container>
    <ng-container *ngSwitchCase="160" i18n>Zielgewichtungen müssen mindestens 0 sein.</ng-container>
    <ng-container *ngSwitchCase="161" i18n>Zielgewichtungen dürfen höchstens 1000 sein.</ng-container>
    <ng-container *ngSwitchCase="163" i18n>Eine Evaluation ist erst dann möglich, wenn die Zielgewichte angegeben wurden.</ng-container>
    <ng-container *ngSwitchCase="164" i18n>Für die Evaluation muss mindestens ein Zielgewicht positiv sein.</ng-container>
    <ng-container *ngSwitchCase="170" i18n>Alle Ausprägungen müssen gesetzt sein.</ng-container>
    <ng-container *ngSwitchCase="175" i18n>Der angegebene Wert ist ungültig</ng-container>
    <ng-container *ngSwitchCase="177" i18n>Mehrere Indikatorwerte, obwohl die Skala keine Indikatorskala ist.</ng-container>
    <ng-container *ngSwitchCase="178" i18n>Die Anzahl der Werte stimmt nicht mit der Anzahl der Indikatoren überein.</ng-container>
    <ng-container *ngSwitchCase="180" i18n>Die Anzahl der Ausprägungen stimmt nicht mit der Anzahl an Alternativen überein.</ng-container>
    <ng-container *ngSwitchCase="186" i18n
      >Die ausgewählten Indikatorwerte resultieren in einem Wert, der außerhalb der Skala liegt.</ng-container
    >
    <ng-container *ngSwitchCase="200" i18n>Bitte besuche zuerst die vorherigen Schritte oder gehe direkt zur Zieleingabe.</ng-container>
    <ng-container *ngSwitchCase="201" i18n>Es existiert nur ein Ziel. Überspringe Zielgewichtung.</ng-container>
  </ng-container>

  <ng-container *ngIf="ec1" [ngSwitch]="error.code">
    <ng-container *ngSwitchCase="140" i18n>Ziel &bdquo;{{ ec1.args[0] }}&ldquo; existiert nicht.</ng-container>
    <ng-container *ngSwitchCase="141" i18n>Das Ziel &bdquo;{{ ec1.args[0] }}&ldquo; ist nicht definiert.</ng-container>
    <ng-container *ngSwitchCase="142" i18n>Die Nutzenfunktion für Ziel &bdquo;{{ ec1.args[0] }}&ldquo; ist ungültig.</ng-container>
    <ng-container *ngSwitchCase="143" i18n
      >Die Anzahl der Ausprägungen von Ziel &bdquo;{{ ec1.args[0] }}&ldquo; stimmen nicht mit der Anzahl der Nutzenwerte
      überein.</ng-container
    >
    <ng-container *ngSwitchCase="162" i18n
      >Du hast noch keinen Trade-off für das Ziel &bdquo;{{ ec1.args[0] }}&ldquo; vorgenommen.</ng-container
    >
    <ng-container *ngSwitchCase="171" i18n>Werte dürfen nicht größer {{ ec1.args[0] }} sein.</ng-container>
    <ng-container *ngSwitchCase="172" i18n>Werte dürfen nicht größer {{ ec1.args[0] }} sein.</ng-container>
    <ng-container *ngSwitchCase="173" i18n>Werte dürfen nicht kleiner {{ ec1.args[0] }} sein.</ng-container>
    <ng-container *ngSwitchCase="174" i18n>Werte dürfen nicht kleiner {{ ec1.args[0] }} sein.</ng-container>
    <ng-container *ngSwitchCase="181" i18n
      >Die Anzahl der Ausprägungen stimmt nicht mit der Anzahl der Ziele überein (Alternative &bdquo;{{
        ec1.args[0]
      }}&ldquo;).</ng-container
    >
  </ng-container>

  <ng-container *ngIf="ec2" [ngSwitch]="error.code">
    <ng-container *ngSwitchCase="182" i18n
      >Ausprägung existiert nicht (Alternative &bdquo;{{ ec2.args[0] }}&ldquo;, Ziel &bdquo;{{ ec2.args[1] }}&ldquo;).</ng-container
    >
    <ng-container *ngSwitchCase="183" i18n
      >Die Anzahl der Werte stimmt nicht mit der Anzahl der Zustände überein (Alternative &bdquo;{{ ec2.args[0] }}&ldquo;, Ziel &bdquo;{{
        ec2.args[1]
      }}&ldquo;).</ng-container
    >
    <ng-container *ngSwitchCase="185" i18n
      >Ausprägung nicht definiert: Alternative &bdquo;{{ ec2.args[0] }}&ldquo;, Ziel &bdquo;{{ ec2.args[1] }}&ldquo;.</ng-container
    >
  </ng-container>

  <ng-container *ngIf="ec3" [ngSwitch]="error.code">
    <ng-container *ngSwitchCase="184" i18n
      >Ausprägung nicht vollständig definiert: Alternative &bdquo;{{ ec3.args[0] }}&ldquo;, Ziel &bdquo;{{ ec3.args[1] }}&ldquo;,
      Einflussfaktor Zustand &bdquo;{{ ec3.args[2] }}&ldquo;.</ng-container
    >
  </ng-container>
</p>
