@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  border-top: 1px solid #d2d2d2;
}

.loading,
.offline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.offline {
  font-style: italic;
}

.mobile-wrapper {
  display: flex;
  width: 100%;

  &:not(.mobile-mode) {
    overflow-y: auto;

    .list-container {
      overflow: auto;
    }

    .show-details-button {
      display: none;
    }
  }

  &.mobile-mode {
    .list-container {
      width: 100%;
    }

    .detail-container {
      display: none;
    }
  }
}

.list-container {
  border-right: 1px solid #d2d2d2;

  .list-item {
    @include dt.typography-level-old(body-2);
    padding: 8px 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(odd) {
      background-color: #f5f5f5;
    }

    &.selected {
      background-color: #e5e5e5;
    }
  }

  mat-radio-button {
    flex: 1;
    min-width: 0;
    ::ng-deep label {
      flex: 1;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.detail-container {
  padding: 0 24px 0 16px;
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  .no-template-text {
    margin: 10px 0;
  }
}

dt-inputbox {
  display: block;
  margin: 10px 0;
}

.popover {
  background-color: white;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 5px;
}
