<div class="dt-help-padding">
  <p i18n
    >In diesem Schritt musst Du eine Ergebnismatrix ausfüllen, d.&nbsp;h. Du musst angeben, welche Auswirkungen Deine Alternativen in den
    einzelnen Zielen haben. In einer Ergebnismatrix fließen die Ergebnisse aus den vorherigen Schritten zusammen: Die Alternativen werden in
    den Zeilen und die Ziele in den Spalten abgetragen und jedes Matrixfeld enthält das (voraussichtliche) Ergebnis der betrachteten
    Alternative in dem jeweiligen Ziel (Wirkungsprognose). Da Du in diesem Schritt viele Schätzungen abgeben musst, ist er sehr
    fehleranfällig. Deshalb beachte bitte die bekannten Fehlerquellen, die unter „Weitere Hinweise“ aufgeführt sind.</p
  >
  <p i18n
    >Eine ausgefüllte Ergebnismatrix gibt Dir in jedem Falle schon einmal eine gute Übersicht über alle Handlungsoptionen und die Ergebnisse
    in den relevanten Zielen. Um jedoch in den weiteren Schritten gut zwischen den Vor- und Nachteilen der einzelnen Optionen abwägen zu
    können, ist es notwendig, schon in der Ergebnismatrix für eine gute Vergleichbarkeit der Ergebnisse zu sorgen. Es sollte also
    beispielsweise in jeder Spalte, d.&nbsp;h. in jedem Ziel erkennbar sein, welche Option das beste Ergebnis liefert, welche das zweitbeste
    etc. Zugleich sollte auch erkennbar sein, wie groß die entsprechenden Unterschiede zwischen den Ergebnissen sind. Um dies umzusetzen,
    braucht man für jedes Ziel – bildlich gesprochen – einen Zollstock, den man an jede Option anlegen kann. Was beim Zollstock die
    Zentimeterskala ist, muss in unserem Fall durch eine transparente und nachvollziehbare Messskala für die möglichen Ergebnisse in diesem
    Ziel abgebildet werden.</p
  >
  <p i18n
    >Erst dann, wenn Du für jedes Ziel eine eindeutige und sinnvolle Skala gefunden hast, kannst Du mit der Abschätzung von
    Wirkungsprognosen loslegen.</p
  >
  <p i18n
    >Für weitere Informationen zum Wirkungsmodell empfehlen wir ein
    <a (click)="youtubeModal1.open()">Video aus der digitalen Vorlesung „Entscheidungslehre“</a>, veröffentlicht auf der Seite des
    Fördervereins Reflektiert Entscheiden.</p
  >
  <dt-youtube-modal i18n-modalTitle modalTitle="Schritt 4" [videoId]="'PZbfkBqgxq8'" #youtubeModal1></dt-youtube-modal>
</div>
