<dt-modal-content (closeClick)="cancel()">
  <ng-template #title i18n>Besitzrechte an Veranstaltung übertragen</ng-template>
  <ng-template #content>
    <p i18n>Übertrage die Besitzrechte an der Veranstaltung auf einen anderen Nutzer. Du bist weiterhin Editor der Veranstaltung.</p>
    <mat-form-field>
      <mat-label i18n>E-Mail-Adresse des neuen Besitzers</mat-label>
      <input matInput [formControl]="newOwnerEmailForm" />
      <mat-error *ngIf="newOwnerEmailForm.errors?.required || newOwnerEmailForm.errors?.email" i18n>Keine gültige E-Mail-Adresse</mat-error>
      <mat-error *ngIf="newOwnerEmailForm.errors?.unknownUser" i18n>Zu dieser E-Mail-Adresse existiert kein Benutzer</mat-error>
    </mat-form-field>
  </ng-template>
  <ng-template #footer>
    <dt-button
      [disabled]="newOwnerEmailForm.invalid || newOwnerEmailForm.disabled"
      (click)="submit()"
      [dtOverlayProgress]="newOwnerEmailForm.disabled"
      i18n
      >Veranstaltung übertragen</dt-button
    >
    <dt-button type="raised-less" [disabled]="newOwnerEmailForm.disabled" (click)="cancel()" i18n>Abbrechen</dt-button>
  </ng-template>
</dt-modal-content>
