<dt-step-title *ngIf="showTitle" step="decisionStatement" i18n
  >For&shy;mu&shy;lie&shy;rung der Ent&shy;schei&shy;dungs&shy;fra&shy;ge</dt-step-title
>

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
  <ng-template #description>
    <ng-container *dtProjectMode="'educational'" i18n>Hier siehst Du das Ergebnis des ersten Schritts.</ng-container>
    <ng-container *dtProjectMode="'professional'" i18n
      >Hier kannst Du Deine unterstellten Annahmen konkretisieren und Abgrenzungen in der Entscheidungsfrage vornehmen. Diese Angaben helfen
      Dir, ein klareres Verständnis der betrachteten Entscheidungsfrage zu erlangen.</ng-container
    >
    <ng-container *dtProjectMode="'starter'" i18n>Formuliere Deine Entscheidungsfrage.</ng-container>
  </ng-template>
  <ng-template #subDescription>
    <ng-container *dtProjectMode="'educational'" i18n>Du kannst an dieser Stelle weiterhin Änderungen vornehmen.</ng-container>
    <ng-container *dtProjectMode="'starter'" i18n
      >Wenn Du in der Entscheidungssituation bereits Annahmen bzw. Vorentscheidungen getroffen hast oder später noch nachgelagerte
      Entscheidungen treffen musst, trage diese auch ein.</ng-container
    >
  </ng-template>
</dt-step-description>

<div>
  <dt-decision-statement-box
    [(decisionStatement)]="decisionData.decisionStatement.statement"
    [decisionStatementHint]="decisionData.decisionStatement.statement_attempt"
  ></dt-decision-statement-box>

  <div class="notes-container">
    <div>
      <span i18n>Ich gehe hierbei von folgenden Annahmen oder Vorentscheidungen aus:</span>
      <dt-decision-statement-note-list [noteArray]="decisionData.decisionStatement.preNotesFinal"></dt-decision-statement-note-list>
    </div>
    <div>
      <span i18n>Später oder unabhängig von der aktuellen Frage muss ich noch entscheiden über:</span>
      <dt-decision-statement-note-list [noteArray]="decisionData.decisionStatement.afterNotesFinal"></dt-decision-statement-note-list>
    </div>
  </div>
</div>

<ng-container *dtProjectMode="'starter'">
  <div *ngIf="showTemplateHint">
    <p class="template-text" i18n
      >Hattest Du geprüft, ob es für Deine Entscheidungsfrage ein vorbereitetes Template gibt?<br />
      Ansonsten schau noch einmal <a (click)="templateSelection.open()">hier</a> nach.</p
    >

    <dt-modal #templateSelection [flexContent]="true" [contentPadding]="false">
      <ng-template #title i18n>Template auswählen</ng-template>
      <ng-template #content>
        <p class="template-selection">Du kannst ein Template für Dein Projekt auswählen.</p>
        <dt-template-selection [(value)]="projectTemplate"></dt-template-selection>
      </ng-template>
      <ng-template #footer>
        <dt-button *ngIf="projectTemplate === 'blank'; else notBlank" (click)="templateSelection.close()" i18n></dt-button>
        <ng-template #notBlank>
          <dt-button [disabled]="projectTemplate == null" (click)="loadTemplate()" i18n>Template laden</dt-button>
        </ng-template>

        <dt-button (click)="templateSelection.close()" type="raised-less" i18n>Abbrechen</dt-button>
      </ng-template>
    </dt-modal>
  </div>
</ng-container>

<ng-template #starterModeHelp>
  <div class="dt-help-padding">
    <p i18n
      >Mithilfe der Entscheidungsfrage kannst Du klar formulieren, was Du eigentlich genau entscheiden willst. Beginne die Frage am besten
      mit &bdquo;Wie&ldquo; oder einem anderen &bdquo;W&ldquo;-Wort. Je breiter und allgemeiner Du die Frage stellst, desto mehr
      Handlungsalternativen kommen in Frage und desto eher kannst Du Deine Entscheidungssituation als Chance betrachten, Deine aktuelle
      Situation zu verbessern.</p
    >
  </div>
</ng-template>

<ng-template #helpTemplate>
  <div class="dt-help-padding">
    <p i18n
      >Du hast Schritt 1, die Formulierung der Entscheidungsfrage, abgeschlossen. An dieser Stelle kannst Du jederzeit noch Änderungen
      vornehmen.</p
    >
    <p i18n
      >Du solltest auf dieser Ergebnisseite nun eine Selbsteinschätzung vornehmen, wie hoch die Qualität Deiner erzielten Ergebnisse ist.
      Klicke auf den Button „Qualität bewerten“ unten in der Mitte. In dem Fenster, das sich öffnet, wird Dir ein Balken mit einer Skala von
      null bis zehn angezeigt. Gib durch Klicken in den Balken oder Verschieben von diesem an, wie hoch die von Dir eingeschätzte Qualität
      der Ergebnisse des Schrittes ist. Weitere Hintergrundinformationen zur Entscheidungsqualität findest Du zum Schluss in der
      Abschlussbetrachtung. Dort wirst Du auch eine Übersicht darüber finden, wie hoch Du die Qualität in den anderen Schritten eingeschätzt
      hast. Eine solche Übersicht findest Du auch in dem Fenster, das sich bei Klick auf den Projektnamen oben in der Kopfleiste dieser
      Seite öffnet.</p
    >
  </div>
</ng-template>
