<div class="dt-limit-width">
  <dt-step-title *ngIf="showTitle" step="impactModel" i18n
    >{{ 'impactModel' | naviStep }}: Über&shy;sicht über ver&shy;wen&shy;de&shy;te Ein&shy;fluss&shy;fak&shy;to&shy;ren</dt-step-title
  >

  <dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
    <ng-template #description>
      <ng-container *ngIf="!decisionData.isProfessional()" i18n
        >Hier kannst Du Deine definierten Einflussfaktoren anschauen bzw. bearbeiten und neue hinzufügen.</ng-container
      >

      <ng-container *ngIf="decisionData.isProfessional()" i18n
        >Hier kannst Du Deine Einflussfaktoren sortieren, bearbeiten und neue hinzufügen. Außerdem kannst Du die Einflussfaktoren hier
        genauer dokumentieren.</ng-container
      >
    </ng-template>
    <ng-template #subDescription i18n
      >Einflussfaktoren dienen dazu, unsichere Ausprägungen der Alternativen in Abhängigkeit von unsicheren Ereignissen abzubilden, bspw.
      wenn der Spaß an einer Reise vom Wetter (Regen oder Sonne) abhängt.</ng-template
    >
  </dt-step-description>
</div>

<div class="list" [dtWidthTrigger]="{ 'two-column': 1299, 'one-column': 900 }" (dtWidthTriggerStateChange)="onWidthTriggerChange($event)">
  <div class="column" *ngFor="let column of influenceFactorColumns">
    <dt-influence-factor-box
      *ngFor="let influenceFactor of column"
      [influenceFactor]="influenceFactor"
      [usageCount]="influenceFactors.get(influenceFactor).usage"
      (deleteClick)="deleteInfluenceFactor(influenceFactor)"
      (isNormalizedChange)="influenceFactors.get(influenceFactor).isNormalized = $event"
    ></dt-influence-factor-box>
  </div>
</div>

<div class="add-influence-factor">
  <dt-button (click)="addInfluenceFactor()" i18n>Einflussfaktor hinzufügen</dt-button>
</div>
