p {
  margin: 16px;
}

.list-item {
  padding: 8px 16px;

  display: flex;
  align-items: center;
  gap: 16px;

  border-top: 1px solid #e0e0e0;
  cursor: move;
}

button {
  margin: 0 4px;
}

.cdk-drag-preview {
  @extend .list-item;

  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
