<dt-inputbox class="decision-statement-box" [deleteButton]="false" [collapsibleButton]="false" [draggable]="false">
  <div class="caption-wrapper" i18n>Meine Entscheidungsfrage lautet:</div>
  <div class="content-wrapper" [ngSwitch]="dropDownMode">
    <div *ngSwitchCase="false" class="simple-input">
      <ng-container [ngTemplateOutlet]="inputField"></ng-container>
    </div>
    <mat-expansion-panel *ngSwitchCase="true" (opened)="isExpanded = true" (closed)="isExpanded = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container [ngTemplateOutlet]="inputField"></ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="statement-hint" #tooltip="matTooltip" [matTooltip]="decisionStatementHint" [dtOverflow] [dtOverflowTooltip]="tooltip">
        {{ decisionStatementHint }}
      </div>
    </mat-expansion-panel>
  </div>
</dt-inputbox>

<ng-template #inputField>
  <div class="statement-wrapper" (click)="$event.stopImmediatePropagation()">
    <div
      #decisionStatementInput
      contenteditable
      class="statement-input"
      [textContent]="decisionStatement"
      (blur)="commitDecisionStatement()"
      (keydown.enter)="$event.preventDefault()"
      (keydown)="$event.stopImmediatePropagation()"
      data-cy="statement-input"
    ></div>
  </div>
</ng-template>
