:host {
  display: block;
}

.dt-tabs {
  display: flex;
  border: 1px solid rgba(59, 76, 91, 0.2);
  border-bottom-width: 0;
  border-radius: 2px 2px 0 0;
}

.dt-tab {
  flex: 1;

  line-height: 48px;
  height: 48px;

  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  background-color: rgba(59, 76, 91, 0.1);
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;
  transition-property: background-color;
}

.dt-tab:not(.disabled) {
  cursor: pointer;
}

.dt-tab.underline {
  border-bottom: 3px solid hsla(0, 0%, 85%, 1);
}

.dt-tab.active {
  border-bottom: 3px solid rgba(248, 147, 30, 1);
}

.dt-tab:not(.disabled):hover {
  background-color: rgba(0, 0, 0, 0.1);
}
