<dt-step-title *ngIf="showTitle" step="results" i18n>{{ 'results' | naviStep }}: Risikovergleich</dt-step-title>

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()" [withBiggerMargin]="!decisionData.isProfessional()">
  <ng-template #description [ngSwitch]="decisionData.isProfessional()">
    <ng-container *ngSwitchCase="true" i18n
      >Hier kannst Du die Risiken der Alternativen auf Basis der erreichbaren Nutzenwerte vergleichen.</ng-container
    >
    <ng-container *ngSwitchCase="false" i18n>Vergleiche die Risiken der Alternativen auf Basis der erreichbaren Nutzenwerte.</ng-container>
  </ng-template>
  <ng-template #subDescription i18n
    >Mit der Anzahl der Simulationsschritte kannst Du die Genauigkeit der Analyseergebnisse beeinflussen.</ng-template
  >
</dt-step-description>

<dt-select-line>
  <dt-select [(selectedOptions)]="selectedAlternativeIndices" (selectedOptionsChange)="updateResults()" [multiple]="true">
    <dt-select-label i18n>Alternativen</dt-select-label>
    <ng-container *ngFor="let alternative of decisionData.alternatives; let i = index">
      <dt-select-option [value]="i">{{ alternative.name }}</dt-select-option>
    </ng-container>
  </dt-select>
</dt-select-line>

<dt-risk-profile-chart
  xCaption="Nutzenwert in %"
  i18n-xCaption
  yCaption="Überschreitungswahrscheinlichkeit in %"
  i18n-yCaption
  [xLabels]="xLabels"
  [dataSeries]="dataSeries"
>
  <ng-template #tooltipTemplate let-seriesIndex="seriesIndex" let-pointIndex="pointIndex">
    <div class="point-tooltip">
      <ng-container i18n>Nutzenwert</ng-container>: {{ dataSeries[seriesIndex].dataPoints[pointIndex].x | percent : '1.0-2' }};
      <ng-container i18n>Überschreitungswahrscheinlichkeit</ng-container>:
      {{ dataSeries[seriesIndex].dataPoints[pointIndex].y | percent : '1.0-2' }}
    </div>
  </ng-template>
</dt-risk-profile-chart>

<div class="calculation-info-box">
  <div class="header" [ngSwitch]="state" [class.done]="state === 'done'" [dtOverlayProgress]="state === 'calculating'">
    <ng-container *ngSwitchCase="'calculating'" i18n>Berechnung läuft…</ng-container>
    <ng-container *ngSwitchCase="'paused'" i18n>Berechnung pausiert</ng-container>
    <ng-container *ngSwitchCase="'done'" i18n>Stabiles Ergebnis erreicht</ng-container>
  </div>
  <div class="content">
    <table>
      <tr>
        <td i18n>Simulationsschritte</td>
        <td>{{ currentResult?.iterationCount ?? 0 | number }}</td>
      </tr>
      <tr>
        <td i18n>Verstrichene Zeit</td>
        <td>{{ elapsedTime / 1000 | number : '1.0-0' }}s</td>
      </tr>
    </table>
    <ng-container [ngSwitch]="isPaused">
      <dt-button *ngSwitchCase="false" (click)="pauseCalculation()" icon="pause" [noSubmit]="true" i18n>Berechnung pausieren</dt-button>
      <dt-button *ngSwitchCase="true" (click)="resumeCalculation()" icon="resume" [noSubmit]="true" data-cy="resume-button" i18n
        >Berechnung fortsetzen</dt-button
      >
    </ng-container>
  </div>
</div>
