@use 'variables' as dt;

h1.sub-title {
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 10px;
}

h1,
h4 {
  margin: 0;
}

.heading {
  display: flex;
}

.title {
  display: flex;
  align-items: center;
}

.circle-header {
  height: 32px;

  .circle {
    border: 1px solid dt.$blue;
    border-radius: 16px;
    width: 32px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
  }
}
