<div class="comparison-grid-container">
  <div class="comparison-grid" [style.grid-template-columns]="gridColumns">
    <div class="box header column row"></div>
    <div *ngFor="let objective of objectives" class="box objective column">
      {{ objective.name }}
    </div>

    <ng-container *ngFor="let rowObjective of objectives; index as objectiveIndexRow">
      <div class="box objective row">
        {{ rowObjective.name }}
      </div>
      <div
        *ngFor="let columnObjective of objectives; index as objectiveIndexColumn"
        class="box"
        [class.comparison]="objectiveIndexColumn > objectiveIndexRow"
        [class.unset]="pairComparisons[objectiveIndexRow][objectiveIndexColumn] === 'missing'"
        (click)="objectiveIndexColumn <= objectiveIndexRow || openComparisonModal(objectiveIndexRow, objectiveIndexColumn)"
      >
        <ng-container
          *ngIf="objectiveIndexColumn > objectiveIndexRow"
          [ngSwitch]="pairComparisons[objectiveIndexRow][objectiveIndexColumn]"
        >
          <span *ngSwitchCase="'missing'">?</span>
          <span *ngSwitchCase="'more'">{{ rowObjective.name }}</span>
          <span *ngSwitchCase="'less'">{{ columnObjective.name }}</span>
          <span *ngSwitchCase="'equal'" class="equal">Gleich wichtig</span>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #comparisonModal let-data let-dialogRef="dialogRef">
  <div class="klug-weight-comparison-modal">
    <div class="klug-weight-comparison-grid" [style.transform]="comparisonGridTransform">
      <div *ngFor="let comparison of pendingComparisons" class="weight-container">
        <div class="option objective" (click)="setComparisonResult('more') && dialogRef.close()">
          {{ objectives[comparison[0]].name }}<br />...ist mir wichtiger
        </div>
        <div class="option" (click)="setComparisonResult('equal') && dialogRef.close()"> Beides ist mir gleich wichtig </div>
        <div class="option objective" (click)="setComparisonResult('less') && dialogRef.close()">
          {{ objectives[comparison[1]].name }}<br />...ist mir wichtiger
        </div>
      </div>
    </div>
    <div #dummy></div>
  </div>
</ng-template>
