<dt-modal-content (closeClick)="close()">
  <ng-template #title>
    <ng-container *ngIf="tag; else newTag" i18n>Tag bearbeiten</ng-container>
    <ng-template #newTag i18n>Tag hinzufügen</ng-template>
  </ng-template>
  <ng-template #content>
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div>
        <mat-form-field>
          <mat-label i18n>Deutscher Name</mat-label>
          <input matInput type="text" formControlName="nameDe" />
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Englischer Name</mat-label>
          <input matInput type="text" formControlName="nameEn" />
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Gewicht</mat-label>
          <input matInput type="number" min="0" step="1" formControlName="weight" />
          <mat-error *ngIf="formGroup.controls.weight.invalid" i18n>Bitte gib eine positive Ganzzahl ein</mat-error>
        </mat-form-field>
      </div>

      <div class="buttons-wrapper">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [dtOverlayProgress]="formGroup.disabled"
          [disabled]="formGroup.disabled || formGroup.invalid"
          i18n
          >Speichern</button
        >
        <button mat-stroked-button type="reset" (click)="close()" [disabled]="formGroup.disabled" i18n>Verwerfen</button>
        <button mat-stroked-button *ngIf="tag" color="warn" type="button" (click)="delete()" [disabled]="formGroup.disabled" i18n
          >Tag löschen</button
        >
      </div>
    </form>
  </ng-template>
</dt-modal-content>
