@use 'variables' as dt;

mat-tab-group {
  overflow: auto;

  ::ng-deep {
    .mdc-tab {
      background-color: dt.$blue-lighten-2;
      font-size: dt.font-size-old(body-1);

      span {
        color: rgba(255, 255, 255, 0.6) !important;
      }

      &.mdc-tab--active {
        span {
          color: #fff !important;
          font-weight: 700;
        }
      }
    }
  }
}

.title {
  font-size: dt.font-size-old(body-1);
  font-weight: 700;
  margin-bottom: 2px;
}

.section {
  padding: 8px 20px 12px 20px;
  display: flex;
  flex-direction: column;
}

.over-limit {
  color: #f44336;
}

span {
  font-size: dt.font-size-old(body-1);
}

.user-name {
  display: flex;
  align-items: center;
}

mat-form-field {
  max-width: 100%;
  min-width: 40ch;
}

pre {
  font-family: inherit;
  display: inline-block;
  width: 130px;
}

dt-rich-text-editor {
  max-height: 100%;
}

dt-decision-quality-chart {
  padding: 10px 0;
}

.project-progress-container {
  display: flex;

  > ul {
    list-style: inside;
  }
}
