@use '@angular/material' as mat;
@use 'variables' as dt;

.popover {
  @include mat.elevation(8);
  border-radius: 10px;
  background-color: white;

  padding: 8px;
  max-width: 250px;
  max-height: 300px;
  overflow-y: auto;
}

mat-chip-option {
  cursor: pointer;
  font-size: dt.font-size-old(caption);
}
