<mat-spinner *ngIf="data.loadingSpinner" color="accent" [diameter]="30"></mat-spinner>
<mat-icon *ngIf="data.icon">{{ data.icon }}</mat-icon>

<span>{{ data.message }}</span>

<button color="accent" *ngIf="data.dismissButton" (click)="dismissClick()" mat-button>Ok</button>
