@use 'variables' as dt;

.container {
  background-color: dt.$blue;
  color: white;
}

p {
  margin: 16px 32px;
}

.link-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: white;
    padding: 16px;

    &:hover {
      background-color: dt.$blue-darken-3;
      text-decoration: none;
    }
  }
}
