@use 'variables' as dt;

.join-event-container {
  border-top: 2px solid dt.$blue;
}

.status-container {
  display: flex;
  flex-direction: column;

  pointer-events: none;

  font-size: dt.font-size-old(caption);
  font-weight: 500;

  .green {
    color: darkgreen;
  }

  .red {
    color: red;
  }

  .orange {
    color: dt.$orange;
  }

  .gray {
    color: darkgray;
  }
}

mat-progress-bar {
  &:not(:only-child) {
    display: none;
  }
}

.loading-or-error {
  margin: 16px;

  mat-spinner {
    margin: 0 auto;
  }
}
