:host {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 40px;

  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
}

mat-form-field {
  text-align: center;

  &.ng-invalid {
    padding-bottom: 1.34375em;
  }
}

.klug-logo {
  width: 50vw;
  max-width: 600px;
}

.dt-logo {
  height: 3em;
}

.buttons {
  display: flex;
  gap: 10px;
}
