<div class="list-container" cdkDropList (cdkDropListDropped)="moveNotes($event)">
  <div class="list-item" *ngFor="let _ of noteArray; trackBy: track; let i = index" cdkDrag>
    <mat-icon class="drag-handle" cdkDragHandle>drag_handle</mat-icon>
    <input #noteInput (keydown.enter)="newRow(i + 1)" type="text" [readonly]="readonly" [(ngModel)]="noteArray[i]" />
    <button class="delete-button" [disabled]="noteArray.length === 1" (click)="removeNote(i)" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <button mat-button color="accent" (click)="newRow()" class="add-button">
    <mat-icon>add_box</mat-icon>
  </button>
</div>
