<div
  #node
  class="node with-add-buttons"
  [class.first]="depth === 0"
  [class.fundamental]="!forceAspect && depth === 1"
  [class.aspect]="forceAspect || depth > 1"
  [class.focused]="focused"
  [class.add-buttons-open]="areAddButtonsOpen()"
  [class.add-buttons-suggested]="areAddButtonsSuggested()"
  [class.add-buttons-closed]="areAddButtonsClosed()"
  [style.background-color]="displayBackgroundColor"
  (drop)="drop($event)"
  [attr.draggable]="draggable"
  (dragstart)="dragStart($event)"
  (dragend)="dragging = false"
>
  <input
    #input
    class="browser-default editable-label"
    type="text"
    [attr.disabled]="!dragging && editable ? undefined : true"
    [ngModel]="tree.value.name"
    (ngModelChange)="calcInputWidth($event)"
    (blur)="stopEdit()"
    (focus)="focusMe.emit()"
    (keydown.escape)="input.blur()"
    [style.color]="displayTextColor"
    [placeholder]="tree.value.placeholder || ''"
    (mouseenter)="draggable = false"
    (mouseleave)="draggable = true"
  />

  <ng-container *ngIf="editable && (enableAddAbove || enableAddBelow || enableAddRight || enableAddLeft)">
    <div class="suggest-add-buttons-catching-area" (click)="openAddButtons()">
      <div class="suggest-add-buttons">
        <mat-icon class="plus-icon">add</mat-icon>
      </div>
    </div>
    <div (click)="addAbove($event)" *ngIf="enableAddAbove" class="add top">
      <span class="plus">
        <mat-icon class="plus-icon">add</mat-icon>
      </span>
    </div>
    <div (click)="addBelow($event)" *ngIf="enableAddBelow" class="add bottom">
      <span class="plus">
        <mat-icon class="plus-icon">add</mat-icon>
      </span>
    </div>
    <div (click)="addRight($event)" *ngIf="enableAddRight" class="add right">
      <span class="plus">
        <mat-icon class="plus-icon">add</mat-icon>
      </span>
    </div>
    <div (click)="addLeft($event)" *ngIf="enableAddLeft" class="add left">
      <span class="plus">
        <mat-icon class="plus-icon">add</mat-icon>
      </span>
    </div>
  </ng-container>
  <ng-container *ngIf="!forceHideNoteBtn">
    <dt-note-btn
      [class.aspect-note-btn]="(tree.value.comment | richTextEmpty) && locationSequence.length !== 2"
      side="right"
      (click)="$event.stopPropagation()"
      [comment]="
        locationSequence.length === 2 && !useObjectivesFromTree ? decisionData.objectives[locationSequence[1]].comment : tree.value.comment
      "
      (commentChange)="
        locationSequence.length === 2 && !useObjectivesFromTree
          ? (decisionData.objectives[locationSequence[1]].comment = $event)
          : (tree.value.comment = $event)
      "
      [darkBackground]="locationSequence.length === 2"
      [caption]="tree.value.name | noteBtnPreset : 'objective'"
      [readonly]="!editable"
    >
      <dt-team-comments
        *ngIf="locationSequence.length === 2 && !useObjectivesFromTree"
        additional-modal-content
        [object]="decisionData.objectives[locationSequence[1]]"
      ></dt-team-comments>
    </dt-note-btn>
  </ng-container>

  <div
    #placeholder
    class="input-placeholder"
    [class.empty]="tree.value.name === '' && displayBackgroundColor === undefined"
    [hidden]="focused && focusable && allowInputSelection"
  >
  </div>
</div>
<ng-content></ng-content>
