<div class="note-btn-wrapper">
  <!-- orange triangle -->
  <svg
    *ngIf="triangle"
    [class.disabled]="disabled"
    width="14"
    height="14"
    (click)="!disabled && open()"
    [dtHoverPopover]="noteHover"
    [dtHoverPopoverDisableClick]="true"
    [dtHoverPopoverDisabled]="comment | richTextEmpty"
    [dtHoverPopoverPosition]="'right'"
    [dtHoverPopoverDelay]="500"
  >
    <polygon
      class="poly"
      [class.team]="hasTeamComments"
      points="0,0 14,0 14,14"
      [class.is-empty]="comment | richTextEmpty"
      [class.dark-background]="darkBackground"
    ></polygon>
  </svg>
</div>

<dt-modal #modalLargeCommentField (modalClose)="close()" [showFooter]="false" [flexContent]="true" [contentPadding]="false">
  <ng-template #title>
    <ng-container *ngIf="mainTitle; else defaultTitle">{{ mainTitle }}</ng-container>
    <ng-template #defaultTitle i18n>Notiz</ng-template>
  </ng-template>
  <ng-template #subtitle>
    <ng-container *ngIf="modalCaption">{{ modalCaption }}</ng-container>
  </ng-template>
  <ng-template #content>
    <dt-rich-text-editor
      [(text)]="comment"
      (textChange)="onCommentChange()"
      [modalPadding]="true"
      [readonly]="readonly"
      (click)="noteModalClick.emit()"
    ></dt-rich-text-editor>
    <ng-content select="[additional-modal-content]"></ng-content>
  </ng-template>
</dt-modal>

<ng-template #noteHover>
  <div class="note-hover-container mat-elevation-z3">
    <dt-rich-text-editor [(text)]="comment" (textChange)="onCommentChange()" [readonly]="readonly"></dt-rich-text-editor>
  </div>
</ng-template>
