<mat-form-field subscriptSizing="dynamic">
  <mat-label><ng-content></ng-content></mat-label>
  <mat-chip-grid #chipList>
    <mat-chip-row *ngFor="let tagId of selectedTagIds; let i = index" (removed)="remove(i)">
      {{ tagsById[tagId].name | localizedString }}
      <button matChipRemove><mat-icon>cancel</mat-icon></button>
    </mat-chip-row>
    <input
      placeholder="Tag eingeben"
      i18n-placeholder
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="add($event)"
      (focus)="inputFocus$.next()"
    />
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag.id">{{ tag.name | localizedString }}</mat-option>
  </mat-autocomplete>
</mat-form-field>
