@use 'variables' as dt;

.warning-row {
  display: flex;
  align-items: center;

  padding: 10px 16px;

  background-color: rgb(255, 244, 220);
}

mat-action-list {
  padding-top: 0;
  padding-bottom: 0;

  mat-list-item {
    button {
      margin-top: auto;
      margin-bottom: auto;
      color: dt.$foreground;
    }

    div:not(:first-child) {
      color: gray;
    }

    &:not(:last-child) {
      border-bottom: 1px solid lightgray;
    }
  }
}

.screen-header {
  display: flex;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.04);
  padding: 15px dt.$modal-padding;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);

  .mat-h3 {
    margin: 0;
    line-height: 1em;
    color: #28343e;
  }

  mat-icon {
    cursor: pointer;
    color: dt.$orange;
    margin-right: 10px;
  }
}

.screen-container {
  position: relative;
  padding: dt.$modal-padding;
}
