<dt-extendable-header i18n-headerName headerName="Ergebnisseite" variation="large" [initialOpening]="context === undefined">
  <p i18n
    >Auf dieser Seite siehst Du im Balkendiagramm die vom Entscheidungsnavi ermittelte Rangfolge Deiner Alternativen. Die Zahlen in den
    Balken sind die Nutzenerwartungswerte Deiner Alternativen, die auf Basis Deiner Eingaben im Wirkungsmodell, Deiner Nutzenfunktionen und
    Deiner Zielgewichte berechnet wurden. Der dunkelblau eingefärbte Balken gehört immer zu der Alternative, die den höchsten
    Nutzenerwartungswert erhält.</p
  >
  <p i18n
    >Die Alternativen sind standardmäßig nach der Reihenfolge der Nutzenerwartungswerte sortiert. Rechts über den Balken kannst Du diese
    Sortierung ändern und Dir die Reihenfolge nach Bauchgefühl anzeigen lassen, die Du am Ende des Schrittes „Alternativen“ angegeben hast.
    Rechts daneben kannst Du die Darstellungsart von „Einfach“ auf „Detailliert“ umstellen. In dieser Ansicht siehst Du, wie hoch die
    Nutzenwerte Deiner Alternativen in den einzelnen Zielen sind. Jedes Ziel erhält dabei eine eigene Farbe. Wenn Du auf die einzelnen
    farbigen Boxen klickst, kannst Du diese ein- und ausklappen, sodass Du Dir anschauen kannst, wie hoch die Nutzenerwartungswerte wären,
    wenn einzelne Ziele nicht berücksichtigt werden. Eine eventuell daraus entstehende Änderung in der Rangfolge der Alternativen wird Dir
    links neben dem Namen der Alternativen angezeigt.</p
  >
  <p i18n
    >Dir stehen nun mit der Sensitivitätsanalyse, der Pro und Contra Übersicht und dem Robustheitstest verschiedene Tools zur Verfügung, um
    das Ergebnis weiter zu analysieren und besser zu verstehen. Mithilfe des Buttons „Projekt abschließen“ gelangst Du in die
    Abschlussbetrachtung. Du kannst jedoch jederzeit zu Deinem Projekt zurückkehren, auch wenn Du den Button betätigt hast.</p
  >
</dt-extendable-header>

<dt-extendable-header
  i18n-headerName
  headerName="Sensitivitätsanalyse"
  variation="large"
  [initialOpening]="context === 'sensitivity-analysis'"
>
  <p i18n
    >Wie auf der Ergebnisseite siehst Du im Balkendiagramm oben die Rangfolge Deiner Alternativen nach Nutzenerwartungswerten. Darunter
    findest Du verschiedene im Laufe Deiner Arbeit eingestellte Parameter:</p
  >
  <ul>
    <li i18n>Deine Zielgewichte</li>
    <li i18n>Die Parameter c Deiner Nutzenfunktionen (numerische und Indikatorskalen)</li>
    <li i18n>Die Nutzenbewertungen aller Stufen Deiner verbalen Skalen (aus den Nutzenfunktionen)</li>
    <li i18n>Die eingestellten Wahrscheinlichkeiten der Zustände in Deinen Einflussfaktoren</li>
  </ul>
  <br />
  <p i18n
    >Mithilfe der Schieberegler kannst Du alle Parameter verstellen und schauen, wie sich das Ergebnis mit den neu eingestellten Parametern
    ändern würde. Die Balken im Diagramm ändern sich bei Veränderungen der Parameter automatisch mit und Änderungen in der Rangfolge der
    Alternativen werden Dir links neben den Namen der Alternativen angezeigt. Die etwas dunkleren Bereiche auf den Schiebereglern stellen
    die von Dir angegebenen Präzisionsintervalle dar. Deine Umstellungen werden nicht gespeichert, sodass Du ohne Bedenken alle Parameter
    verändern kannst. Um Deine Änderungen rückgängig zu machen, findest Du oben rechts in jeder Box einen Button, um die Parameter
    zurückzusetzen (<mat-icon>refresh</mat-icon>). Mit dem Pfeil rechts daneben kannst Du die Boxen einzeln einklappen
    (<mat-icon>expand_less</mat-icon>). Unten in der Navigationsleiste findest Du den Button „Parameter zurücksetzen“, um alle Einstellungen
    gleichzeitig wieder zurückzusetzen.</p
  >
  <p i18n
    >Über dem Balkendiagramm kannst Du in den Auswahlmenüs „Parameter“ und „Alternativen“ einstellen, welche Parameter bzw. Alternativen Dir
    angezeigt werden sollen. Standardmäßig sind alle variierbaren Parameter eingestellt. Beachte, dass Du mindestens eine Alternative
    ausgewählt lassen musst.</p
  >
  <p i18n
    >In dem Auswahlmenü ganz rechts kannst Du die Darstellungsart von „Einfach“ auf „Detailliert“ umstellen. In dieser Ansicht siehst Du,
    wie hoch die Nutzenwerte Deiner Alternativen in den einzelnen Zielen sind. Jedes Ziel erhält dabei eine eigene Farbe.</p
  >
  <p i18n>Mithilfe des „Zurück“ Buttons unten in der Navigationsleiste gelangst Du zurück zur Übersichtsseite.</p>
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Pros und Contras" variation="large" [initialOpening]="context === 'pro-contra'">
  <p i18n
    >Das Diagramm veranschaulicht für jedes Ziel die Vor- und Nachteile relativ zum Durchschnitt der jeweils ausgewählten Alternativen. Die
    grünen (roten) Balken stellen relative Vorteile (Nachteile) gegenüber den anderen Alternativen in dem jeweiligen Ziel dar.</p
  >
  <p i18n
    >Die Balkenhöhen stellen berechnete Nutzenunterschiede dar. Da in der Berechnung dieser Nutzenunterschiede auch die Zielgewichte
    berücksichtigt werden, fallen die Balken bei wichtigeren Zielen tendenziell größer aus.</p
  >
  <p i18n
    >Über dem Diagramm kannst Du die standardmäßige Beschriftung in Form von Zielausprägungen hin zu Nutzenunterschieden zum Durchschnitt
    der ausgewählten Alternativen umstellen. Zudem kannst Du auswählen, welche Alternativen Dir angezeigt werden sollen. Beachte, dass Du
    mindestens eine Alternative ausgewählt lassen musst.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Robustheitstest" variation="large" [initialOpening]="context === 'robustness-check'">
  <p i18n
    >Den Robustheitstest kannst Du nur dann durchführen, wenn Du Einflussfaktoren verwendet oder mindestens eine Angabe mit einem
    Präzisionsintervall versehen hast.</p
  >
  <p i18n
    >Wenn Du den Robustheitstest startest, wird dieser automatisch mit 1000 Simulationsschritten durchgeführt. Dabei werden Deine drei
    bestplatzierten Alternativen und alle Einflussfaktoren sowie von Dir eingegebene unpräzise Angaben automatisch mit in die Simulation
    einbezogen. Wenn die Berechnung des Robustheitstest abgeschlossen ist, siehst Du anhand der Prozentangaben im Ergebnis, wie häufig eine
    Alternative auf den jeweiligen Rangpositionen gelandet ist. Der Ø-Rang berechnet auf dieser Basis die durchschnittliche Rangposition
    jeder Alternative nach allen Simulationen. Rechts neben dem Balkendiagramm siehst Du, welche minimalen und maximalen Nutzenwerte die
    Alternativen in der Simulation erreicht haben.</p
  >
  <p i18n
    >Du kannst den Robustheitstest jederzeit mit anderen Simulationsschritten oder Parametern erneut durchführen. Mit dem Schieberegler
    unter dem Balkendiagramm stellst Du die gewünschte Anzahl an Simulationsschritten ein. Mehr Simulationsschritte verbessern die
    Genauigkeit des Ergebnisses, benötigen aber mehr Zeit. Wiederum darunter kannst Du die Faktoren auswählen, die im Robustheitstest
    Berücksichtigung finden sollen. Links kannst Du die Alternativen, in der Mitte die Einflussfaktoren und rechts daneben die unpräzisen
    Angaben wählen. Beachte, dass Du benutzerdefinierte Einflussfaktoren einzeln in die Simulation einbeziehen kannst, aber bei
    systemseitigen Einflussfaktoren nur alle oder gar keine. Mit den ausgewählten Einflussfaktoren werden in der Simulation alle möglichen
    Szenarien unter Berücksichtigung der jeweiligen Zustandswahrscheinlichkeiten durchgespielt (s. Weitere Hinweise). Wahrscheinlichere
    Szenarien werden in den Simulationen dabei häufiger gezogen als weniger wahrscheinliche.</p
  >
  <p i18n
    >Nutze den Button „Mit geänderten/identischen Parametern neu berechnen“, um den Robustheitstest erneut durchzuführen. Mit dem Button
    „Parameter zurücksetzen“ kannst Du die Standardauswahl wiederherstellen.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Bestimmung der Entscheidungsqualität" variation="large">
  <p i18n
    >Wenn Du mit der Analyse Deines Ergebnisses zufrieden bist, solltest Du eine Selbsteinschätzung vornehmen, wie logisch Du das
    Zustandekommen Deines Ergebnisses begründen kannst. Klicke auf den Button „Qualität bewerten“ unten in der Mitte. In dem Fenster, das
    sich öffnet, wird Dir ein Balken mit einer Skala von null bis zehn angezeigt. Gib durch Klicken in den Balken oder Verschieben von
    diesem an, wie gut Du das Zustandekommen Deines Ergebnisses begründen kannst. Weitere Hintergrundinformationen zur Entscheidungsqualität
    findest Du zum Schluss in der Abschlussbetrachtung. Dort wirst Du auch eine Übersicht darüber finden, wie hoch Du die Qualität in den
    anderen Schritten eingeschätzt hast. Eine solche Übersicht findest Du auch in dem Fenster, das sich bei Klick auf den Projektnamen oben
    in der Kopfleiste dieser Seite öffnet.</p
  >
</dt-extendable-header>
