@use 'variables' as dt;

.value-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .value-box {
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    align-items: center;

    input {
      flex: 1;
      -moz-appearance: textfield;
      margin-right: 10px;
      text-align: center;
      padding-bottom: 1px;

      &.grayed-out {
        color: gray;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    .info-box {
      flex: 1;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      .margin-left {
        margin-left: 3px;
      }
      .margin-right {
        margin-right: 3px;
      }
    }

    &.wrong-value {
      border-color: red;
      input {
        border-bottom: 1px solid red;
        color: red;
      }

      input:focus {
        border-bottom: 2px solid red;
      }
    }
  }

  .error-text {
    color: red;
    font-size: 11.25px;
    margin-top: 5px;
  }
}
