<dt-modal-content
  (closeClick)="closeModal()"
  [contentPadding]="false"
  [flexContent]="true"
  [showFooter]="state === 'saving' || state === 'idle'"
>
  <ng-template #title i18n>Speichern unter…</ng-template>
  <ng-template #content [ngSwitch]="state">
    <mat-spinner *ngSwitchCase="'loading'"></mat-spinner>
    <div class="error-container" *ngSwitchCase="'load-error'">
      <mat-icon color="warn">error</mat-icon>
      <div i18n>Beim Laden der Projekte aus Deinem Account ist ein Fehler aufgetreten. Bitte versuche es später noch einmal.</div>
    </div>
    <ng-container *ngSwitchDefault>
      <mat-form-field class="name-filter">
        <mat-label i18n>Nach Name filtern</mat-label>
        <input matInput type="text" [(ngModel)]="projectNameFilter" (input)="updateVisibleProjects()" />
      </mat-form-field>
      <dt-flex-table
        class="projects-table"
        [data]="visibleProjects"
        [selectedIndex]="selectedProjectIndex"
        (clickRow)="newProjectForm.setValue({ name: visibleProjects[$event].name })"
        defaultSortColumn="updatedAt"
        defaultSortDirection="desc"
        (sort)="activeProjectSort = $event; updateVisibleProjects()"
      >
        <dt-flex-column id="name" [flex]="true" i18n-name name="Name">
          <ng-template let-project="$implicit">
            <span>{{ project.name }}</span>
          </ng-template>
        </dt-flex-column>

        <dt-flex-column id="updatedAt" i18n-name name="Bearbeitet am">
          <ng-template let-project="$implicit">
            <span class="date-cell">{{ project.updatedAt | date : 'short' }}</span>
          </ng-template>
        </dt-flex-column>
      </dt-flex-table>
      <mat-divider></mat-divider>
      <form class="dt-form new-project-form" [formGroup]="newProjectForm" (ngSubmit)="saveAs()">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label i18n>Projektname</mat-label>
          <input dtAutoFocus matInput formControlName="name" />
        </mat-form-field>
      </form>
    </ng-container>
  </ng-template>
  <ng-template #footer>
    <dt-button
      class="save-button"
      [disabled]="state === 'saving' || newProjectForm.invalid"
      [dtOverlayProgress]="state === 'saving'"
      #saveButton
      icon="save"
      iconPosition="left"
      (click)="saveAs()"
      i18n
      >Speichern</dt-button
    >
    <dt-button type="raised-less" [disabled]="state === 'saving'" (click)="closeModal()" i18n>Abbrechen</dt-button>
  </ng-template>
</dt-modal-content>
