@use '@angular/material' as mat;

.change-detection-info {
  @include mat.elevation(8);

  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5000000;

  background-color: white;
  border-radius: 5px;

  padding: 8px 16px;
}
