<dt-step-title *ngIf="showTitle" [showStepNumber]="false" i18n
  >Hinzufügung neuer Alternativen durch Verbesserung in Schwachpunkten</dt-step-title
>

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
  <ng-template #description>
    <ng-container *ngIf="!decisionData.isProfessional()" i18n
      >Entwickle neue Alternativen durch Verbesserung der bereits bekannten Alternativen.</ng-container
    >
    <ng-container *ngIf="decisionData.isProfessional()" i18n
      >Hier kannst Du versuchen, Deine bestehenden Alternativen zu verbessern. Dazu musst Du Schwachpunkte der definierten Alternativen
      identifizieren und nach Verbesserungen suchen, um diese Schwächen zu verringern.</ng-container
    >
  </ng-template>
  <ng-template #subDescription i18n
    >Untersuche, ob Du Schwachpunkte in Deinen Alternativen eliminieren kannst. Du kannst jede Alternative auch mehrmals
    verbessern.</ng-template
  >
</dt-step-description>

<div class="list-container" *ngIf="decisionData.alternatives.length && decisionData.objectives.length; else noAlternatives">
  <div class="header-container">
    <span class="header" i18n>Schon definierte Alternativen</span>
    <span class="header" i18n>Ein großer Schwachpunkt in dieser Alternative liegt im Ziel</span>
    <span class="header" i18n>Eine neue Alternative, die diesen Schwachpunkt abschwächt, könnte deshalb lauten:</span>
  </div>

  <dt-alternativen-hint2-element
    [alternative]="alternative"
    [objectives]="decisionData.objectives"
    (add)="addAlternative($event)"
    *ngFor="let alternative of decisionData.alternatives; let i = index"
  >
  </dt-alternativen-hint2-element>
</div>

<ng-template #noAlternatives>
  <h4 i18n>Benenne im vorherigen Schritt Alternativen, damit Dir diese hier angezeigt werden!</h4>
</ng-template>

<dt-alternative-list [pageKey]="pageKey"></dt-alternative-list>

<ng-template #notify>
  <span class="notification-text" i18n>Neue Alternative hinzugefügt!</span>
</ng-template>
