.header-container {
  display: grid;
  grid-template-columns: 180px 285px auto;
  grid-column-gap: 20px;

  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}

.list-container {
  display: flex;
  flex-direction: column;

  margin-top: 25px;
  margin-bottom: 20px;
}

.header {
  align-self: start;
  font-weight: bold;
  color: rgb(97, 97, 97);
}

.notification-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
