<dt-modal-content (closeClick)="close()" [contentPadding]="false">
  <ng-template #title i18n>Team Übersicht</ng-template>
  <ng-template #subtitle>{{ team.name }}</ng-template>
  <ng-template #content>
    <mat-tab-group>
      <mat-tab i18n-label label="Mitglieder">
        <dt-flex-table
          class="member-table"
          [data]="team.members"
          [defaultSortColumn]="'name'"
          [defaultSortDirection]="'asc'"
          [sortChangeable]="false"
          (clickRow)="loadMemberProject(team.members[$event])"
        >
          <div header class="take-main-project-container">
            <button i18n mat-raised-button color="accent" (click)="takeMainProject()" [disabled]="isUserTeamOwner || !isUsersProjectLoaded"
              >Hauptprojekt übernehmen</button
            >
          </div>
          <dt-flex-column id="name" [flex]="true" name="Name">
            <ng-template let-member="$implicit" let-index="index">
              <div *ngIf="isProjectLoaded(member)" class="loaded-marker"></div>
              <div class="name-container">
                <span>{{ member.user.name ?? member.user.email }}</span>
                <span *ngIf="index === 0" class="subtitle" i18n>Moderator mit Hauptprojekt</span>
                <span *ngIf="isUser(member)" class="subtitle" i18n>Dein Projekt</span>
              </div>
            </ng-template>
          </dt-flex-column>
          <dt-flex-column id="unread-comments" [flex]="false">
            <ng-template let-member="$implicit" let-index="index">
              <mat-chip-set>
                <mat-chip
                  *ngIf="usersUnreadComments.get(member)?.length as unreadCommentCount"
                  color="accent"
                  selected
                  (click)="$event.stopPropagation(); openUnreadCommentsIn(member)"
                  i18n-matTooltip
                  matTooltip="Ungelesene Kommentare in diesem Projekt"
                >
                  <mat-icon>forum</mat-icon>
                  <span class="unread-comments-count">{{ unreadCommentCount }}</span>
                </mat-chip>
              </mat-chip-set>
            </ng-template>
          </dt-flex-column>
          <dt-flex-column id="editor" [flex]="false">
            <ng-template let-member="$implicit" let-index="index">
              <mat-chip
                matChipAvatar
                *ngIf="team.editor$.value === member.id"
                color="accent"
                selected
                [matMenuTriggerFor]="isUserTeamOwner ? ownerEditorMenu : isUserEditor ? editorMenu : null"
                (click)="$event.stopPropagation()"
                i18n-matTooltip
                matTooltip="Recht das Hauptprojekt zu bearbeiten"
              >
                <mat-icon>edit</mat-icon>
              </mat-chip>
              <mat-menu #ownerEditorMenu class="dt-team-editor-menu-panel">
                <ng-container *ngFor="let member of team.members; first as isFirstMember; index as memberIndex">
                  <button mat-menu-item [disabled]="member.id === team.editor$.value" (click)="changeEditorTo(member.id)">
                    {{ member.user.name ?? member.user.email }}
                  </button>
                  <mat-divider *ngIf="isFirstMember"></mat-divider>
                </ng-container>
              </mat-menu>
              <mat-menu #editorMenu class="dt-team-editor-menu-panel">
                <button mat-menu-item (click)="changeEditorTo(team.owner)">
                  <mat-icon>assignment_return</mat-icon>
                  <span i18n>Bearbeitungsrecht zurückgeben</span>
                </button>
              </mat-menu>
            </ng-template>
          </dt-flex-column>
        </dt-flex-table>
      </mat-tab>
      <mat-tab *ngIf="isUserTeamOwner" i18n-label label="Auswertung">
        <div class="evaluation-container">
          <ng-container *ngIf="allProjects$ | async as teamProjects">
            <mat-accordion multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title i18n>Projektfortschritt</mat-panel-title>
                </mat-expansion-panel-header>

                <dt-team-project-progress [projects]="teamProjects" [members]="team.members"></dt-team-project-progress>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title i18n>Zielgewichte</mat-panel-title>
                </mat-expansion-panel-header>

                <dt-team-objective-weights [projects]="teamProjects" [members]="team.members"></dt-team-objective-weights>
              </mat-expansion-panel>
            </mat-accordion>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab label="Whiteboard">
        <dt-rich-text-editor [text]="team.whiteboard" (textChange)="whiteboardChange.next($event)" [readonly]="!isUserEditor">
        </dt-rich-text-editor>
        <dt-team-comments [memberId]="team.owner" [object]="{ uuid: 'whiteboard' }"></dt-team-comments>
      </mat-tab>
      <mat-tab *ngIf="isUserTeamOwner" i18n-label label="Einladungen">
        <dt-flex-table
          *ngIf="invites"
          [data]="invites"
          [defaultSortColumn]="'date'"
          [defaultSortDirection]="'desc'"
          [sortChangeable]="false"
        >
          <dt-flex-column id="email" [flex]="true" name="E-Mail-Adresse">
            <ng-template let-invite="$implicit" let-index="index">
              <span>{{ invite.email }}</span>
            </ng-template>
          </dt-flex-column>
          <dt-flex-column id="token" name="Token">
            <ng-template let-invite="$implicit" let-index="index">
              <span>{{ invite.token }}</span>
            </ng-template>
          </dt-flex-column>
          <dt-flex-column id="date" i18n-name name="Versendet am">
            <ng-template let-invite="$implicit" let-index="index">
              <span>{{ invite.createdAt | date : 'medium' }}</span>
            </ng-template>
          </dt-flex-column>
        </dt-flex-table>

        <form [formGroup]="inviteForm" (ngSubmit)="createInvite()" class="dt-form email-form">
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>E-Mail-Adresse</mat-label>
            <input matInput type="email" formControlName="email" />
            <button mat-button matSuffix color="accent" [disabled]="!inviteForm.valid" i18n>Einladen</button>
          </mat-form-field>
        </form>
      </mat-tab>
      <mat-tab *ngIf="isUserTeamOwner" i18n-label label="Einstellungen">
        <div class="settings-container">
          <form [formGroup]="settingsForm">
            <mat-form-field>
              <mat-label i18n>Team Name</mat-label>
              <input matInput type="text" formControlName="teamName" />
            </mat-form-field>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</dt-modal-content>
