<div *ngIf="entry.question" class="question">{{ entry.question }}</div>
<mat-form-field>
  <mat-label>{{ entry.label }}</mat-label>
  <dt-input-spinner
    *ngIf="entry.step != null"
    (increase)="increment()"
    (decrease)="decrement()"
    [plusDisabled]="entry.max != null && control.value >= entry.max"
    [minusDisabled]="entry.min != null && control.value <= entry.min"
  >
    <input matInput type="number" [formControlName]="formIndex" [step]="entry.step" />
  </dt-input-spinner>
  <mat-hint *ngIf="entry.min != null || entry.max != null" i18n>Von {{ entry.min ?? '-∞' }} bis {{ entry.max ?? '∞' }}</mat-hint>
  <mat-error *ngIf="errors?.min" i18n>Mindestens {{ entry.min }}</mat-error>
  <mat-error *ngIf="errors?.max" i18n>Höchstens {{ entry.max }}</mat-error>
  <mat-error *ngIf="errors?.required" i18n>Der Wert darf nicht leer sein</mat-error>
</mat-form-field>
