@use 'variables' as dt;

.other-options {
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

.hint {
  background-color: #eeeeee;
  border-radius: 5px;

  display: flex;
  align-items: center;

  padding: 8px;
  margin-bottom: 16px;
  gap: 8px;

  color: dt.$foreground;
}
