<div class="indicator-aggregation-container" *ngIf="influenceFactor == null">
  <!-- NO INFLUENCE FACTOR -->
  <table class="forecast-table">
    <tr class="header-row-secondary">
      <th class="header-secondary-name" [style.width.%]="nameWidthPercentage" i18n>Indikator</th>
      <th class="header-secondary-name" [style.width.%]="valueWidthPercentage" i18n *ngIf="objective.includesVerbalIndicators">Wert</th>
      <th [colSpan]="numberOfCategoryColumns"></th>
    </tr>
    <dt-indicator-inner-table
      [alternative]="alternative"
      [indicatorGrouping]="'states'"
      [influenceFactor]="influenceFactor"
      [numberOfCategoryColumns]="numberOfCategoryColumns"
      [objective]="objective"
      [outcomeValues]="outcomeValues"
      [stateIdx]="0"
    ></dt-indicator-inner-table>
  </table>
</div>
<ng-container *ngIf="influenceFactor != null">
  <!-- WITH INFLUENCE FACTOR -->
  <div class="grouping-select-wrapper">
    <div class="grouping-select-container">
      <dt-select [(selectedOptions)]="indicatorGrouping">
        <dt-select-label i18n>Gruppierung</dt-select-label>
        <dt-select-option [value]="'indicators'" i18n>Indikatoren</dt-select-option>
        <dt-select-option [value]="'states'" i18n>Zustände</dt-select-option>
      </dt-select>
    </div>
  </div>
  <div class="influence-factor-values-container">
    <ng-container [ngSwitch]="indicatorGrouping">
      <ng-container *ngSwitchCase="'indicators'">
        <!-- GROUPING: INDICATORS -->
        <ng-container *ngFor="let indicator of objective.indicatorData.indicators; let indicatorIdx = index">
          <mat-divider *ngIf="indicatorIdx > 0"></mat-divider>
          <div class="values-row">
            <div class="indicator-aggregation-container">
              <table class="forecast-table">
                <colgroup>
                  <col [style.width.%]="nameWidthPercentage" />
                  <col *ngIf="indicator.isVerbalized" [style.width.%]="valueWidthPercentage" />
                  <col [span]="max(indicator.verbalIndicatorCategories.length, 1)" />
                </colgroup>
                <tr class="header-row-main">
                  <th class="text-center header-main-name" [colSpan]="2 + indicator.verbalIndicatorCategories.length">
                    {{ indicator.name }}
                  </th>
                </tr>
                <tr class="header-row-secondary">
                  <th class="header-secondary-name" [style.width.%]="nameWidthPercentage" i18n>Zustand</th>
                  <th class="header-secondary-name" [style.width.%]="valueWidthPercentage" i18n *ngIf="indicator.isVerbalized">Wert</th>
                  <th *ngIf="!indicator.isVerbalized"></th>
                  <th
                    *ngFor="let category of indicator.verbalIndicatorCategories"
                    class="border-sides-none header-secondary-name"
                    #overflow="dtOverflow"
                    [dtOverflow]
                    [matTooltip]="category.name"
                    [matTooltipDisabled]="!overflow.isOverflowing"
                  >
                    <span *ngIf="indicator.verbalIndicatorCategories.length > 1">
                      {{ category.name }}
                    </span>
                  </th>
                </tr>
                <dt-indicator-inner-table
                  [alternative]="alternative"
                  [indicatorGrouping]="'indicators'"
                  [influenceFactor]="influenceFactor"
                  [indicator]="indicator"
                  [indicatorIdx]="indicatorIdx"
                  [objective]="objective"
                  [outcomeValues]="outcomeValues"
                ></dt-indicator-inner-table>
              </table>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'states'">
        <!-- GROUPING: STATES -->
        <ng-container *ngFor="let state of $any(influenceFactor.states); let stateIdx = index">
          <mat-divider *ngIf="stateIdx > 0"></mat-divider>
          <div class="values-row">
            <div class="indicator-aggregation-container">
              <table class="forecast-table">
                <colgroup>
                  <col [style.width.%]="nameWidthPercentage" />
                  <col *ngIf="objective.includesVerbalIndicators" [style.width.%]="valueWidthPercentage" />
                  <col [span]="max(this.numberOfCategoryColumns, 1)" />
                </colgroup>
                <tr class="header-row-main">
                  <th
                    class="text-center header-main-name"
                    [colSpan]="(objective.includesVerbalIndicators ? 2 : 1) + max(this.numberOfCategoryColumns, 1)"
                  >
                    {{ influenceFactor | stateName : stateIdx }}
                  </th>
                </tr>
                <tr class="header-row-secondary">
                  <th class="header-secondary-name" [style.width.%]="nameWidthPercentage" i18n>Indikator</th>
                  <th class="header-secondary-name" [style.width.%]="valueWidthPercentage" i18n *ngIf="objective.includesVerbalIndicators"
                    >Wert</th
                  >
                  <th [colSpan]="numberOfCategoryColumns"></th>
                </tr>
                <dt-indicator-inner-table
                  [alternative]="alternative"
                  [indicatorGrouping]="'states'"
                  [influenceFactor]="influenceFactor"
                  [numberOfCategoryColumns]="numberOfCategoryColumns"
                  [objective]="objective"
                  [outcomeValues]="outcomeValues"
                  [stateIdx]="stateIdx"
                ></dt-indicator-inner-table>
              </table>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
