@use 'variables' as dt;

$header-main-color: rgba(0, 0, 0, 0.7);
$header-bg: #e2e4e5;

.text-center {
  text-align: center;
}

.header-main-name {
  color: $header-main-color;
}

.header-secondary-name {
  color: $header-main-color;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.forecast-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  .header-row-main {
    background-color: $header-bg;
    color: black;
    font-weight: 500;
    th {
      border-top: none;
    }
  }

  .header-row-secondary {
    background-color: $header-bg;
  }
}

.forecast-table th {
  border: 2px solid white;
  padding: 5px 10px;

  &.border-sides-none {
    border-left: none;
    border-right: none;
  }
}
.forecast-table tr:first-child th {
  border-top: 0;
}
.forecast-table tr th:first-child {
  border-left: 0;
}
.forecast-table tr th:last-child {
  border-right: 0;
}

.values-row {
  margin: 10px 0;
}

.indicator-aggregation-container {
  margin: 20px auto 10px auto;
  width: 95%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  white-space: nowrap;
}

.grouping-select-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;

  .grouping-select-container {
    width: 95%;
    display: flex;
    justify-content: flex-end;
  }
}
