<div class="utilityfunction-wrapper" [dtWidthTrigger]="{ 'reversed-stacking': 949 }">
  <div class="graph-container">
    <dt-utilityfunction-graph-numerical-or-indicator
      [objective]="objective"
      [data]="data"
      *ngIf="data"
      (changeC)="updateC($event)"
      [showYAxisLabel]="true"
    ></dt-utilityfunction-graph-numerical-or-indicator>
  </div>

  <div class="right-container">
    <div *ngIf="utilityFunction.c != null && utilityFunction.width > 0 && data.intervals.ok" class="tab-container">
      <dt-tabs>
        <dt-tab [title]="'I'">
          <div class="content">
            <p i18n
              >Wenn
              <span class="value-with-unit">{{ roundObjectiveValue(data.intervals.levelInterval.start) | number }} {{ unit }}</span>
              einen geringen Nutzen hat und
              <span class="value-with-unit">{{ roundObjectiveValue(data.intervals.levelInterval.end) | number }} {{ unit }}</span>
              einen hohen, dann hat für mich
              <span *ngIf="data.intervals.midUtilityInterval.isPoint()" class="value-with-unit"
                >{{ roundObjectiveValue(data.intervals.midUtilityInterval.start) | number }} {{ unit }}</span
              >
              <span *ngIf="!data.intervals.midUtilityInterval.isPoint()"
                >{{ roundObjectiveValue(data.intervals.midUtilityInterval.ordered().start) | number }}-<span class="value-with-unit"
                  >{{ roundObjectiveValue(data.intervals.midUtilityInterval.ordered().end) | number }} {{ unit }}</span
                ></span
              >
              einen mittleren Nutzen.</p
            >
          </div>
        </dt-tab>
        <dt-tab [title]="'II'">
          <div class="content">
            <div class="graph-box-container">
              <span i18n
                >Ich finde
                <span *ngIf="data.intervals.midUtilityInterval.isPoint()" class="value-with-unit"
                  >{{ roundObjectiveValue(data.intervals.midUtilityInterval.start) | number }} {{ unit }}</span
                >
                <span *ngIf="!data.intervals.midUtilityInterval.isPoint()"
                  >{{ roundObjectiveValue(data.intervals.midUtilityInterval.ordered().start) | number }} bis
                  <span class="value-with-unit"
                    >{{ roundObjectiveValue(data.intervals.midUtilityInterval.ordered().end) | number }} {{ unit }}</span
                  ></span
                >
                genauso gut wie</span
              >

              <div class="graph-box">
                <div class="caption-wrapper left">
                  <div class="graph-caption left top">50%</div>
                  <div class="graph-caption left bottom">50%</div>
                </div>

                <div class="graph-outer-wrapper">
                  <div class="graph-wrapper">
                    <div class="line top"></div>
                  </div>
                  <div class="graph-wrapper">
                    <div class="line bottom"></div>
                  </div>
                </div>

                <div class="caption-wrapper right">
                  <div class="graph-caption right top value-with-unit"
                    >{{ roundObjectiveValue(data.intervals.levelInterval.end) | number }} {{ unit }}</div
                  >
                  <div class="graph-caption right bottom value-with-unit"
                    >{{ roundObjectiveValue(data.intervals.levelInterval.start) | number }} {{ unit }}</div
                  >
                </div>
              </div>
            </div>

            <p i18n
              >Dies entspricht einer Risikoprämie
              <ng-container *ngIf="data.riskPremium.isPoint()"
                >von <span class="value-with-unit">{{ roundObjectiveValue(data.riskPremium.start) | number }} {{ unit }}</span
                >.
              </ng-container>
              <ng-container *ngIf="!data.riskPremium.isPoint()"
                >zwischen {{ roundObjectiveValue(data.riskPremium.start) }} und
                <span class="value-with-unit">{{ roundObjectiveValue(data.riskPremium.end) | number }} {{ unit }}</span
                >.
              </ng-container>
            </p>
          </div>
        </dt-tab>
        <dt-tab [title]="'III'">
          <div class="content">
            <div class="graph-box-container">
              <span i18n
                >Ich finde
                <span class="value-with-unit">{{ roundObjectiveValue(this.data.levelIntervalMidpoint) | number }} {{ unit }}</span> genauso
                gut wie</span
              >

              <div class="graph-box">
                <div class="caption-wrapper left">
                  <div class="graph-caption left top">
                    <span
                      *ngIf="data.choosingMinProbabilityWithSmallerCurvature === data.choosingMinProbabilityWithBiggerCurvature"
                      class="value-with-unit"
                      >{{ getPercentage(this.data.choosingMinProbabilityWithSmallerCurvature) | number }}%</span
                    >
                    <span *ngIf="data.choosingMinProbabilityWithSmallerCurvature !== data.choosingMinProbabilityWithBiggerCurvature"
                      >{{ getPercentage(this.data.choosingMinProbabilityWithSmallerCurvature) | number }}-<span class="value-with-unit"
                        >{{ getPercentage(this.data.choosingMinProbabilityWithBiggerCurvature) | number }}%</span
                      ></span
                    >
                  </div>
                  <div class="graph-caption left bottom">
                    <span
                      *ngIf="data.choosingMinProbabilityWithSmallerCurvature === data.choosingMinProbabilityWithBiggerCurvature"
                      class="value-with-unit"
                      >{{ getPercentage(1 - data.choosingMinProbabilityWithBiggerCurvature) | number }}%</span
                    >
                    <span *ngIf="data.choosingMinProbabilityWithSmallerCurvature !== data.choosingMinProbabilityWithBiggerCurvature"
                      >{{ getPercentage(1 - data.choosingMinProbabilityWithBiggerCurvature) }}-<span class="value-with-unit"
                        >{{ getPercentage(1 - data.choosingMinProbabilityWithSmallerCurvature) | number }}%</span
                      ></span
                    >
                  </div>
                </div>

                <div class="graph-outer-wrapper">
                  <div class="graph-wrapper">
                    <div class="line top"></div>
                  </div>
                  <div class="graph-wrapper">
                    <div class="line bottom"></div>
                  </div>
                </div>

                <div class="caption-wrapper right">
                  <div class="graph-caption right top value-with-unit"
                    >{{ roundObjectiveValue(data.intervals.levelInterval.end) | number }} {{ unit }}</div
                  >
                  <div class="graph-caption right bottom value-with-unit"
                    >{{ roundObjectiveValue(data.intervals.levelInterval.start) | number }} {{ unit }}</div
                  >
                </div>
              </div>
            </div>
          </div>

          <p i18n
            >Dies entspricht einer Risikoprämie
            <ng-container *ngIf="data.riskPremium.isPoint()"
              >von <span class="value-with-unit">{{ roundObjectiveValue(data.riskPremium.start) | number }} {{ unit }}</span
              >.
            </ng-container>
            <ng-container *ngIf="!data.riskPremium.isPoint()"
              >zwischen {{ roundObjectiveValue(data.riskPremium.start) }} und
              <span class="value-with-unit">{{ roundObjectiveValue(this.data.riskPremium.end) | number }} {{ unit }}</span
              >.
            </ng-container>
          </p>
        </dt-tab>

        <div class="tabs-footer">
          <mat-form-field subscriptSizing="dynamic" class="dt-number-input" hideRequiredMarker>
            <mat-label i18n>Krümmung</mat-label>
            <dt-input-spinner
              (increase)="adjustC(0.1)"
              (decrease)="adjustC(-0.1)"
              [plusDisabled]="utilityFunction.c === cMax"
              [minusDisabled]="utilityFunction.c === -cMax"
            >
              <input
                matInput
                type="number"
                step="0.1"
                [min]="-cMax"
                [max]="cMax"
                [ngModel]="utilityFunction.c"
                (ngModelChange)="updateC($event)"
                [enableScroll]="true"
                required
              />
            </dt-input-spinner>
          </mat-form-field>
          <mat-divider [vertical]="true"></mat-divider>
          <mat-form-field subscriptSizing="dynamic" class="dt-number-input" hideRequiredMarker>
            <mat-label i18n>Präzisionsintervall</mat-label>
            <span matPrefix>±</span>
            <dt-input-spinner
              (increase)="adjustPrecision(0.1)"
              (decrease)="adjustPrecision(-0.1)"
              [plusDisabled]="utilityFunction.precision === pMax"
              [minusDisabled]="utilityFunction.precision === 0"
            >
              <input
                matInput
                type="number"
                step="0.1"
                min="0"
                [max]="pMax"
                [ngModel]="utilityFunction.precision"
                (ngModelChange)="updatePrecision($event)"
                [enableScroll]="true"
                required
              />
            </dt-input-spinner>
          </mat-form-field>
          <mat-divider subscriptSizing="dynamic" [vertical]="true"></mat-divider>
          <mat-form-field subscriptSizing="dynamic" class="dt-number-input" hideRequiredMarker>
            <mat-label i18n>Zahlenrundung</mat-label>
            <dt-input-spinner
              (increase)="updateSigDigits(sigDigits + 1)"
              (decrease)="updateSigDigits(sigDigits - 1)"
              [plusDisabled]="sigDigits === 10"
              [minusDisabled]="sigDigits === 0"
            >
              <input
                matInput
                type="number"
                step="1"
                min="0"
                max="10"
                [ngModel]="sigDigits"
                (ngModelChange)="updateSigDigits($event)"
                [enableScroll]="true"
                required
              />
            </dt-input-spinner>
          </mat-form-field>
        </div>
      </dt-tabs>
    </div>
    <div class="options-container">
      <div class="options-wrapper">
        <div i18n>Niveau</div>
        <input
          type="range"
          min="0"
          max="1"
          step="0.05"
          title="Niveau"
          [(ngModel)]="utilityFunction.level"
          [ngModelOptions]="{ standalone: true }"
          (change)="onChange()"
          (input)="onChange()"
          i18n-title
        />
        <div class="options-caption">
          <div i18n>niedrig</div>
          <div i18n>hoch</div>
        </div>
      </div>

      <div class="options-wrapper">
        <div i18n>Breite</div>
        <input
          type="range"
          [attr.min]="0"
          [attr.max]="1"
          step="0.05"
          title="Breite"
          [(ngModel)]="utilityFunction.width"
          [ngModelOptions]="{ standalone: true }"
          (change)="onChange()"
          (input)="onChange()"
          i18n-title
        />
        <div class="options-caption">
          <div i18n>klein</div>
          <div i18n>groß</div>
        </div>
      </div>
    </div>
  </div>
</div>
