<div class="box-wrapper">
  <div class="box-header">
    <div class="name" (click)="edit()">{{ influenceFactor.name }}</div>
    <dt-button-tiny
      *ngIf="teamTrait?.isOtherUsersProject"
      #me="dtElementRef"
      dtElementRef
      icon="publish"
      (click)="transferInfluenceFactorToMe(me)"
    ></dt-button-tiny>
    <dt-button-tiny icon="edit" (click)="edit()"></dt-button-tiny>
    <dt-button-tiny
      icon="delete"
      dtConfirmPopover="Einflussfaktor wirklich löschen?"
      i18n-dtConfirmPopover
      (dtConfirmPopoverConfirm)="deleteClick.emit()"
    ></dt-button-tiny>
  </div>

  <div class="box-content">
    <ng-container *ngFor="let state of influenceFactor.states; let stateIndex = index">
      <div
        class="name"
        [class.has-comment]="state.comment"
        [dtHoverPopover]="nameHover"
        [dtHoverPopoverDisabled]="!state.comment"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverPosition]="'left'"
        >{{ state.name }}</div
      >
      <dt-bar-slider
        [value]="shownProbabilities[stateIndex]"
        (valueChange)="changeProbability(stateIndex, $event)"
        [precision]="relativeDeviation(shownProbabilities[stateIndex])"
        [interval]="true"
        [vertical]="false"
        [width]="30"
      ></dt-bar-slider>
      <mat-form-field subscriptSizing="dynamic" class="dt-number-input dt-no-label">
        <dt-input-spinner
          *ngIf="shownProbabilities[stateIndex] | isInteger"
          (increase)="adjustProbability(stateIndex, 1)"
          (decrease)="adjustProbability(stateIndex, -1)"
          [plusDisabled]="shownProbabilities[stateIndex] === 100"
          [minusDisabled]="shownProbabilities[stateIndex] === 0"
        >
          <input
            matInput
            type="number"
            [ngModel]="shownProbabilities[stateIndex]"
            (ngModelChange)="changeProbability(stateIndex, $event)"
            min="0"
          />
        </dt-input-spinner>
        <span matTextSuffix>%</span>
      </mat-form-field>

      <ng-template #nameHover>
        <div class="name-hover-container mat-elevation-z3">
          {{ state.comment }}
        </div>
      </ng-template>
    </ng-container>
  </div>

  <mat-divider></mat-divider>

  <div class="box-footer">
    <dt-button type="raised-less" (click)="showConnections()" i18n
      >{ usageCount, plural, =1 {1 Verknüpfung} other {{{usageCount}} Verknüpfungen} }</dt-button
    >

    <dt-button
      [disabled]="isNormalized"
      (click)="!isNormalized && normalize()"
      [icon]="isNormalized ? 'done' : 'error'"
      iconPosition="left"
      [ngSwitch]="isNormalized"
    >
      <ng-container *ngSwitchCase="true" i18n>Normiert</ng-container>
      <ng-container *ngSwitchCase="false" i18n>Normieren</ng-container>
    </dt-button>

    <mat-form-field subscriptSizing="dynamic" class="dt-number-input">
      <mat-label i18n>Präzisionsintervall</mat-label>
      <span matTextPrefix>±</span>
      <dt-input-spinner
        [plusDisabled]="influenceFactor.precision === pMax"
        [minusDisabled]="influenceFactor.precision === 0"
        (increase)="adjustPrecision(1)"
        (decrease)="adjustPrecision(-1)"
      >
        <input
          type="number"
          matInput
          min="0"
          [max]="pMax"
          step="1"
          [ngModel]="influenceFactor.precision"
          (ngModelChange)="changePrecision($event)"
          [enableScroll]="true"
        />
      </dt-input-spinner>
      <span matTextSuffix>%</span>
    </mat-form-field>
  </div>

  <dt-note-btn [(comment)]="influenceFactor.comment" [darkBackground]="true">
    <dt-team-comments additional-modal-content [object]="influenceFactor"></dt-team-comments>
  </dt-note-btn>
</div>
