<div
  class="parent-container"
  [dtWidthTrigger]="{ 'sidenav-over': 740 }"
  (dtWidthTriggerStateChange)="changeSidenavOver($event['sidenav-over'])"
>
  <dt-userarea (hamburgerButtonClick)="toggleSidenav()"></dt-userarea>
  <div class="column-wrapper" #columnWrapper>
    <div class="main-content">
      <mat-sidenav-container>
        <mat-sidenav
          *ngIf="!decisionData.isProfessional()"
          [mode]="sidenavOver ? 'over' : 'side'"
          [opened]="!sidenavOver || isSidenavExpanded"
          (closed)="isSidenavExpanded = false"
          [disableClose]="!sidenavOver"
          [class.folded]="sidenavFolded"
          [@.disabled]="disableSidenavAnimation"
        >
          <dt-navigation
            [isSidenavOver]="sidenavOver"
            [isUnfolded]="isSidenavExpanded"
            (unfoldButtonClick)="toggleSidenav()"
          ></dt-navigation>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="content-container" #scrollContainer>
            <div class="page-container" [class.dt-professional]="decisionData.isProfessional()">
              <div #cc [class.dt-limit-width]="!isRouterChildMaxWidth">
                <router-outlet (activate)="routerActivateHandler($event)"></router-outlet>
              </div>
            </div>
          </div>
          <dt-navline *ngIf="navLine" [navLine]="navLine"> </dt-navline>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>

    <div
      class="side-by-side"
      #sideBySideContent
      *ngIf="sideBySideService.isOpen"
      [@.disabled]="!sbsAnimationEnabled || sidenavOver"
      @sbsEnterExit
    >
      <div
        class="side-by-side-divider"
        [class.dragging]="sbsDragging"
        (mousedown)="sbsMouseDown($event)"
        (touchstart)="sbsTouchStart($event)"
        (touchmove)="sbsTouchMove($event)"
        (touchend)="sbsResizeEnd()"
        (touchcancel)="sbsResizeEnd()"
      >
        <mat-icon>drag_indicator</mat-icon>
      </div>
      <div class="side-by-side-content" [style.width.px]="sbsWidth" [ngSwitch]="sideBySideService.state">
        <dt-help *ngSwitchCase="'help'"></dt-help>
        <dt-project-history *ngSwitchCase="'history'"></dt-project-history>
      </div>
    </div>
  </div>
</div>
