<dt-hierarchy [tree]="tree" (action)="executeAction($event)">
  <ng-template #node let-element let-loc="locationSequence" let-focused="focused">
    <div
      class="node"
      [class.root]="loc.isRoot()"
      [class.fundamental]="loc.value.length === 1"
      [class.invalid]="!element.name.de || !element.name.en"
      (dtAfterViewInit)="calcInputWidth(element, inputDe, inputEn)"
    >
      <div class="counter">{{ element.accumulatedScore }}</div>
      <div class="input-wrapper">
        <div class="note-wrapper">
          <input
            #inputDe
            [(ngModel)]="element.name.de"
            (ngModelChange)="calcInputWidth(element, inputDe, inputEn)"
            [readOnly]="!focused"
            [dtAutoFocus]="focused"
            placeholder="Deutsch"
            i18n-placeholder
          />
          <dt-note-btn [(comment)]="element.comment.de" [darkBackground]="loc.value.length === 1"></dt-note-btn>
        </div>
        <div class="note-wrapper">
          <input
            #inputEn
            [(ngModel)]="element.name.en"
            (ngModelChange)="calcInputWidth(element, inputDe, inputEn)"
            [readOnly]="!focused"
            placeholder="Englisch"
            i18n-placeholder
          />
          <dt-note-btn [(comment)]="element.comment.en" [darkBackground]="loc.value.length === 1"></dt-note-btn>
        </div>
      </div>
    </div>
  </ng-template>
</dt-hierarchy>
