$text-container-height: calc(1.2em + 4px);

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  height: 75px;
  width: 200px;

  .box-container {
    display: flex;
    flex-direction: column;

    position: relative;

    height: 37px;
    width: 160px;

    &.top {
      flex-direction: column-reverse;
    }
  }

  .dash {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 59%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
  }

  .box {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 0.5px;
  }

  .box.red-box {
    border-bottom: 2px solid desaturate(darken(#ecbb9c, 10%), 30%);
    background-color: #ecbb9c;
  }
  .box.green-box {
    border-top: 2px solid desaturate(darken(#bfd5b2, 10%), 30%);
    background-color: #bfd5b2;
  }

  .text-container {
    padding: 4px 2px 4px 2px;
    height: $text-container-height;
    line-height: 1.2em;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
