@use 'variables' as dt;

.ranking {
  padding: 0 3px;
  width: 20px;
}

:host {
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.box {
  height: 75px;
  min-width: 200px;
  background: white;

  &.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
}

.left-column-with-blank-box {
  position: sticky;
  z-index: 101;
  left: 0;

  .blank.box {
    position: sticky;
    z-index: 102;
    top: 0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
  }

  .left-column {
    display: flex;
    position: sticky;
    left: 0;
    flex-direction: column;
    border-right: 1px solid #c0c0c0;

    .box {
      justify-content: flex-start;
      min-height: 70px;
      min-width: 250px;

      .alternative-name {
        flex: 1;
      }
    }
  }
}

.right-column {
  z-index: 100;

  .objective-row,
  .alternative-rows {
    display: flex;
  }

  .objective-row {
    position: sticky;
    top: 0;
    z-index: 1000;

    .box {
      top: 0;
      flex-direction: column;
      width: 200px;
      border-bottom: 1px solid #c0c0c0;
    }
  }

  .alternative-rows {
    flex-direction: column;
  }
}

.alternative-title {
  font-size: dt.font-size-old(caption);
  font-style: italic;
}

.alternative-name,
.objective-name {
  font-weight: 500;
  white-space: normal;
  height: 3.6em;
  line-height: 1.2;
  overflow: hidden;
}

.alternative-name,
.objective-name {
  text-align: center;
}

.alternative-name {
  max-width: 60ch;
  display: flex;
  align-items: center;
}

.ellipsis {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.too-few-alternatives {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  color: gray;
}
