<ng-container *ngIf="rankedAlternativesWithValues.length >= 2; else tooFewSelectedAlternatives">
  <div class="left-column-with-blank-box">
    <div class="box blank"></div>
    <div class="left-column">
      <div *ngFor="let rankedAlternativeWithValues of rankedAlternativesWithValues; trackBy: trackByAlternative" class="box header">
        <div class="ranking">{{ rankedAlternativeWithValues.rank }}.</div>
        <div class="alternative-name">
          <span class="ellipsis">{{ rankedAlternativeWithValues.alternative.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="right-column">
    <div class="objective-row">
      <div *ngFor="let objective of objectives; index as objectiveIndex" class="box header">
        <div class="objective-name">{{ objective.name }}</div>
      </div>
    </div>
    <div class="alternative-rows">
      <div
        *ngFor="let rankedAlternativeWithValues of rankedAlternativesWithValues; trackBy: trackByAlternative"
        data-cy="chart-row-container"
      >
        <dt-chart-row
          [rowOfValues]="rankedAlternativeWithValues.weightedUtilityValues"
          [rowOfOutcomes]="rankedAlternativeWithValues.outcomes"
          [maxValue]="maxValue"
          [objectives]="objectives"
          class="rank-row"
        >
        </dt-chart-row>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #tooFewSelectedAlternatives
  ><div class="too-few-alternatives" i18n>Für eine Auswertung müssen mindestens zwei Alternativen ausgewählt werden.</div></ng-template
>
