<div #overflow="dtOverflow" [dtOverflow] [class.isOverflowing]="overflow.isOverflowing" class="selection-line-overflow-container"
  ><div class="selection-line" [class.align-start]="align === 'start'" [class.align-end]="align === 'end'"> <ng-content></ng-content> </div
></div>
