<div class="dt-help-padding">
  <p i18n
    >Im linken Fenster werden Dir einige Beispielprojekte angezeigt. Mit den Filterfunktionen oberhalb der Liste kannst Du Projekte nach
    Namen oder verknüpften Tags filtern. Wenn Du mit der Maus über die Projekte fährst, werden Dir in einem Fenster rechts daneben die
    fertigen Zielhierarchien dieser Projekte angezeigt. Wählst Du ein Projekt per Mausklick aus, bleibt die Zielhierarchie im rechten
    Fenster stehen und Du siehst links anstelle der Projektliste nun Deine eigene Zielhierarchie. Du kannst jetzt Ziele aus der
    beispielhaften Zielhierarchie rechts in Deine eigene übernehmen.</p
  >

  <p i18n
    >Ziehe dazu das Ziel aus dem rechten Fenster, das Du übernehmen möchtest, in das linke Fenster und ordne es in Deine Zielhierarchie ein,
    indem Du es hinter, über, unter oder vor ein anderes Deiner Ziele einsortierst. Wenn Du ein Ziel übernimmst, welches mit Elementen auf
    unteren Ebenen bzw. Unterzielen verknüpft ist, wirst Du in einem kleinen Fenster gefragt, ob Du nur das gewählte Element oder den
    gesamten Ast übernehmen möchtest. Wenn Du letzteres anklickst, wird nicht nur das gewählte Ziel übernommen, sondern auch dessen evtl.
    vorhandene Kommentierung und alle Elemente, mit denen das Ziel auf tieferen Ebenen verbunden ist. Willst Du nur ein einzelnes Ziel
    übernehmen, wählst Du die andere Option. Tipp: Um nur einzelne Aspekte zu übernehmen, kannst Du einfach an eine andere Stelle klicken
    und den Dialog ignorieren. Das kleine Fenster schließt sich automatisch und der einzelne Aspekt wird übernommen. Wenn Du den Knoten
    „Zielhierarchie“ rechts in Deine eigene Hierarchie ziehst, übernimmst Du die gesamte Zielhierarchie aus dem Beispiel und überschreibst
    Deine eigene. Du musst dies aber zuerst bestätigen.</p
  >

  <p i18n
    >Du findest in beiden Fenstern jeweils oben links die Leisten zur Bearbeitung der Zielhierarchie, die Du auch schon aus dem Teilschritt
    „Erste Zielhierarchie“ kennst. Im rechten Fenster ist der Funktionsumfang jedoch eingeschränkt auf Darstellungsoptionen. Wenn Du das
    Beispiel wechseln und Dir eine andere Zielhierarchie anschauen möchtest, klicke auf das Feld oben rechts in der rechten Box. Links wird
    Dir dann die Beispielliste wieder angezeigt.</p
  >
</div>
