<ng-container *ngIf="isSingle">
  <div class="single-tool-wrapper" [class.active]="activeTool === tool" (click)="activeToolChange.emit(tool)">
    <span [attr.data-cy]="tool"> {{ verbalizeTool(tool) }} </span>
  </div>
</ng-container>

<ng-container *ngIf="!isSingle">
  <div class="category-wrapper" [class.active]="toolInCategorySelected" [matMenuTriggerFor]="toolSelectionMenu">
    <span [attr.data-cy]="'category-' + toolsInCategory.join('-')">{{ categoryName }}</span>
    <ng-container *ngIf="toolInCategorySelected">
      <span class="category-name-tool-separator" *ngIf="toolInCategorySelected">:</span>
      <span class="category-tool" data-cy="dt-pf-tool-active-tool"> {{ verbalizeTool(activeTool) }}</span>
    </ng-container>
    <mat-menu #toolSelectionMenu="matMenu" class="dt-pf-tool-category-menu" [xPosition]="'before'">
      <mat-selection-list class="category-tool-selection-list" multiple="false" hideSingleSelectionIndicator="true">
        <mat-list-option
          [attr.data-cy]="tool"
          *ngFor="let tool of toolsInCategory"
          class="category-tool"
          (click)="activeToolChange.emit(tool)"
          [selected]="activeTool === tool"
        >
          {{ verbalizeTool(tool) }}
        </mat-list-option>
      </mat-selection-list>
    </mat-menu>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
</ng-container>
