<div class="dt-help-padding">
  <p i18n
    >Du kannst Dir in der detaillierten Darstellung die Nutzenanteile aus allen Zielen anzeigen lassen. Zudem kannst Du Dir die
    Handlungsalternativen in der Reihenfolge anzeigen lassen, die Du aus Deinem Bauchgefühl schon im Schritt 3 angegeben hast.</p
  >
  <p *dtProjectMode="'starter'" i18n
    >In einer weiteren Analyse kannst Du Dir zudem alle Vor- und Nachteile in einem relativen Vergleich noch einmal veranschaulichen lassen
    oder die Auswirkungen von Parameteränderungen auf die Rangfolge im Rahmen einer Sensitivitätsanalyse untersuchen.</p
  >
  <p i18n
    >Prüfe, ob Dein Bauchgefühl mit den Ergebnissen übereinstimmt. Wenn dies nicht der Fall ist, versuche, die Gründe für diese Diskrepanzen
    herauszufinden. Gründe können beispielsweise in psychologisch bedingten Fehleinschätzungen liegen, aber auch in einem unvollständigen
    Zielsystem bzw. in zu wenig fundamental formulierten Zielen. Nur wer Kopf und Bauch zusammenführt, kann überzeugt eine Entscheidung
    treffen und auch zur Umsetzung schreiten.</p
  >
</div>
