<div class="dt-help-padding">
  <p i18n
    >Schreibe zu den Fragen passende Antworten in die Notizfelder. Über die Reiter oben in der Box kannst Du direkt zwischen den Fragen hin
    und her springen.</p
  >

  <p i18n
    >Wenn Du nicht auf jede Frage eine sinnvolle Antwort findest, ist das nicht schlimm. Vielleicht ist Deine Entscheidungsfrage schon so
    gut formuliert, dass Dir manche Fragen nicht mehr weiterhelfen. Lasse diese einfach weg.</p
  >
</div>
