<dt-modal-content [showFooter]="true" (closeClick)="dialogRef.close(false)" [contentPadding]="false" [flexContent]="true">
  <ng-template i18n #title>Skala zu anderen Zielen kopieren</ng-template>
  <ng-template #subtitle>
    <span i18n>Ziel</span> <strong> "{{ decisionData.objectives[objectiveIdx].name }}"</strong>
  </ng-template>
  <ng-template #content>
    <div class="main-container">
      <p
        ><span i18n>Wähle, welche Ziele die Skala von</span> "{{ decisionData.objectives[objectiveIdx].name }}"
        <span i18n>übernehmen sollen:</span></p
      >
      <ul class="checkbox-container">
        <ng-container *ngFor="let ziel of decisionData.objectives; index as idx">
          <li *ngIf="objectiveIdx !== idx" class="checkbox">
            <mat-checkbox [(ngModel)]="checkBoxes[idx]">{{ ziel.name }}</mat-checkbox>
          </li>
        </ng-container>
      </ul>
      <button i18n *ngIf="!allObjectivesChecked" mat-button color="accent" (click)="checkAll()">Alle auswählen</button>
      <button i18n *ngIf="allObjectivesChecked" mat-button color="accent" (click)="checkAll()">Alle abwählen</button>
    </div>
  </ng-template>

  <ng-template #footer>
    <dt-button [disabled]="noObjectivesChecked" (click)="confirmChanges()" icon="content_copy" iconPosition="left" i18n
      >Skala kopieren</dt-button
    >
    <dt-button (click)="dialogRef.close(false)" type="raised-less" i18n>Verwerfen</dt-button>
  </ng-template>
</dt-modal-content>

<ng-template #confirmModal let-dialogRef="dialogRef">
  <dt-modal-content [showFooter]="true" (closeClick)="dialogRef.close(false)" [dialogRef]="dialogRef">
    <ng-template #title i18n>Änderungen bestätigen</ng-template>
    <ng-template #content>
      <p i18n>Bist Du sicher, dass Du die Skala kopieren willst? Die entsprechenden Daten in der Matrix werden zurückgesetzt.</p>
    </ng-template>
    <ng-template #footer>
      <dt-button (click)="dialogRef.close(true)" i18n>Kopieren</dt-button>
      <dt-button (click)="dialogRef.close(false)" type="raised-less" i18n>Abbrechen</dt-button>
    </ng-template>
  </dt-modal-content>
</ng-template>
