<div cdkDrag [cdkDragDisabled]="!editable || !hasMultipleCategories" class="category-container" [class.only-child]="!hasMultipleCategories">
  <!-- HEADER SECTION -->
  <div class="verbal-indicator-category-name column-title" *ngIf="!hasMultipleCategories || !editable">
    <ng-container *ngIf="!hasMultipleCategories" i18n>Qualitative Beschreibung</ng-container>
    <ng-container *ngIf="hasMultipleCategories">{{ verbalIndicatorCategory.name }}</ng-container>
  </div>
  <div class="column-title" *ngIf="hasMultipleCategories && editable">
    <mat-icon *ngIf="editable" class="category-drag-handle" cdkDragHandle>drag_handle</mat-icon>
    <input
      class="category-name-input"
      [class.empty-input]="showEmptyField && verbalIndicatorCategory.name === ''"
      placeholder="Kategoriename"
      i18n-placeholder
      type="text"
      [(ngModel)]="verbalIndicatorCategory.name"
    />
    <button class="deletion-button" (click)="$event.stopPropagation(); removeCategory.emit(categoryIdx)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <!-- WEIGHT DOTS -->
  <div class="weight-container" *ngIf="hasMultipleCategories">
    <span i18n>Gewicht:</span>
    <div class="weight-dot-container">
      <span
        *ngFor="let _ of [].constructor(weightMax); let weightIdx = index"
        class="weight-dot"
        [class.disabled]="!editable"
        (click)="changeWeight.emit({ categoryIdx, newWeight: weightIdx + 1 })"
        [class.filled-dot]="weightIdx + 1 <= verbalIndicatorCategory.weight"
      ></span>
    </div>
  </div>

  <!-- TRIANGLES OVERLAY -->
  <div class="triangle-container">
    <div class="triangle-row" *ngFor="let _ of verbalIndicatorCategory.stages; let stageIdx = index; trackBy: trackByIndex">
      <dt-triangle
        class="input-field-arrow left-arrow"
        [class.selected]="outcomeValues != null && outcomeValues[stateIdx][indicatorIdx][categoryIdx] === stageIdx"
        [size]="9"
        [direction]="'left'"
      ></dt-triangle>
      <dt-triangle
        class="input-field-arrow right-arrow"
        [class.selected]="outcomeValues != null && outcomeValues[stateIdx][indicatorIdx][categoryIdx] === stageIdx"
        [size]="9"
        [direction]="'right'"
      ></dt-triangle>
    </div>
  </div>

  <!-- STAGES SECTION -->
  <div
    class="stages-container"
    cdkDropList
    cdkDropListOrientation="vertical"
    [cdkDropListData]="verbalIndicatorCategory.stages"
    (cdkDropListDropped)="swapStages.emit($event)"
    [style.margin-top.px]="hasMultipleCategories ? '15' : '55'"
    [style.row-gap]="verbalIndicatorCategory.stages.length === maxNumberOfStages || !editable ? '10px' : '0'"
  >
    <ng-container *ngFor="let _ of verbalIndicatorCategory.stages; let stageIdx = index; trackBy: trackByIndex">
      <!-- STAGE BOX -->
      <dt-verbal-category-stage
        [categoryIdx]="categoryIdx"
        [editable]="editable"
        [hasMultipleCategories]="hasMultipleCategories"
        [indicatorIdx]="indicatorIdx"
        [outcomeValues]="outcomeValues"
        [showEmptyField]="showEmptyField"
        [stageIdx]="stageIdx"
        [stateIdx]="stateIdx"
        [verbalIndicatorCategory]="verbalIndicatorCategory"
        (createStage)="createStage.emit({ categoryIdx: $event.categoryIdx, stageIdx: $event.stageIdx })"
        (removeStage)="removeStage.emit({ categoryIdx: $event.categoryIdx, stageIdx: $event.stageIdx })"
        (setVerbalIndicatorValue)="setVerbalIndicatorValue.emit({ categoryIdx: $event.categoryIdx, newValue: $event.newValue })"
      ></dt-verbal-category-stage>

      <!-- PLUS BUTTON -->
      <div
        *ngIf="
          verbalIndicatorCategory.stages.length < maxNumberOfStages && editable && stageIdx < verbalIndicatorCategory.stages.length - 1
        "
        class="add-button-container"
      >
        <button
          class="add-verbal-indicator-button"
          (click)="createStage.emit({ categoryIdx, stageIdx })"
          mat-button
          color="accent"
          type="button"
        >
          <mat-icon>add_box</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>
