@use 'variables' as dt;

:host {
  flex: 1 0 0;
  min-height: 0;
}

mat-tab-group {
  max-height: 100%;
}

.tab-content {
  padding: 16px;

  margin: 0 auto;
  max-width: 800px;
}

.event-configuration-form {
  dt-event-configuration {
    display: block;
    margin-bottom: 16px;
  }

  button {
    margin-right: 8px;
  }
}

.questionnaire-tab-label {
  flex-direction: column;

  .dirty-text {
    @include dt.typography-level-old(caption);
    font-style: italic;
  }
}

.error-container {
  padding: 16px;
  margin: 0 auto;
  max-width: max-content;
}
