@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

dt-select-line {
  width: 100%;

  dt-select:first-child {
    margin-right: auto;
  }

  dt-select-option {
    pointer-events: initial;
  }
}

dt-polar-chart {
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  min-height: 0;
  margin-top: 10px;
}

dt-pro-contra-bar-chart {
  margin: 10px auto 1rem auto;
}
