<div #mindMap class="mind-map">
  <div #moveContainer class="move-container">
    <ng-container *ngTemplateOutlet="recTree; context: { $implicit: interface.tree, sequence: rootLocationSequence }"></ng-container>
  </div>
</div>

<ng-template #recTree let-tree let-sequence="sequence">
  <div class="flex-container">
    <!-- Arm to parent-->
    <div
      class="arm"
      *ngIf="!sequence.isRoot()"
      [class.root]="sequence.value.length === 1"
      (click)="sequence.value.length > 1 && nodeState.collapseNode(sequence.getParent())"
      (mousedown)="$event.stopImmediatePropagation()"
    >
      <div class="segment up"></div>
      <div class="segment base"></div>
      <div class="segment down"></div>
    </div>

    <!-- Node -->
    <dt-hierarchy-node [locationSequence]="sequence">
      <ng-container
        *ngTemplateOutlet="
          interface.nodeTemplate;
          context: {
            $implicit: tree.value,
            locationSequence: sequence,
            focused: nodeState.isFocused(sequence)
          }
        "
      ></ng-container>
    </dt-hierarchy-node>

    <!-- Children-->
    <ng-container *ngIf="tree.children?.length > 0" [ngSwitch]="nodeState.isCollapsed(sequence)">
      <div
        *ngSwitchCase="true"
        class="collapse-container"
        (click)="nodeState.expandNode(sequence)"
        (mousedown)="$event.stopImmediatePropagation()"
      >
        <mat-icon>add</mat-icon>
      </div>
      <ng-container *ngSwitchCase="false">
        <div
          class="arm parent-to-child"
          [class.root]="sequence.isRoot()"
          (click)="!sequence.isRoot() && nodeState.collapseNode(sequence)"
          (mousedown)="$event.stopImmediatePropagation()"
        >
          <div class="segment base"></div>
        </div>

        <div>
          <ng-container *ngFor="let child of tree.children; let childIndex = index">
            <ng-container
              *ngTemplateOutlet="
                recTree;
                context: {
                  $implicit: child,
                  sequence: sequence.getChild(childIndex)
                }
              "
            ></ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-template>
