<div class="chart-container">
  <div class="y-caption">{{ yCaption }}</div>

  <div class="y-axis">
    <div
      *ngFor="let _ of [].constructor(numberOfHorizontalLines); trackBy: trackByIndex; let i = index"
      class="y-axis-label"
      [style.top.%]="(i / (numberOfHorizontalLines - 1)) * 100"
    >
      {{ (1 - i / (numberOfHorizontalLines - 1)) * 100 | number : '1.0-0' }}
    </div>
  </div>

  <div class="x-caption">{{ xCaption }}</div>

  <div class="x-axis">
    <div
      *ngFor="let label of xLabels; trackBy: trackByIndex; let i = index"
      class="x-axis-label"
      [style.left.%]="(i / (xLabels.length - 1)) * 100"
    >
      {{ label }}
    </div>
  </div>

  <div class="chart-canvas" [class.selection-active]="highlightedSeriesIndex > -1">
    <div
      *ngFor="let _ of [].constructor(numberOfHorizontalLines); trackBy: trackByIndex; let i = index"
      class="horizontal-grid-line"
      [style.top.%]="(i / (numberOfHorizontalLines - 1)) * 100"
    ></div>

    <div
      *ngFor="let _ of xLabels; trackBy: trackByIndex; let i = index"
      class="vertical-grid-line"
      [style.left.%]="(i / (xLabels.length - 1)) * 100"
    ></div>

    <div
      *ngFor="let series of dataSeries; trackBy: trackByIndex; let seriesIndex = index"
      class="data-series-wrapper"
      [class.selected]="highlightedSeriesIndex === seriesIndex"
    >
      <ng-container *ngFor="let pointPair of pairwise(series.dataPoints); trackBy: trackByIndex; let pointIndex = index">
        <div
          class="horizontal-data-line"
          [style.left.%]="pointPair[0].x * 100"
          [style.right.%]="(1 - pointPair[1].x) * 100"
          [style.top.%]="(1 - pointPair[0].y) * 100"
          [style.background-color]="lineColors[seriesIndex % lineColors.length]"
        ></div>

        <div
          class="vertical-data-line"
          [style.left.%]="pointPair[1].x * 100"
          [style.top.%]="(1 - pointPair[0].y) * 100"
          [style.bottom.%]="pointPair[1].y * 100"
          [style.border-left-color]="lineColors[seriesIndex % lineColors.length]"
        ></div>

        <div
          class="data-point"
          [style.left.%]="pointPair[0].x * 100"
          [style.top.%]="(1 - pointPair[0].y) * 100"
          [style.background-color]="lineColors[seriesIndex % lineColors.length]"
          [dtHoverPopover]="hoverTooltip"
          [dtHoverPopoverDisabled]="!tooltipTemplate"
        ></div>

        <ng-template #hoverTooltip>
          <ng-container *ngTemplateOutlet="tooltipTemplate; context: { seriesIndex, pointIndex }"></ng-container>
        </ng-template>
      </ng-container>
    </div>

    <dt-diagram-legend
      [items]="seriesLabels"
      [itemColors]="lineColors"
      (highlightedItemChange)="highlightedSeriesIndex = $event"
    ></dt-diagram-legend>
  </div>
</div>
