@use '@angular/material' as mat;

:host {
  display: block;
  height: 500px;

  padding: 8px 32px 0 0;
  overflow: hidden;
}

.chart-container {
  height: 100%;

  display: grid;

  grid-template-columns: auto auto 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    'ycaption yaxis    chart'
    '.        .        xaxis'
    '.        .        xcaption';

  .x-caption {
    grid-area: xcaption;
  }
  .y-caption {
    grid-area: ycaption;
  }
  .y-axis {
    grid-area: yaxis;
  }
  .x-axis {
    grid-area: xaxis;
  }
  .chart-canvas {
    grid-area: chart;
  }

  .y-caption {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .y-caption,
  .x-caption {
    text-align: center;
  }

  .x-axis {
    position: relative;
    height: 24px;

    .x-axis-label {
      position: absolute;
      top: 4px;
      transform: translateX(-50%);
    }
  }

  .y-axis {
    position: relative;
    width: 32px;

    .y-axis-label {
      position: absolute;
      right: 4px;
      transform: translateY(-50%);
    }
  }
}

.chart-canvas {
  position: relative;

  dt-diagram-legend {
    position: absolute;
    right: 12px;
    top: 12px;
    max-height: 300px;
  }

  .horizontal-grid-line,
  .vertical-grid-line {
    position: absolute;
    background-color: #e1e1e1;
  }

  .horizontal-grid-line {
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
  }

  .vertical-grid-line {
    width: 2px;
    transform: translateX(-50%);
    height: 100%;
  }

  .horizontal-data-line,
  .vertical-data-line {
    position: absolute;
  }

  .horizontal-data-line {
    height: 3px;
    transform: translateY(-50%);
  }

  .vertical-data-line {
    border-left: 3px dotted;
    transform: translateX(-50%);
  }

  .data-point {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    opacity: 0;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  &.selection-active {
    .data-series-wrapper:not(.selected) {
      opacity: 0.3;
    }

    .data-series-wrapper.selected {
      z-index: 2;
    }
  }
}
