<div class="dt-limit-width">
  <dt-step-title [showStepNumber]="false" i18n>Baue eine erste Zielhierarchie</dt-step-title>

  <dt-step-description>
    <ng-template #description i18n>Strukturiere Deine Aspekte in einer Hierarchie.</ng-template>
    <ng-template #subDescription i18n
      >Baue eine Zielhierarchie auf, indem Du die Aspekte aus dem Brainstorming in die Zielhierarchie ziehst. Aspekte mit eigenem Wert
      ordnest Du direkt rechts des Knotens „Zielhierarchie“ ein. Aspekte ohne eigenen Wert, die für einen anderen Aspekt hilfreich sind,
      ordnest Du wiederum rechts davon ein.</ng-template
    >
  </dt-step-description>
</div>

<dt-objective-aspect-hierarchy
  [listOfAspects]="listOfAspects"
  [listOfDeletedAspects]="listOfDeletedAspects"
  [tree]="tree"
></dt-objective-aspect-hierarchy>
