@use 'variables' as dt;

.mdc-checkbox {
  --mdc-checkbox-selected-checkmark-color: #fff;
}

.mat-mdc-optgroup-label {
  color: #0000008a;
}

.mat-sort-header-button:focus {
  background: none;
}

mat-icon.dt-smaller-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.mat-mdc-form-field {
  .mat-mdc-floating-label,
  .mat-mdc-form-field-hint {
    color: #0009;
  }

  .mat-mdc-floating-label {
    width: calc(100% / var(--mat-mdc-form-field-floating-label-scale));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper {
    padding: 0 !important;

    .mat-mdc-form-field-hint {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .mat-mdc-form-field-text-suffix {
    white-space: nowrap;
  }
}

// Otherwise the default background color will shine through at rounded corners.
.mat-mdc-dialog-container .mdc-dialog__surface {
  --mdc-dialog-container-color: transparent;
}

.mat-mdc-radio-button:not([ng-reflect-disabled]) {
  label {
    cursor: pointer;
  }
}
