<dt-step-title [showStepNumber]="false" i18n>Denke noch weiter nach</dt-step-title>

<dt-step-description>
  <ng-template #description i18n>Versuche, noch mindestens sechs weitere Aspekte zu finden.</ng-template>
  <ng-template #subDescription i18n
    >Studien haben gezeigt, dass Entscheider noch viele weitere, wichtige Aspekte benennen können, wenn sie explizit dazu aufgefordert
    werden.</ng-template
  >
</dt-step-description>

<div>
  <dt-objective-aspect-list [pageKey]="pageKey"></dt-objective-aspect-list>
</div>
