@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: block;
  height: 100%;

  background-color: #fafafa;

  display: flex;
  flex-direction: column;
}

.header {
  @include dt.typography-level-old(body-2);
  padding: 8px 16px;
}

mat-action-list {
  padding: 0;
  background-color: white;

  flex: 1 0 0;
  min-height: 0;
  overflow-y: auto;

  button.mat-list-item {
    height: 40px;

    white-space: nowrap;
    @include dt.typography-level-old(caption);
    color: dt.$grey-foreground;

    span.date {
      @include dt.typography-level-old(body-2);
      color: dt.$foreground;
    }

    &:hover,
    &.active {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .type-description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

mat-spinner {
  display: block;
  margin: 8px auto;
  padding: 0 16px;
}

mat-error {
  margin: 8px;
}
