@use 'variables' as dt;

:host {
  position: relative;
  width: 95%;
  height: 100%;
  min-height: 0;
  left: 2.5%;
  z-index: 20;
}

// keep outside (CDK)
.stage-container {
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #9e9fa0;
  background-color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;

  .expand-stage-triangle {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    fill: #b8bec2;

    &:hover {
      fill: #ffcc00;
    }
  }

  &.cursor-pointer {
    padding: 1px; // prevents content from jumping
  }

  &.selected {
    border: 2px solid dt.$orange;
    padding: 0; // prevents content from jumping
  }

  .stage-name-container {
    display: flex;
    background-color: #e2e4e5;

    .stage-drag-handle {
      position: absolute;
      width: 34px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: move;
    }

    .stage-name {
      width: 100%;
      text-align: center;
      margin: 0;
      font-weight: 500;
      white-space: nowrap;
      padding: 2px 40px 1px 35px;
      color: rgba(0, 0, 0, 0.87);

      &.empty-input {
        color: #f44336;
        border-bottom-color: #f44336;
      }
    }

    .stage-name:focus {
      padding-bottom: 0;
    }

    .deletion-button {
      position: absolute;
      right: 0;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      &.disabled {
        color: #6d6d6d;
      }
    }

    .deletion-button:not(.disabled):hover {
      color: dt.$orange;
    }

    .big-title {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.stage-textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 2px 5px;
  line-height: 1.3em;
  outline: none; // red outline
}

.stage-textarea::-webkit-scrollbar {
  display: none;
}

.expand-stage-modal .stage-textarea {
  flex: 0 1 100vh;
}
