@use 'variables' as dt;
$foreground: dt.$blue;

:host {
  overflow: hidden;
  min-width: 150px;
}

.chart-container {
  position: relative;
  padding: 0 20px;
  width: 100%;
  color: $foreground;
  $background: #cdcdcd;

  .chart-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .chart-row {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px 0;
  }

  .chart-bar {
    position: relative;
    height: 100%;
    background-color: $background;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;

    > div {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .chart-bar-left {
      justify-content: flex-end;
    }
    .chart-bar-center {
      flex: 1 0 0;
      position: relative;
      z-index: 1; // Appear above everything else

      .interval-center-line {
        width: 100%;
        height: 1px;
        background-color: $foreground;
      }

      .interval-center-circle {
        position: absolute;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin-left: -4px;
        background-color: $background;
        border: 1px solid $foreground;
      }
    }

    span {
      margin: 0 2px;
    }

    .interval-line {
      background-color: $foreground;
      height: 100%;
      width: 1px;
    }
  }

  .vertical-line-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .vertical-line {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      margin-left: -0.5px;
      background-color: #cccccc;
    }

    .vertical-line:first-child,
    .vertical-line:last-child {
      background-color: black;
      z-index: 2; // Position above everything else
    }
  }
}
