<div class="chart-dummy"></div>

<div class="chart-box" title="{{ value * 100 | number : '1.0-2' }}%" [dtHoverPopover]="ifPopover">
  <div *ngIf="value < 0.56" class="dark-text-wrapper">
    <div class="dark-text">{{ value * 100 | number : '1.0-0' }}%</div>
    <div class="dark-line"></div>
  </div>

  <div class="chart-bar" [style.height.%]="value * 100">
    <div *ngIf="value >= 0.56" class="light-text">{{ value * 100 | number : '1.0-0' }}%</div>
  </div>
</div>

<div class="chart-dummy"></div>

<ng-template #ifPopover>
  <div class="influence-factor-popover">
    <dt-robustness-influence-factor-deviation [stateDistribution]="stateDistribution"></dt-robustness-influence-factor-deviation>
  </div>
</ng-template>
