@use '@angular/material' as mat;
@use 'variables' as dt;

.res-chart-container {
  display: flex;
  flex-wrap: wrap;

  .header {
    @include dt.typography-level-old(body-2);
    text-align: center;
  }

  .label-col {
    display: flex;

    > div {
      align-self: flex-end;
      display: flex;
    }

    .labels {
      min-width: 100%;
    }
  }

  .score-col {
    display: flex;

    .scores {
      align-self: flex-end;

      .numbers {
        display: flex;
        justify-content: space-between;
        height: 30px;

        .caption {
          @include dt.typography-level-old(body-2);

          width: 50px;
          text-align: center;
          margin: auto;
        }
      }

      .score-wrapper {
        display: flex;
        height: 60px;
        align-items: center;

        .score {
          @include dt.typography-level-old(body-2);

          text-align: center;
          margin: auto;
        }
      }
    }
  }

  .chart-col,
  .rank-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chart-col {
    flex: 1 0 150px;
    min-width: 150px;
    padding-right: 10px;
  }

  .rank-col {
    flex: 1 0 300px;
    min-width: 300px;
    padding: 0 10px;

    .numbers {
      display: flex;
      justify-content: space-between;
      height: 30px;
    }

    .number {
      @include dt.typography-level-old(body-2);

      flex: 1;
      text-align: center;
      margin: auto;
    }

    .chart-wrapper {
      display: flex;
    }

    .chart {
      flex: 1;
    }

    .chart-row-wrapper {
      height: 60px;
      padding: 4px 0;
    }

    .chart-row {
      background-color: #cdcdcd;
      height: 100%;
      display: flex;

      dt-chart-rangposition-part {
        flex: 1;
      }
    }
  }
}

dt-chart-nutzenerwartungswert {
  flex: 1;
}

// Moved from a global style to here
.chart-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;

  /**
   * contains all labeling elements (and checkboxes) on the left side of the chart
   */
  .labels {
    max-width: 30%;

    /**
     * label for the bar in the same row on the right side
     */
    .label-item {
      display: flex;
      align-items: center;

      /**
       * container for the respective ranking
       */
      .ranking {
        @include dt.typography-level-old(body-2);
        align-items: center;
        display: flex;
        padding-right: 20px;
      }

      /**
       * contains the name and title of the alternative
       */
      .caption {
        flex-grow: 1;
        overflow: hidden;

        &.alternative-name {
          @include dt.typography-level-old(body-2);

          line-height: 1.1;
          max-width: 60ch;
          max-height: 3.3em;
          text-align: center;

          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
      }
    }
  }
}
