@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  flex: 1;
}

.phase-icon {
  margin: 0 4px;
}

.menu-trigger {
  position: absolute;
  top: 100%;
}

::ng-deep .dt-professional-mode-menu {
  margin-top: 1px;
}

.mode-selection {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;

  .mat-radio-button {
    padding: 8px;
  }
}

.outer-professional-tab-container {
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 0;
  position: relative;

  min-height: 0;
  height: 100%;
  overflow: auto;

  padding: 20px 40px;

  .inner-professional-tab-container {
    height: 100%;
  }
}

.professional-nav {
  display: flex;
  flex-direction: column;
  max-height: 36px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;

  &.evaluate-and-decide .phase-and-categories {
    transform: translateY(-100%);
  }

  .phase-and-categories {
    display: flex;
    transition: transform 500ms;

    .phase {
      width: 240px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      color: dt.$orange;
      cursor: pointer;

      .phase-name {
        display: flex;
        font-weight: 500;
        font-size: dt.font-size-old(body-1);
      }
    }

    .mat-tab-header {
      width: fit-content;
      border-left: 1px solid rgba(0, 0, 0, 0.12);
      border-bottom: none;
    }
  }
}

.mat-mdc-tab-link.mdc-tab {
  height: 36px;
  padding: 0;
}
