<div class="dt-limit-width">
  <dt-step-title [showStepNumber]="false" i18n>Überprüfe Deine Zielhierarchie noch einmal</dt-step-title>

  <dt-step-description>
    <ng-template #description i18n>Überprüfe, ob Du Deine Zielhierarchie weiter verbessern kannst.</ng-template>
    <ng-template #subDescription i18n
      >Sind die Formulierungen Deiner Fundamentalziele präzise und fundamental? Bist Du Dir sicher, dass Du keine Aspekte vergessen
      hast?</ng-template
    >
  </dt-step-description>
</div>

<dt-objective-aspect-hierarchy
  [listOfAspects]="listOfAspects"
  [listOfDeletedAspects]="listOfDeletedAspects"
  [tree]="tree"
  [brainstormingOpen]="false"
  [trashBinOpen]="false"
></dt-objective-aspect-hierarchy>
