<dt-modal-content [contentPadding]="false" (closeClick)="close()" [flexContent]="true">
  <ng-template #title>
    <div class="header">
      <span>{{ event.name }}</span>
      <div
        #saveIndicator
        class="save-indicator"
        [ngSwitch]="saveState"
        i18n-matTooltip
        matTooltip="Änderungen werden automatisch in Deinem Benutzerkonto gespeichert"
      >
        <ng-container *ngSwitchCase="'saving'">
          <mat-icon>sync</mat-icon>
          <span i18n>Wird gespeichert&mldr;</span>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <mat-icon>cloud_upload</mat-icon>
          <span *ngIf="saveState === 'saved'" i18n>Erfolgreich gespeichert!</span>
        </ng-container>
      </div>
    </div>
  </ng-template>
  <ng-template #content>
    <div class="modal-content">
      <div *ngIf="!lastSaveSuccessful" class="overlay" i18n
        >Beim Speichern Deiner Änderungen ist ein Problem aufgetreten. Möglicherweise ist Deine Internetverbindung instabil. Im Hintergrund
        wird weiterhin versucht die Änderungen zu speichern. Wenn Du diese Fenster schließt, gehen Deine Änderungen verloren. Wenn das
        Problem trotz stabiler Internetverbindung weiterhin besteht, wende Dich bitte an den Veranstalter, um Hilfe zu erhalten.
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
      </div>

      <div *ngIf="secondsSinceClose > 2 && lastSaveSuccessful" class="overlay" i18n
        >Im Hintergrund werden noch Änderungen gespeichert. Achtung! Wenn Du dieses Fenster schließt, gehen alle nicht gespeicherten
        Änderungen verloren.
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
      </div>

      <mat-tab-group mat-stretch-tabs="false" dynamicHeight #tabGroup>
        <mat-tab i18n-label label="Übersicht">
          <div class="overview-tab" [ngSwitch]="submitted">
            <ng-container *ngSwitchCase="true">
              <p i18n
                >Du hast für diese Veranstaltung am <span class="bold">{{ submission.updatedAt | date : 'short' }}</span> erfolgreich
                abgegeben.</p
              >
              <div class="mat-caption">
                <span i18n>Abgabe ID: </span><span class="grey">{{ submission.id }}</span>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="false">
              <div class="requirements">
                <div [ngSwitch]="projectLoaded">
                  <ng-container *ngSwitchCase="true">
                    <div class="header" i18n>Projekt „{{ decisionData.decisionProblem }}”</div>
                    <ng-container *ngFor="let requirement of projectRequirements; index as requirementIndex">
                      <div *ngIf="requirement[1]" class="requirement">
                        <ng-template #satisfiedText>
                          <ng-container [ngSwitch]="requirement[0]">
                            <ng-container *ngSwitchCase="'requireDecisionQuality'" i18n>Entscheidungsqualität wurde bewertet</ng-container>
                            <ng-container *ngSwitchDefault i18n>Schritt {{ requirementIndex + 1 }} wurde bearbeitet</ng-container>
                          </ng-container>
                        </ng-template>
                        <ng-template #unsatisfiedText>
                          <ng-container [ngSwitch]="requirement[0]">
                            <ng-container *ngSwitchCase="'requireDecisionQuality'" i18n
                              >Entscheidungsqualität wurde nicht bewertet</ng-container
                            >
                            <ng-container *ngSwitchDefault i18n
                              >Schritt {{ requirementIndex + 1 }} wurde nicht vollständig bearbeitet</ng-container
                            >
                          </ng-container>
                        </ng-template>
                        <ng-container [ngSwitch]="requirement[2]">
                          <span *ngSwitchCase="true" class="satisfied">
                            <mat-icon>check</mat-icon><ng-container *ngTemplateOutlet="satisfiedText"></ng-container>
                          </span>
                          <span *ngSwitchCase="false" class="unsatisfied">
                            <mat-icon>close</mat-icon><ng-container *ngTemplateOutlet="unsatisfiedText"></ng-container>
                          </span>
                        </ng-container>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="false">
                    <div class="header" i18n>Projekt</div>
                    <div class="requirement">
                      <span class="unsatisfied">
                        <mat-icon>close</mat-icon>
                        <span i18n>Kein Projekt geladen</span>
                      </span>
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="event.questionnaire == null">
                  <div class="header" i18n>Fragebogen</div>
                  <div class="requirement">
                    <span class="unsatisfied">
                      <mat-icon>close</mat-icon>
                      <span i18n
                        >Der Fragebogen wurde vom Veranstalter noch nicht veröffentlicht. Bis der Veranstalter den Fragebogen freigibt,
                        kannst Du nicht abgeben.</span
                      >
                    </span>
                  </div>
                </div>
                <div *ngIf="event.questionnaire?.length > 0" [ngSwitch]="questionnaireSatisfied">
                  <div class="header" i18n>Fragebogen</div>
                  <div *ngSwitchCase="true" class="requirement">
                    <span class="satisfied">
                      <mat-icon>check</mat-icon><span i18n>Alle Fragen des Fragebogens wurden beantwortet</span>
                    </span>
                  </div>
                  <div *ngSwitchCase="false" class="requirement">
                    <span class="unsatisfied"><mat-icon>close</mat-icon><span i18n>Der Fragebogen ist unvollständig</span></span>
                  </div>
                </div>
                <ng-container *ngIf="event.freeTextConfig.enabled">
                  <div>
                    <div class="header">{{ event.freeTextConfig.name }}</div>
                    <ng-container [ngSwitch]="freeTextSatisfied">
                      <div *ngSwitchCase="true" class="requirement">
                        <span class="satisfied">
                          <mat-icon>check</mat-icon>
                          <span i18n>Die Mindestanforderung von {{ event.freeTextConfig.minLength }} Zeichen ist erfüllt</span>
                        </span>
                      </div>
                      <div *ngSwitchCase="false" class="requirement">
                        <span class="unsatisfied">
                          <mat-icon>close</mat-icon>
                          <span i18n>Die Mindestanforderung von {{ event.freeTextConfig.minLength }} Zeichen ist nicht erfüllt</span>
                        </span>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
                <div>
                  <div class="header" i18n>Abgabefrist</div>
                  <div *ngIf="startDateReached && !pastEndDate" class="requirement">
                    <span class="satisfied" [ngSwitch]="!!event.endDate">
                      <mat-icon>check</mat-icon>
                      <span *ngSwitchCase="true" i18n>Abgaben werden noch bis zum {{ event.endDate | date : 'short' }} akzeptiert</span>
                      <span *ngSwitchCase="false" i18n>Abgaben werden fristlos akzeptiert</span>
                    </span>
                  </div>
                  <div *ngIf="!startDateReached" class="requirement">
                    <span class="unsatisfied">
                      <mat-icon>close</mat-icon>
                      <span i18n>Abgaben werden erst ab dem {{ event.startDate | date : 'short' }} akzeptiert</span>
                    </span>
                  </div>
                  <div *ngIf="pastEndDate" class="requirement">
                    <span class="unsatisfied">
                      <mat-icon>close</mat-icon>
                      <span i18n>Abgaben wurden nur bis zum {{ event.endDate | date : 'short' }} akzeptiert</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="action-row">
                <button
                  #submitButton
                  mat-raised-button
                  color="accent"
                  (click)="submit()"
                  [disabled]="!submissionValid || isBusy"
                  [dtOverlayProgress]="isBusy"
                  i18n
                  >Projekt abgeben</button
                >
                <button
                  dtElementRef
                  #leaveButton="dtElementRef"
                  mat-raised-button
                  [disabled]="isBusy"
                  [dtOverlayProgress]="isBusy"
                  (click)="leaveEvent(leaveButton)"
                  i18n
                  >Veranstaltung verlassen</button
                >
              </div>
            </ng-container>
          </div>
        </mat-tab>
        <mat-tab *ngIf="event.questionnaire?.length > 0" i18n-label label="Fragebogen" [disabled]="isBusy">
          <div class="questionnaire-tab">
            <dt-questionnaire
              [readonly]="submitted"
              [questionnairePages]="event.questionnaire"
              [submission]="submission"
              (isValid)="questionnaireSatisfied = $event"
              (openStatus)="tabGroup.selectedIndex = 0"
            ></dt-questionnaire>
          </div>
        </mat-tab>
        <mat-tab *ngIf="event.freeTextConfig.enabled" [label]="event.freeTextConfig.name" [disabled]="isBusy">
          <dt-rich-text-editor
            [readonly]="submitted"
            [(text)]="freeTextContent"
            (textChange)="freeTextChange$.next()"
            [placeholder]="event.freeTextConfig.placeholder"
            (characterCountChange)="freeTextCharacterCount = $event"
          >
          </dt-rich-text-editor>

          <div *ngIf="event.freeTextConfig.minLength" class="free-text-character-counter">
            <span [class.warning]="freeTextCharacterCount < event.freeTextConfig.minLength">
              {{ freeTextCharacterCount }} / {{ event.freeTextConfig.minLength }} <span i18n>Zeichen</span>
            </span>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-template>
</dt-modal-content>
