<mat-error class="dt-error" *ngIf="!event.questionnaireReleased" i18n
  >Der Fragebogen ist nicht veröffentlicht. Teilnehmende können ihn weder einsehen noch ausfüllen. Abgaben sind nicht möglich, bis der
  Fragebogen veröffentlicht wurde.</mat-error
>
<ng-container [ngSwitch]="event.submissionStatus">
  <div class="status-block submissions-open" *ngSwitchCase="'open'">
    <mat-icon>alarm_on</mat-icon>
    <ng-container *ngIf="event.endDate" i18n>Die Abgabe ist freigeschaltet bis zum {{ event.endDate | date : 'medium' }}.</ng-container>
    <ng-container *ngIf="!event.endDate" i18n>Die Abgabe ist ohne Frist freigeschaltet.</ng-container>
  </div>
  <div class="status-block" *ngSwitchCase="'upcoming'">
    <mat-icon>acute</mat-icon>
    <ng-container i18n>Die Abgabe wird am {{ event.startDate | date : 'medium' }} freigeschaltet.</ng-container>
  </div>
  <div class="status-block" *ngSwitchCase="'expired'">
    <mat-icon>lock_clock</mat-icon>
    <ng-container i18n>Der Abgabezeitraum ist abgelaufen.</ng-container>
  </div>
</ng-container>

<section>
  <h4 i18n>Eckdaten</h4>
  <table>
    <tr>
      <td i18n>Name der Veranstaltung</td>
      <td>{{ event.name }}</td>
    </tr>
    <tr>
      <td i18n>Registrierungs-Code</td>
      <td>{{ event.code || '—' }}</td>
    </tr>
    <tr>
      <td i18n>Start Abgabefrist</td>
      <td [ngSwitch]="!!event.startDate">
        <ng-container *ngSwitchCase="true">{{ event.startDate | date : 'medium' }}</ng-container>
        <ng-container *ngSwitchCase="false" i18n>Unbefristet</ng-container>
      </td>
    </tr>
    <tr>
      <td i18n>Ende Abgabefrist</td>
      <td [ngSwitch]="!!event.endDate">
        <ng-container *ngSwitchCase="true">{{ event.endDate | date : 'medium' }}</ng-container>
        <ng-container *ngSwitchCase="false" i18n>Unbefristet</ng-container>
      </td>
    </tr>
  </table>
</section>

<section>
  <h4 i18n>Berechtigungen</h4>
  <p class="mat-caption" i18n
    >Sowohl der Besitzer als auch alle Editoren können Änderungen an der Veranstaltung vornehmen. Nur der Besitzer kann Berechtigungen
    verändern und die Veranstaltung löschen.</p
  >
  <table class="permissions-table">
    <tr>
      <td i18n>Besitzer</td>
      <td>
        <div class="owner-cell">
          <mat-chip-set>
            <mat-chip>
              {{ event.owner.email }}
              <ng-container *ngIf="isOwner" i18n>(Du)</ng-container>
            </mat-chip>
          </mat-chip-set>
          <button mat-button *ngIf="isOwner" (click)="transferOwnership()" i18n>Besitz übertragen</button>
        </div>
      </td>
    </tr>
    <tr>
      <td i18n>Editoren</td>
      <td [ngSwitch]="isOwner">
        <form *ngSwitchCase="true" [formGroup]="editorsForm" (ngSubmit)="saveEditors()" class="editors-form">
          <mat-form-field>
            <mat-label i18n>E-Mail-Adressen der Editoren</mat-label>
            <mat-chip-grid #editorList formControlName="editors">
              <mat-chip-row
                *ngFor="let editorEmail of editorsForm.value.editors"
                (removed)="removeEditor(editorEmail)"
                [class.invalid]="!(editorEmail | isValidEmail)"
              >
                {{ editorEmail }}
                <button [disabled]="!isOwner" matChipRemove><mat-icon>cancel</mat-icon></button>
              </mat-chip-row>
              <input
                placeholder="Editor hinzufügen"
                i18n-placeholder
                [matChipInputFor]="editorList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addEditor($event)"
                [disabled]="!isOwner"
              />
            </mat-chip-grid>

            <button
              mat-icon-button
              [dtOverlayProgress]="editorsForm.disabled"
              [disabled]="editorsForm.pristine"
              class="save-button"
              matSuffix
              ><mat-icon>save</mat-icon></button
            >

            <mat-error *ngIf="editorsForm.controls.editors.errors?.emailFormat" i18n
              >Eine der Eingaben ist keine gültige E-Mail-Adresse</mat-error
            >
            <mat-error *ngIf="editorsForm.controls.editors.errors?.emailNotFound" i18n
              >Eine der E-Mail-Adressen gehört nicht zu einem Nutzeraccount</mat-error
            >
            <mat-error *ngIf="editorsForm.controls.editors.errors?.unknownError" i18n>Unbekannter Fehler beim Speichern</mat-error>
          </mat-form-field>
        </form>
        <mat-chip-set *ngSwitchDefault>
          <mat-chip *ngFor="let editorEmail of editorsForm.value.editors">
            {{ editorEmail }}
            <ng-container *ngIf="editorEmail === userEmail" i18n>(Du)</ng-container>
          </mat-chip>
        </mat-chip-set>
      </td>
    </tr>
  </table>
</section>

<section>
  <h4 i18n>Aktionen</h4>
  <div class="button-row">
    <button mat-stroked-button (click)="duplicateEvent()" i18n>Veranstaltung duplizieren</button>
    <button mat-stroked-button color="warn" *ngIf="isOwner" (click)="deleteEvent()" i18n>Veranstaltung löschen</button>
  </div>
</section>
