<ng-container [ngSwitch]="isDecisionStatementHidden">
  <button
    mat-icon-button
    color="accent"
    *ngSwitchCase="true"
    class="hidden-decision-statement"
    i18n-matTooltip
    matTooltip="Entscheidungsfrage einblenden"
    matTooltipPosition="right"
    matTooltipShowDelay="300"
    matTooltipClass="dt-open-decision-statement-tooltip"
    (click)="isDecisionStatementHidden = false"
  >
    <mat-icon>contact_support</mat-icon>
  </button>

  <div *ngSwitchCase="false" class="decision-statement-box">
    <div
      class="decision-statement-header"
      (mouseleave)="isHoveringOverDecisionStatement = false"
      (mouseenter)="isHoveringOverDecisionStatement = true"
    >
      <mat-icon
        i18n-matTooltip
        matTooltip="Entscheidungsfrage einklappen"
        (click)="isDecisionStatementHidden = true; isHoveringOverDecisionStatement = false"
        [class.collapse-decision-statement-button]="isHoveringOverDecisionStatement"
        >{{ isHoveringOverDecisionStatement ? 'left_panel_close' : 'contact_support' }}</mat-icon
      >
      <span class="decision-statement-title" i18n>Meine Entscheidungsfrage</span>
    </div>
    <div class="decision-statement dt-limit-width" dtExplainable [explanationTrigger]="explainDecisionStatementTrigger">
      <div data-cy="structure-and-estimate-decision-statement" class="statement-wrapper">
        <div
          #decisionStatementInput
          contenteditable
          class="statement-input"
          [textContent]="decisionData.decisionStatement.statement"
          (blur)="updateDecisionStatement($event)"
          (keydown.enter)="$event.preventDefault()"
          data-cy="statement-input"
        ></div>
      </div>
    </div>

    <dt-explanation-criteria-open-button
      #explainDecisionStatementTrigger="explanationTrigger"
      dtExplanationTrigger
      criteriaToExplain="APPROPRIATE_FRAME"
    ></dt-explanation-criteria-open-button>
  </div>

  <div class="impact-model">
    <dt-impact-matrix
      [settingsContainerPadding]="'0 0 0 20px'"
      [extendable]="true"
      data-cy="structure-and-estimate-impact-model"
    ></dt-impact-matrix>
  </div>
</ng-container>
