<div
  *ngIf="showHeader"
  class="header"
  [class.active]="open"
  [class.force]="forceOpen"
  [class.orange-arrow]="arrowColor === 'orange'"
  (click)="toggle()"
  data-cy="header"
>
  <ng-template #arrowTemplate>
    <ng-container [ngSwitch]="trueActive">
      <mat-icon *ngSwitchCase="false">expand_more</mat-icon>
      <mat-icon *ngSwitchCase="true">expand_less</mat-icon>
    </ng-container>
  </ng-template>

  <ng-container *ngIf="arrow === 'left'">
    <ng-container *ngTemplateOutlet="arrowTemplate"></ng-container>
  </ng-container>
  <div class="caption"
    ><ng-content select=".dt-collapsible-caption"> </ng-content>{{ caption }}{{ open ? captionOpened : captionClosed }}</div
  >
  <ng-container *ngIf="arrow === 'right'">
    <ng-container *ngTemplateOutlet="arrowTemplate"></ng-container>
  </ng-container>
</div>
<div [@collapseAnimation]="trueActive" class="body">
  <div class="content-wrapper">
    <ng-content select=".dt-collapsible-body"></ng-content>
  </div>
</div>
