<div class="header" (click)="open = !open; openChange.emit(open)">
  <ng-container *ngIf="open; else closed">
    <ng-container *ngTemplateOutlet="headerTemplateRef"></ng-container>
    <dt-button-tiny [icon]="'expand_less'"></dt-button-tiny>
  </ng-container>
  <ng-template #closed>
    <dt-button-tiny [icon]="'expand_more'"></dt-button-tiny>
  </ng-template>
</div>
<ng-container *ngIf="open">
  <mat-divider></mat-divider>
  <ng-container *ngTemplateOutlet="contentTemplateRef"></ng-container>
</ng-container>
