@use '@angular/material' as mat;
@use 'variables' as dt;

$grey: #d0cece;

.worker-error,
.worker-error a {
  font-weight: bold;
  color: #ee0000;
  text-decoration: underline;
}

dt-navline {
  border-top: none;
  background-color: white;
}

form {
  border-top: 2px solid $grey;
  margin-top: 20px;
}

section {
  padding: 8px 0;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.box {
  border: 2px solid $grey;
  border-radius: 5px;
  padding: 0 12px;

  .header {
    font-weight: bold;
    border-bottom: 1px solid $grey;
    padding-bottom: 4px;
  }

  .header,
  mat-slide-toggle {
    margin: 8px 0;
  }

  mat-slide-toggle {
    display: block;
  }
}

.steps-box-content {
  display: flex;
  gap: 8px;

  table {
    flex: 1;
    margin-bottom: 8px;
  }

  th {
    font-weight: bold;
    text-align: left;
  }

  td:nth-child(2) {
    min-width: 70px;
  }

  td:not(:last-child) {
    padding-right: 8px;
  }
}

.done {
  color: green;
}

.options-row .box {
  flex: 1 0 300px;
  min-width: 300px;
}

mat-slide-toggle {
  &.has-changes {
    font-style: italic;

    ::ng-deep .mat-slide-toggle-content {
      // Prevent text clipping when italic
      padding-right: 0.25ch;
    }
  }

  &:not(.has-changes) .change-indicator {
    display: none;
  }
}
