<dt-step-title *ngIf="showTitle" step="results" i18n>{{ 'results' | naviStep }}: Robustheitstest</dt-step-title>

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()" [withBiggerMargin]="!decisionData.isProfessional()">
  <ng-template #description i18n
    >Analysiere hier, wie sich verschiedene Szenarien der Einflussfaktoren oder unpräzise angegebene Parameter auf das Ergebnis
    auswirken.</ng-template
  >
  <ng-template #subDescription i18n
    >Mit der Anzahl der Simulationsschritte kannst Du die Genauigkeit der Analyseergebnisse beeinflussen.</ng-template
  >
</dt-step-description>

<ng-container [ngSwitch]="robustnessCheckService.noWorker">
  <div *ngSwitchCase="true" class="worker-error">
    <p i18n
      >Leider kann Dein Browser nicht für diesen Schritt verwendet werden. Bitte nutze einen
      <a href="https://caniuse.com/#feat=webworkers" rel="noopener noreferrer" target="_blank">aktuelleren Browser</a>.</p
    >
  </div>

  <ng-container *ngSwitchCase="false">
    <dt-robustness-check-chart
      [result]="currentResult"
      [selectedAlternatives]="activeAlternativeIndices"
      [expectedUtilityValues]="expectedUtilityValues"
    ></dt-robustness-check-chart>

    <form [formGroup]="paramForm" (ngSubmit)="start()">
      <dt-navline [navLine]="navLine" data-cy="secondary-navline" *dtProjectMode="'professional'"></dt-navline>

      <section>
        <div class="box">
          <div class="header" [ngSwitch]="state" [class.done]="state === 'done'" [dtOverlayProgress]="state === 'calculating'">
            <ng-container *ngSwitchCase="'calculating'" i18n>Berechnung läuft…</ng-container>
            <ng-container *ngSwitchCase="'paused'" i18n>Berechnung pausiert</ng-container>
            <ng-container *ngSwitchCase="'done'" i18n>Stabiles Ergebnis erreicht</ng-container>
          </div>
          <div class="steps-box-content">
            <table>
              <tr>
                <td i18n>Simulationsschritte</td>
                <td>{{ currentResult?.iterationCount ?? 0 | number }}</td>
              </tr>
              <tr>
                <td i18n>Verstrichene Zeit</td>
                <td>{{ elapsedTime / 1000 | number : '1.0-0' }}s</td>
              </tr>
            </table>
            <ng-container [ngSwitch]="buttonState">
              <dt-button
                *ngSwitchCase="'has-changes'"
                icon="refresh"
                [disabled]="this.paramForm.invalid"
                data-cy="robustness-recompute-button"
                i18n
                >Neue Berechnung starten</dt-button
              >
              <dt-button *ngSwitchCase="'calculating'" (click)="pauseCalculation()" icon="pause" [noSubmit]="true" i18n
                >Berechnung pausieren</dt-button
              >
              <dt-button
                *ngSwitchCase="'paused'"
                (click)="resumeCalculation()"
                icon="resume"
                [noSubmit]="true"
                data-cy="robustness-resume-button"
                i18n
                >Berechnung fortsetzen</dt-button
              >
            </ng-container>
          </div>
        </div>
      </section>

      <section class="options-row">
        <div class="box" formArrayName="alternatives">
          <div class="header" i18n>Alternativen</div>
          <mat-slide-toggle
            *ngFor="let alternativeIndex of sortedAlternativeIndices"
            [formControlName]="alternativeIndex"
            [class.has-changes]="paramForm.value.alternatives[alternativeIndex] !== activeParams.alternatives[alternativeIndex]"
          >
            <span class="change-indicator">*</span>
            <span>{{ decisionData.alternatives[alternativeIndex].name }}</span>
          </mat-slide-toggle>
        </div>

        <div class="box" data-cy="influence-factor-box">
          <div class="header" i18n>Einflussfaktoren</div>
          <mat-slide-toggle
            formControlName="predefinedScenarios"
            [class.has-changes]="paramForm.value.predefinedScenarios !== activeParams.predefinedScenarios"
          >
            <span class="change-indicator">*</span>
            <span i18n>Systemseitige Einflussfaktoren</span>
          </mat-slide-toggle>
          <ng-container formArrayName="userdefinedScenarioIDs">
            <mat-slide-toggle
              *ngFor="let influenceFactor of decisionData.influenceFactors"
              [formControlName]="influenceFactor.id"
              [class.has-changes]="
                paramForm.value.userdefinedScenarioIDs[influenceFactor.id] !== activeParams.userdefinedScenarioIDs[influenceFactor.id]
              "
            >
              <span class="change-indicator">*</span>
              <span>{{ influenceFactor | influenceFactorName }}</span>
            </mat-slide-toggle>
          </ng-container>
        </div>

        <div class="box" data-cy="imprecision-box">
          <div class="header" i18n>Unpräzise Angaben</div>
          <mat-slide-toggle
            formControlName="probabilities"
            [class.has-changes]="paramForm.value.probabilities !== activeParams.probabilities"
          >
            <span class="change-indicator">*</span>
            <span i18n>Wahrscheinlichkeitsschätzungen</span>
          </mat-slide-toggle>
          <mat-slide-toggle formControlName="utilities" [class.has-changes]="paramForm.value.utilities !== activeParams.utilities">
            <span class="change-indicator">*</span>
            <span i18n>Nutzenbewertungen</span>
          </mat-slide-toggle>
          <mat-slide-toggle
            formControlName="objectiveWeights"
            [class.has-changes]="paramForm.value.objectiveWeights !== activeParams.objectiveWeights"
          >
            <span class="change-indicator">*</span>
            <span i18n>Zielgewichte</span>
          </mat-slide-toggle>
        </div>
      </section>
    </form>
  </ng-container>
</ng-container>

<ng-template #debug>
  <h3>Robustness check</h3>
  <div>Worker count: {{ robustnessCheckService.workerCount }}</div>
  <div>Performance: {{ iterationsPerSecond | number : '1.2-2' }} iterations per second</div>
  <div>Änderung: {{ changePerIteration }}</div>
</ng-template>
