<div class="list">
  <klug-alternative-box
    *ngFor="let alternative of decisionData.alternatives; index as alternativeIndex"
    [alternativeIndex]="alternativeIndex"
    (delete)="deleteAlternative(alternativeIndex)"
  ></klug-alternative-box>
</div>

<button
  mat-raised-button
  (click)="addAlternative()"
  [disabled]="decisionData.alternatives.length >= constants.maxAlternativeCount"
  color="klug-orange"
>
  <mat-icon>add</mat-icon>
  <span>weitere Option hinzufügen </span>
</button>
