<div
  class="modal-window"
  [class.big-modal]="config.size === 'big'"
  [class.small-modal]="config.size === 'small'"
  [class.giant-modal]="config.size === 'giant'"
  [class.flex-modal]="config.size === 'flex'"
>
  <ng-container *ngIf="config.titleTemplate">
    <div class="modal-title">
      <div class="modal-title-text">
        <h4><ng-container [ngTemplateOutlet]="config.titleTemplate"></ng-container></h4>
        <div class="mat-caption"><ng-container [ngTemplateOutlet]="config.subTitleTemplate"></ng-container></div>
      </div>

      <div>
        <ng-container [ngTemplateOutlet]="config.actionsTemplate"></ng-container>
        <button *ngIf="config.showX" mat-icon-button (click)="close()" data-cy="dt-modal-title-close"><mat-icon>close</mat-icon></button>
      </div>
    </div>
  </ng-container>
  <div *ngIf="config.subHeaderTemplate" class="modal-subheader">
    <ng-container [ngTemplateOutlet]="config.subHeaderTemplate"></ng-container>
  </div>
  <div #modalContent class="modal-content" [class.content-padding]="config.contentPadding" [class.flex-content]="config.flexContent">
    <ng-container [ngTemplateOutlet]="config.contentTemplate"></ng-container>
  </div>
  <ng-container *ngIf="config.showFooter">
    <mat-divider></mat-divider>
    <div class="modal-footer">
      <div class="modal-footer-content">
        <ng-container [ngTemplateOutlet]="config.footerTemplate"></ng-container>
      </div>
      <dt-button *ngIf="!config.footerTemplate" (click)="close()" [type]="'raised-less'" i18n>Schließen</dt-button>
    </div>
  </ng-container>
</div>
