@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex; // important for Safari
  flex: 0 1 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.text-italic {
  font-style: italic;
}

.root-element {
  width: 100%;
}

.content-wrapper {
  height: 100%;
  position: relative;
  overflow: auto;

  .diagram-container {
    margin-top: 100px;
    margin-bottom: 30px;
    height: calc(100% - 130px);
    position: relative;
    display: flex;

    .scale-entry {
      height: 24px;
    }

    .forecast-result {
      width: 150px;
      position: absolute;
      background-color: dt.$orange;
      color: white;
      z-index: 20;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .unit {
      position: absolute;
      bottom: 0;
      width: 150px;
      height: 20px;
      margin-bottom: -20px;
      text-align: center;
    }

    .scale-container {
      width: 150px;
      height: 100%;
      padding: 20px 0;
      position: absolute;
      border-radius: 4px;
      background-color: #e2e4e5;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-align: center;
      justify-content: space-between;
    }

    .dotted-line-container {
      height: 100%;
      padding: 30px 0;
      position: absolute;
      margin-left: 100px;
      z-index: 5;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-align: center;
      justify-content: space-between;

      .dotted-line {
        border-top: 1px dashed #9e9fa0;
      }
    }
  }

  .category-list {
    display: flex;
    margin-left: 170px;
  }
}

.hierarchy-screw-header {
  background-color: dt.$blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  cursor: move;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  padding: 5px;
  position: relative;
  text-align: center;
  user-select: none;

  .close-button {
    color: white;
    height: 30px;
    position: absolute;
    right: 0;
  }
}

.hierarchy-screw-content {
  max-width: 90vw;
  max-height: 350px;
  position: sticky;
  background-color: white;
  border: 1px solid lightgray;
  overflow: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .orange-button {
    color: dt.$orange;
  }

  dt-objective-aspect-hierarchy {
    height: 100%;

    ::ng-deep .mind-map {
      justify-content: center;
    }
  }

  dt-screw-list {
    margin: 50px 20px 0 20px;

    ::ng-deep .cdk-drag:not(:nth-last-child(2)) {
      margin-right: 20px;
    }
  }

  mat-divider {
    align-self: stretch;
    margin: 0px 5px;
    border-width: 2px;
  }
}

.add-category-button {
  margin-top: -100px;
  margin-left: -10px;
  z-index: 10;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  min-width: unset;
}

.change-mode-button {
  margin: 0 5px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.top-left-controls {
  position: absolute;
  top: 20px;
  width: 150px;
}

.overlay {
  padding: 5px;
  border-radius: 0 0 10px 0;

  display: flex;
  align-items: center;

  position: absolute;
  left: 0;

  overflow-x: auto;
  overflow-y: hidden;

  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95);

  @include mat.elevation(8);

  mat-divider {
    align-self: stretch;
    margin: 0px 5px;
    border-width: 2px;

    &:last-child {
      display: none;
    }
  }
}
