<div class="root-element">
  <ng-template #sourcesTemplate>
    <div class="hierarchy-screw-header" (mousedown)="popOverDrag($event)" (touchstart)="popOverDragTouch($event)">
      <span (mousedown)="popOverDrag($event, true)" (touchstart)="popOverDragTouch($event)" i18n>Vorschläge</span>
      <button
        class="close-button"
        (touchstart)="$event.stopImmediatePropagation()"
        (mousedown)="$event.stopImmediatePropagation()"
        (click)="popOverRef.close(); popOverRef = null"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="hierarchy-screw-content mat-elevation-z4" #sourcesContent>
      <ng-container *ngIf="suggestionsMode === 'screw'">
        <div class="overlay">
          <span class="change-mode-button" (click)="suggestionsMode = 'hierarchy'" toolbar i18n>Zielhierarchie anzeigen</span>
        </div>
        <dt-screw-list
          [screws]="screws"
          [screwConfigurationProviders]="alternatives"
          [newScrewConfiguration]="screwConfigurationForNewAlternative"
          [editable]="false"
          (dblClickedElement)="addCategoryFromScrews($event)"
        >
        </dt-screw-list>
      </ng-container>
      <ng-container *ngIf="suggestionsMode === 'hierarchy'">
        <dt-objective-aspect-hierarchy
          [tree]="objectiveTree"
          [editable]="false"
          [forceHideNoteBtn]="true"
          [allowZoom]="false"
          [allowFullscreen]="false"
          [allowSavingImage]="false"
          [allowInputSelection]="false"
          [onlyAspects]="true"
          [allowDragPanning]="false"
          (dblClickedElement)="addCategoryFromHierarchy($event)"
        >
          <span class="change-mode-button" (click)="suggestionsMode = 'screw'" toolbar i18n>Stellhebel anzeigen</span>
          <mat-divider toolbar [vertical]="true"></mat-divider>
          <dt-button-tiny
            #tooltip="matTooltip"
            toolbar
            icon="info"
            matTooltipPosition="above"
            i18n-matTooltip
            matTooltip="Durch Doppelklick kannst Du direkt Aspekte als Kategorien hinzufügen."
            (click)="tooltip.show()"
          >
          </dt-button-tiny>
          <mat-divider toolbar [vertical]="true"></mat-divider>
        </dt-objective-aspect-hierarchy>
      </ng-container>
    </div>
  </ng-template>
  <div #verticalScrollContainer class="content-wrapper">
    <div class="diagram-container">
      <!-- CATEGORY -->
      <div
        class="category-list"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="indicator.verbalIndicatorCategories"
        (cdkDropListDropped)="swapCategories($event)"
      >
        <ng-container
          *ngFor="let verbalIndicatorCategory of indicator.verbalIndicatorCategories; let categoryIdx = index; trackBy: trackByIndex"
        >
          <dt-verbal-category
            [categoryIdx]="categoryIdx"
            [editable]="editable"
            [hasMultipleCategories]="hasMultipleCategories"
            [indicatorIdx]="indicatorIdx"
            [outcomeValues]="outcomeValues"
            [showEmptyField]="showEmptyField"
            [stateIdx]="stateIdx"
            [verbalIndicatorCategory]="verbalIndicatorCategory"
            (changeWeight)="changeWeight($event.categoryIdx, $event.newWeight)"
            (removeCategory)="removeCategory($event)"
            (createStage)="createStage($event.categoryIdx, $event.stageIdx)"
            (removeStage)="removeStage($event.categoryIdx, $event.stageIdx)"
            (setVerbalIndicatorValue)="setVerbalIndicatorValue($event.categoryIdx, $event.newValue)"
            (swapStages)="swapStages($event, categoryIdx)"
          ></dt-verbal-category>
        </ng-container>
        <!-- Add category button (+) -->
        <button *ngIf="editable" class="add-category-button" (click)="createCategory()" mat-button color="accent" type="button">
          <mat-icon>add_box</mat-icon>
        </button>
      </div>
      <!-- SCALE PANEL (left) -->
      <div class="scale-container">
        <div class="scale-entry" *ngFor="let scaleValue of scaleValues">
          <span>{{ scaleValue }}</span>
        </div>
      </div>
      <!-- FORECAST VALUE (orange value on top of the scale) -->
      <!-- style.top = forecastPercentage% + 20px (top padding) + forecastPercentage * (20 (top padding) + 20 (bottom padding) + 24 (forecast height)) -->
      <div
        *ngIf="!editable && forecastResult != null && !isNaN(forecastResult)"
        class="scale-entry forecast-result"
        [style.top]="'calc(' + forecastPercentage() * 100 + '% + 20px - ' + forecastPercentage() + '* 64px)'"
      >
        <span>{{ forecastResult | safeNumber : '?' : '1.0-2' }}</span>
      </div>
      <!-- SCALE UNIT (bottom left) -->
      <span class="unit text-italic" *ngIf="indicator.unit !== ''">in {{ indicator.unit }}</span>
      <!-- DOTTED LINES -->
      <div class="dotted-line-container">
        <div *ngFor="let _ of scaleValues" class="dotted-line" [style.width.px]="dottedLinesWidth"></div>
      </div>
    </div>
    <!-- Hierarchy/Screws button -->
    <dt-button #sourcesButton *ngIf="editable" (click)="openHierarchyScrew()" class="top-left-controls" i18n>Vorschläge</dt-button>
    <mat-form-field *ngIf="!editable && influenceFactor != null" class="top-left-controls">
      <mat-label i18n>Zustand</mat-label>
      <mat-select [(value)]="stateIdx">
        <mat-option *ngFor="let state of influenceFactor.states; let currentStateIdx = index" [value]="currentStateIdx">
          {{ influenceFactor | stateName : currentStateIdx }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
