@use '@angular/material' as mat;
@use 'variables' as dt;

.modal-content-wrapper {
  flex: 0 1 auto;
  min-height: 0;

  display: flex;
  flex-direction: column;

  &.max-height {
    flex-basis: 100vh;
  }
}

.state-list-wrapper {
  flex: 0 1 auto;
  min-height: 200px;
  overflow-y: auto;
}

.comment-editor-wrapper {
  min-height: 0;
  height: 0;

  &.expanded {
    flex: 1 0 150px;
    min-height: 150px;
  }

  .comment-editor {
    overflow-y: auto;
    height: 100%;
  }

  quill-editor {
    min-height: 100%;
  }
}

.state-row {
  display: grid;
  grid-template-columns: auto 150px 1fr 100px 2fr auto;
  align-items: center;
  gap: 8px;

  padding: 4px 8px;

  border-bottom: 1px solid #e0e0e0;

  .state-drag-handle {
    cursor: move;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);

    .delete-button {
      grid-area: 1 / 2;
      justify-self: end;
    }

    .name-input {
      grid-row: 2;
      grid-column: 1 / span 2;
    }

    dt-bar-slider {
      grid-area: 3 / 1;
    }

    .probability-input {
      grid-area: 3 / 2;
    }

    .description-input {
      grid-row: 4;
      grid-column: 1 / span 2;
    }
  }
}

.state-edit-row {
  padding: 4px 8px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  .precision-field {
    width: 100px;
  }
}

.comment-title {
  display: flex;
  align-items: center;
  padding: 0 16px;

  position: relative;
  background-color: #fafafa;

  cursor: pointer;
  user-select: none;

  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  span {
    margin: 8px;
    font-weight: bold;
  }
}

.footer-side {
  flex: 1 0 150px;
}

.footer-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

// Drag and Drop Indicator Table
.cdk-drag-preview {
  @extend .state-row;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Premade scale popover
.premade {
  @include mat.elevation(8);

  border-radius: 5px;
  border: 1px solid dt.$orange;
  background-color: white;

  padding: 8px 16px;

  text-align: center;

  dt-range-input {
    margin: 4px 0 8px 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
