<div class="strength-container">
  <div class="strength-bars" [ngClass]="'strength-' + passwordScore">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="strength-text" [ngClass]="'strength-' + passwordScore">
    <ng-container [ngSwitch]="passwordScore">
      <ng-container i18n *ngSwitchCase="-1">Zu Kurz</ng-container>
      <ng-container i18n *ngSwitchCase="0">Sehr Schwach</ng-container>
      <ng-container i18n *ngSwitchCase="1">Schwach</ng-container>
      <ng-container i18n *ngSwitchCase="2">Mittelmäßig</ng-container>
      <ng-container i18n *ngSwitchCase="3">Stark</ng-container>
      <ng-container i18n *ngSwitchCase="4">Sehr Stark</ng-container>
    </ng-container>
  </div>
</div>
