<dt-step-title [showStepNumber]="showStepNumber" step="results">{{ 'results' | naviStep }}</dt-step-title>

<dt-step-description>
  <ng-template #description i18n
    >Geschafft! Du hast alle Schritte des Entscheidungsnavis durchlaufen und kannst jetzt Dein Ergebnis weiter analysieren.</ng-template
  >
  <ng-template #subDescription i18n
    >Dieser Schritt zeigt Dir eine Rangfolge aller Alternativen und bietet diverse Möglichkeiten, um die Entscheidungssituation und das
    Ergebnis noch besser zu verstehen.</ng-template
  >
</dt-step-description>

<div class="ranking-container">
  <dt-chart-ranking
    [utilityValues]="utilityValues"
    [weightedUtilityMatrix]="weightedUtilityMatrix"
    [allowIgnoringObjectives]="true"
  ></dt-chart-ranking>
</div>
