@use 'variables' as dt;

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  height: 100%;

  user-select: none;

  width: 25px;

  .line {
    position: absolute;
    border-left: 1px solid black;
    height: 100%;
  }

  .tick {
    position: absolute;
    width: 9px;
    height: 1px;
    background-color: black;

    &.top {
      top: 0;
      width: 15px;
    }

    &.bottom {
      bottom: 0;
      width: 15px;
    }
  }

  .marker {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;

    cursor: pointer;

    border-radius: 50%;

    position: absolute;

    transform: translateY(-50%);

    z-index: 0;

    &.focused {
      z-index: 1;
    }

    .scale-value {
      display: none;
      white-space: nowrap;

      padding: 0 5px;
    }

    &.a {
      background-color: dt.$blue;
      color: white;

      &::before {
        content: 'A';
      }
    }

    &.b {
      background-color: dt.$orange;
      color: rgb(30, 30, 30);

      &::before {
        content: 'B';
      }
    }

    &.dragged {
      width: auto;

      border-radius: 5px;

      .scale-value {
        display: initial;
      }

      &::before {
        content: none;
      }
    }
  }
}
