@use '@angular/material' as mat;
@use 'variables' as dt;

#dt-navi-error {
  display: none;

  align-items: center;
  justify-content: center;

  z-index: 50000000;

  position: absolute;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.6);

  .window {
    display: flex;
    flex-direction: column;

    max-height: 100vh;

    max-width: 1300px;

    background-color: white;
    border-radius: 4px;

    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);

    .header {
      display: flex;
      padding: 8px 12px;

      color: white;

      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      align-items: center;
      justify-content: space-between;

      background-color: dt.$crimson-red;

      font-size: dt.font-size-old(subheading-1);
    }

    .explanation {
      @include dt.typography-level-old(body-1);

      overflow: auto;
      padding: 8px 12px;
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 12px;

      border-top: 1px solid lightgray;

      padding: 8px 12px;

      button {
        border-radius: 4px;
        padding: 6px 8px;

        @include dt.typography-level-old(button);

        border: 1px solid dt.$orange;

        color: dt.$orange;

        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

        &:first-child {
          background-color: dt.$orange;
          color: white;
        }

        &:last-child {
          border: 1px solid red;
          color: red;
        }

        &[disabled] {
          background-color: lightgray;
          border: 1px solid gray;
          box-shadow: none;
        }
      }
    }
  }
}

#dt-debug-error-indicator {
  display: none;

  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  font-size: dt.font-size-old(headline);
  padding: 0 5px;

  z-index: 5000000000;

  animation-name: flash;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: bottom left;

  &.error {
    display: unset;
  }

  @keyframes flash {
    from {
      background-color: darkred;
      transform: scale(1);
    }

    to {
      background-color: red;
      transform: scale(1.5);
    }
  }
}
