<div class="dt-limit-width">
  <dt-step-title step="impactModel">{{ 'impactModel' | naviStep }}</dt-step-title>

  <dt-step-description>
    <ng-template #description i18n>Gib für alle Alternativen die erwartete Ausprägung in den einzelnen Zielen an.</ng-template>
    <ng-template #subDescription>
      <ng-container *dtProjectMode="'educational'" i18n
        >Definiere für jedes Ziel eine Skala. Beginne mit simplen Skalen und werde differenzierter, falls nötig. Du kannst Einflussfaktoren
        nutzen, falls die Ausprägung stark von einem Ereignis oder eine Tatsache beeinflusst wird.</ng-container
      >
      <ng-container *dtProjectMode="'starter'" i18n
        >Definiere für jedes Ziel zunächst eine Skala und nimm anschließend alle Bewertungen vor.</ng-container
      >
    </ng-template>
  </dt-step-description>
</div>

<div class="matrix-container">
  <dt-impact-matrix></dt-impact-matrix>
</div>
