<ng-template #content>
  <div
    class="content"
    [class.icon-only]="iconOnly"
    [class.icon-left]="iconPosition === 'left'"
    [class.icon-right]="iconPosition === 'right'"
  >
    <mat-icon *ngIf="navigationIcon === 'next'">navigate_next</mat-icon>
    <mat-icon *ngIf="navigationIcon === 'before'">navigate_before</mat-icon>
    <mat-icon *ngIf="icon" class="material-icons">{{ icon }}</mat-icon>
    <div *ngIf="!iconOnly" class="text">
      <span><ng-content></ng-content></span>
    </div>
  </div>
</ng-template>

<button
  *ngIf="type === 'basic'"
  mat-button
  [color]="color"
  [disabled]="disabled"
  [class.max-width-wrapper]="maxWidthWrapper"
  [class.min-width-disabled]="!minWidth"
  [class.default-padding-disabled]="!defaultPadding"
  [class.small]="small"
  [class.large]="large"
  [class.no-disabled-bg]="noDisabledBg"
  [class.weight-control-button]="weightControlButton"
  [class.transform-uppercase]="transformUppercase"
  [attr.type]="noSubmit ? 'button' : 'submit'"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<button
  *ngIf="type === 'raised'"
  mat-raised-button
  [color]="color"
  [disabled]="disabled"
  [class.max-width-wrapper]="maxWidthWrapper"
  [class.min-width-disabled]="!minWidth"
  [class.default-padding-disabled]="!defaultPadding"
  [class.small]="small"
  [class.large]="large"
  [class.no-disabled-bg]="noDisabledBg"
  [class.weight-control-button]="weightControlButton"
  [class.transform-uppercase]="transformUppercase"
  [attr.type]="noSubmit ? 'button' : 'submit'"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<button
  *ngIf="type === 'raised-less'"
  mat-raised-button
  [class.primary]="color === 'primary'"
  [class.accent]="color === 'accent'"
  [class.warn]="color === 'warn'"
  [disabled]="disabled"
  [class.max-width-wrapper]="maxWidthWrapper"
  [class.min-width-disabled]="!minWidth"
  [class.default-padding-disabled]="!defaultPadding"
  [class.small]="small"
  [class.large]="large"
  [class.no-disabled-bg]="noDisabledBg"
  [class.muted]="_color === 'muted'"
  [class.transparent]="transparent"
  [class.weight-control-button]="weightControlButton"
  [class.transform-uppercase]="transformUppercase"
  [attr.type]="noSubmit ? 'button' : 'submit'"
  class="raised-less"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<button
  *ngIf="type === 'stroked'"
  mat-stroked-button
  [color]="color"
  [disabled]="disabled"
  [class.max-width-wrapper]="maxWidthWrapper"
  [class.min-width-disabled]="!minWidth"
  [class.default-padding-disabled]="!defaultPadding"
  [class.small]="small"
  [class.large]="large"
  [class.no-disabled-bg]="noDisabledBg"
  [class.weight-control-button]="weightControlButton"
  [class.transform-uppercase]="transformUppercase"
  [attr.type]="noSubmit ? 'button' : 'submit'"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<button
  *ngIf="type === 'flat'"
  mat-flat-button
  [color]="color"
  [disabled]="disabled"
  [class.max-width-wrapper]="maxWidthWrapper"
  [class.min-width-disabled]="!minWidth"
  [class.default-padding-disabled]="!defaultPadding"
  [class.small]="small"
  [class.large]="large"
  [class.no-disabled-bg]="noDisabledBg"
  [class.weight-control-button]="weightControlButton"
  [class.transform-uppercase]="transformUppercase"
  [attr.type]="noSubmit ? 'button' : 'submit'"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>
