<dt-step-title [showStepNumber]="false" i18n>Überprüfung und Umformulierung der Entscheidungsfrage</dt-step-title>

<dt-step-description>
  <ng-template #description i18n
    >Passe die Formulierung Deiner Entscheidungsfrage an, um Raum für neue, kreative Lösungen zu schaffen.</ng-template
  >
  <ng-template #subDescription i18n>Nutze hierfür Deine Eingaben der wichtigsten Werte und die Antworten zu den Impulsfragen.</ng-template>
</dt-step-description>

<div>
  <dt-decision-statement-box [(decisionStatement)]="decisionData.decisionStatement.statement"></dt-decision-statement-box>

  <div class="notes-container">
    <div>
      <span i18n>Ich gehe hierbei von folgenden Annahmen oder Vorentscheidungen aus:</span>
      <dt-decision-statement-note-list [noteArray]="decisionData.decisionStatement.preNotes_2"></dt-decision-statement-note-list>
    </div>
    <div>
      <span i18n>Später oder unabhängig von der aktuellen Frage muss ich noch entscheiden über:</span>
      <dt-decision-statement-note-list [noteArray]="decisionData.decisionStatement.afterNotes_2"></dt-decision-statement-note-list>
    </div>
  </div>
</div>

<dt-collapsible
  captionOpened="Werte und Notizen ausblenden"
  captionClosed="Werte und Notizen einblenden"
  [open]="true"
  i18n-captionOpened
  i18n-captionClosed
  class="other-notes"
>
  <div class="dt-collapsible-body">
    <div class="additional-information-container">
      <div *ngIf="importantValues.length > 0">
        <span i18n>Deine fünf wichtigsten Werte sind:</span>
        <ol>
          <li *ngFor="let value of importantValues">
            {{ value.name }}
          </li>
        </ol>
      </div>
      <div *ngIf="hasSuggestionNotes">
        <span i18n>Folgende Notizen hast Du Dir gemacht:</span>
        <ol class="suggestion-note-list">
          <li *ngFor="let note of suggestionNotes" [class.empty]="!note">
            {{ note }}
          </li>
        </ol>
      </div>
    </div>
  </div>
</dt-collapsible>
