<dt-select-line *ngIf="!fullscreenRef">
  <dt-button
    class="view-control-icon"
    type="raised-less"
    color="accent"
    icon="fullscreen"
    [iconOnly]="true"
    (click)="toggleFullScreen()"
    matTooltip="Vollbildmodus"
    matTooltipPosition="above"
    i18n-matTooltip
  >
  </dt-button>
  <dt-select
    *dtProjectMode="['educational', 'professional']"
    [selectedOptions]="highlightInfluenceFactorId"
    (selectedOptionsChange)="changeHighlightedInfluenceFactor($event)"
  >
    <dt-select-label i18n>Einflussfaktor</dt-select-label>
    <dt-select-option [value]="-1">—</dt-select-option>
    <dt-select-option *ngFor="let influenceFactor of influenceFactorOptions; let i = index" [value]="i">{{
      influenceFactor | influenceFactorName
    }}</dt-select-option>
  </dt-select>
  <dt-select [(selectedOptions)]="showDominanceRelationships" (selectedOptionsChange)="onChange()">
    <dt-select-label i18n>Dominanzen</dt-select-label>
    <dt-select-option [value]="true" i18n>anzeigen</dt-select-option>
    <dt-select-option [value]="false" i18n>verbergen</dt-select-option>
  </dt-select>
  <dt-toggle-button [(value)]="transposed" icon="pivot_table_chart" [tooltipTrue]="transposedTooltip" [tooltipFalse]="notTransposedTooltip">
  </dt-toggle-button>
  <dt-toggle-button [(value)]="colorOutcomes" icon="palette" [tooltipTrue]="coloredTooltip" [tooltipFalse]="notColoredTooltip">
  </dt-toggle-button>
  <dt-toggle-button [(value)]="smallBoxHeight" icon="expand" [tooltipTrue]="compactScalingTooltip" [tooltipFalse]="normalScalingTooltip">
  </dt-toggle-button>
</dt-select-line>
<div
  class="matrix-explainable-container"
  dtExplainable
  [triggerAnchor]="'middle'"
  [explainable]="decisionData.isProfessional() && !fullscreenRef"
  [explanationTrigger]="explanationTrigger"
  [class.fullscreen]="fullscreenRef"
>
  <div
    #matrixContainer
    [dtScrollbar]="matrixContainer"
    #matrixContainerScrollbars="dtScrollbar"
    [dtWidthTrigger]="{ 'scroll-snap': 500, 'no-scroll-snap': 330 }"
    class="matrix-layout-container mat-elevation-z5"
    [class.transposed]="transposed"
    [class.unguided]="decisionData.isProfessional()"
    [class.compact]="smallBoxHeight"
    [style.grid-template-columns]="getGridTemplateColumns()"
    [style.grid-template-rows]="getGridTemplateRows()"
    [style.grid-auto-flow]="transposed ? 'column' : 'row'"
    cdk-scrollable
  >
    <!-- ROOT ELEMENT -->
    <div class="root-box" [dtWidthTrigger]="{ 'narrow-root': 195 }" (dtWidthTriggerStateChange)="narrowRoot = $event['narrow-root']">
      <dt-button *ngIf="!fullscreenRef" (click)="excelExport()" icon="cloud_sync" iconPosition="left" type="raised-less" i18n
        >Excel</dt-button
      >
      <div class="alternative-text" *ngIf="!transposed || !narrowRoot" i18n>Alternativen</div>
      <div class="objective-text" i18n>Ziele</div>
      <button *ngIf="fullscreenRef" mat-mini-fab class="close-fullscreen-button" (click)="toggleFullScreen()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <!-- HEADER ELEMENTS -->
    <ng-container *ngFor="let objective of decisionData.objectives; let objectiveIdx = index; let lastObjective = last">
      <div
        #objectiveBox
        class="objective-box"
        [class.last-column-box]="!transposed && lastObjective"
        [dtHoverPopover]="objectiveActions"
        [dtHoverPopoverPosition]="'top'"
        [dtHoverPopoverDelay]="300"
        [dtHoverPopoverScrollStrategy]="'reposition'"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverDisableAnimation]="true"
        data-cy="objective-actions"
      >
        <ng-template #objectiveActions class="mat-elevation-z1">
          <div class="matrix-objective-actions-wrapper">
            <button
              class="matrix-popover-button matrix-objective-actions"
              matRipple
              (click)="openScaleEditor(objectiveIdx)"
              i18n-matTooltip
              matTooltip="Messskala auswählen"
            >
              <mat-icon>straighten</mat-icon>
            </button>
            <button
              class="matrix-popover-button matrix-objective-actions"
              matRipple
              (click)="openCopyScale(objectiveIdx)"
              i18n-matTooltip
              matTooltip="Skala zu anderen Zielen kopieren"
            >
              <mat-icon>content_copy</mat-icon>
            </button>
            <button
              class="matrix-popover-button matrix-objective-actions"
              (click)="deleteObjective(objectiveBox, objectiveIdx)"
              [matTooltip]="decisionData.objectives.length <= 1 ? 'Es muss mindestens ein Ziel definiert sein' : null"
              [disabled]="decisionData.objectives.length <= 1"
              data-cy="delete-objective-button"
              [class.disabled]="decisionData.objectives.length <= 1"
              *ngIf="extendable"
              matRipple
              i18n-matTooltip
              matTooltip="Ziel löschen"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              *ngIf="teamTrait?.isOtherUsersProject"
              (click)="transferMatrixRowOrColumnToMe(objectiveBox, objective)"
              class="matrix-popover-button matrix-objective-actions"
              color="accent"
              matRipple
            >
              <mat-icon>publish</mat-icon>
            </button>
          </div>
        </ng-template>

        <dt-impact-matrix-name-field
          #objectiveNameField
          [editable]="extendable"
          [light]="false"
          [(name)]="objective.name"
          [isTwoLiner]="transposed"
          defaultName="Ziel {{ objectiveIdx + 1 }}"
          i18n-defaultName
          data-cy="objective-name-field"
        >
        </dt-impact-matrix-name-field>

        <!-- info about scale -->
        <div class="objective-scale-info">
          <span class="ellipsis" (click)="openScaleEditor(objectiveIdx)">
            <ng-container *ngIf="objective.isNumerical" i18n
              >Numerische Skala
              <ng-container *ngIf="!transposed || !smallBoxHeight"
                >von {{ objective.numericalData.from }} bis {{ objective.numericalData.to }}
                {{ objective.numericalData.unit }}</ng-container
              >
            </ng-container>
            <ng-container *ngIf="objective.isVerbal" i18n
              >Verbale Skala
              <ng-container *ngIf="!transposed || !smallBoxHeight">
                von „{{ objective.verbalData.options[0] }}“ bis „{{
                  objective.verbalData.options[objective.verbalData.options.length - 1]
                }}“
              </ng-container>
            </ng-container>
            <ng-container *ngIf="objective.isIndicator" i18n
              >Indikatorskala
              <ng-container *ngIf="!transposed || !smallBoxHeight"
                >von {{ objective.indicatorData.worstValue | safeNumber : '?' : '1.0-2' }} bis
                {{ objective.indicatorData.bestValue | safeNumber : '?' : '1.0-2' }}
                {{ objective.indicatorData.aggregatedUnit }}</ng-container
              >
            </ng-container>
          </span>
        </div>

        <!-- Notizen -->
        <dt-note-btn [darkBackground]="true" [(comment)]="objective.comment" [caption]="objective.name | noteBtnPreset : 'objective'">
          <dt-team-comments additional-modal-content [object]="objective"></dt-team-comments>
        </dt-note-btn>
      </div>
    </ng-container>
    <!-- CONTENT ELEMENTS (left panel + matrix fields) -->
    <ng-container
      *ngFor="let alternative of decisionData.alternatives; let alternativeIdx = index; let lastAlternative = last"
      data-cy="outcomes"
    >
      <!-- Add a column for every objective -->
      <div
        #alternativeBox
        class="alternative-box"
        matRipple
        [matRippleDisabled]="!isDominated(alternative)"
        [class.dominated]="isDominated(alternative)"
        (click)="isDominated(alternative) && dominatedAlternativeClicked(alternativeIdx)"
        [dtHoverPopover]="alternativeActions"
        [dtHoverPopoverPosition]="'top'"
        [dtHoverPopoverDelay]="300"
        [dtHoverPopoverScrollStrategy]="'reposition'"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverDisableAnimation]="true"
        data-cy="alternative-box"
      >
        <ng-template #alternativeActions>
          <div class="matrix-alternative-actions-wrapper mat-elevation-z1">
            <button
              class="matrix-popover-button matrix-alternative-actions"
              matTooltip="Es müssen mindestens zwei Alternativen definiert sein"
              [matTooltipDisabled]="decisionData.alternatives.length > 2"
              [matTooltipPosition]="'above'"
              i18n-matTooltip
              [disabled]="decisionData.alternatives.length <= 2"
              data-cy="delete-alternative-button"
              *ngIf="extendable || highlightedDominatedAlternative === alternative"
              matRipple
              (click)="deleteAlternative(alternativeBox, alternativeIdx)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              *ngIf="teamTrait?.isOtherUsersProject"
              (click)="$event.stopPropagation(); transferMatrixRowOrColumnToMe(alternativeBox, alternative)"
              class="matrix-popover-button matrix-alternative-actions"
              color="accent"
              matRipple
            >
              <mat-icon>publish</mat-icon>
            </button>
          </div>
        </ng-template>
        <!-- caption -->
        <div class="alternative-name-wrapper">
          <div class="alternative-name" [class.faded-out]="isAlternativeFadedOut(alternativeIdx)">
            <dt-impact-matrix-name-field
              #alternativeNameField
              [editable]="extendable"
              [disabled]="isAlternativeFadedOut(alternativeIdx)"
              [(name)]="alternative.name"
              defaultName="Alternative {{ alternativeIdx + 1 }}"
              i18n-defaultName
              data-cy="alternative-name-field"
            >
            </dt-impact-matrix-name-field>
          </div>
        </div>

        <dt-note-btn [(comment)]="alternative.comment" [caption]="alternative.name | noteBtnPreset : 'alternative'">
          <dt-team-comments additional-modal-content [object]="alternative"></dt-team-comments>
        </dt-note-btn>

        <mat-icon *ngIf="isDominated(alternative)" class="domination-icon small-icon">{{
          highlightedDominatedAlternative === alternative ? 'highlight_off' : 'info'
        }}</mat-icon>
      </div>
      <div
        *ngFor="let objective of decisionData.objectives; let objectiveIdx = index; let lastObjective = last"
        class="box"
        [class.last-row-box]="(transposed && lastObjective) || (!transposed && lastAlternative)"
        [class.last-column-box]="(!transposed && lastObjective) || (transposed && lastAlternative)"
        [class.dominated]="isDominated(alternative)"
        [class.dominating]="isDominating(alternative)"
        data-cy="outcome"
      >
        <div class="field-wrapper">
          <dt-impact-matrix-field
            #matrixField
            *ngIf="lazyAlternative > alternativeIdx && lazyObjective > objectiveIdx"
            [objective]="objective"
            [alternative]="alternative"
            [outcome]="decisionData.outcomes[alternativeIdx][objectiveIdx]"
            [colorOutcomes]="colorOutcomes"
            [class.faded-out]="isOutcomeFadedOut(alternativeIdx, objectiveIdx)"
            [class.highlighted]="isOutcomeHighlighted(alternativeIdx, objectiveIdx)"
            (matrixFieldChange)="onChange()"
            (isValueValidChange)="onOutcomeValidChange(alternativeIdx, objectiveIdx, $event)"
            (influenceFactorModified)="onInfluenceFactorModified($event)"
            (dragstart)="dragField($event, objectiveIdx, alternativeIdx)"
            (drop)="dropOnField(matrixField, $event, objectiveIdx, alternativeIdx)"
            (dragend)="clearDragData()"
            (dtDirectEvent)="dragEnterField($event, matrixField, objectiveIdx, alternativeIdx)"
            (dtDirectEvent2)="dragOverField($event, objectiveIdx, alternativeIdx)"
            (dtDirectEvent3)="dragLeaveField($event, matrixField, objectiveIdx, alternativeIdx)"
            [event]="['dragenter', 'dragover', 'dragleave']"
          >
          </dt-impact-matrix-field>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    *ngIf="extendable && !fullscreenRef"
    class="add-top-right"
    [style.height.px]="transposed ? getAlternativeHeaderHeight() : getObjectiveHeaderHeight()"
  >
    <button (click)="transposed ? addAlternative() : addObjective()" mat-icon-button data-cy="add-objective-button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="extendable && !fullscreenRef" class="add-bottom-left">
    <button (click)="transposed ? addObjective() : addAlternative()" mat-icon-button data-cy="add-alternative-button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<p
  *ngIf="highlightedDominatedAlternative != null"
  class="domination-legend dt-limit-width"
  [class.professional]="decisionData.isProfessional()"
>
  <ng-container *ngIf="!hasIndicatorObjective; else hasIndicatorObjs" i18n
    >Alternativen, welche die ausgewählte Alternative dominieren, sind <span class="dominating">blau</span> markiert.</ng-container
  >
  <ng-template #hasIndicatorObjs i18n
    >Alternativen, welche die ausgewählte Alternative dominieren, sind<span class="dominating">grau</span> markiert.<br
  /></ng-template>
</p>

<dt-explanation-simple-open-button
  dtExplanationTrigger
  #explanationTrigger="explanationTrigger"
  #stepToExplainMenuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="stepToExplainMenu"
  [style.zIndex]="1050"
  (explain)="stepToExplainMenuTrigger.openMenu()"
></dt-explanation-simple-open-button>
<mat-menu #stepToExplainMenu="matMenu" xPosition="before">
  <span>
    <button
      mat-menu-item
      (click)="explainObjectivesStep()"
      (mouseenter)="highlightObjectives = true"
      (mouseleave)="highlightObjectives = false"
    >
      <mat-icon>track_changes</mat-icon>
      <span i18n>Ziele</span>
    </button>
    <button
      mat-menu-item
      (click)="explainAlternativesSteps()"
      (mouseenter)="highlightAlternatives = true"
      (mouseleave)="highlightAlternatives = false"
    >
      <mat-icon>alt_route</mat-icon>
      <span i18n>Alternativen</span>
    </button>
    <button
      *ngIf="extendable"
      mat-menu-item
      (mouseenter)="highlightCells = true"
      (mouseleave)="highlightCells = false"
      (click)="explainImpactModel()"
    >
      <mat-icon>view_comfy</mat-icon>
      <span i18n>Wirkungsmodell</span>
    </button>
  </span>
</mat-menu>

<dt-modal
  *ngIf="dragConfirmation"
  #modalDragDrop
  [opened]="true"
  [disableClose]="true"
  [showFooter]="true"
  (modalClose)="dragConfirmation = undefined"
>
  <ng-template #title i18n>Wirkungsprognose kopieren</ng-template>

  <ng-template #content>
    <div class="dragconfirm-modal-content">
      <p i18n
        >Willst Du die Wirkungsprognose für die Alternative &bdquo;{{
          decisionData.alternatives[dragConfirmation.to.alternative].name
        }}&ldquo; im Ziel &bdquo;{{ decisionData.objectives[dragConfirmation.to.objective].name }}&ldquo; wirklich durch die
        Wirkungsprognose der Alternative &bdquo;{{ decisionData.alternatives[dragConfirmation.from.alternative].name }}&ldquo; ersetzen?</p
      >
      <mat-checkbox [(ngModel)]="ImpactMatrixComponent.doNotAskDragConfirmation">Nicht erneut fragen</mat-checkbox>
    </div>
  </ng-template>

  <ng-template #footer>
    <dt-button (click)="confirmDragDrop(dragConfirmation.from, dragConfirmation.to, dragConfirmation.toElement)" i18n>Ja</dt-button>
    <dt-button (click)="modalDragDrop.close()" i18n>Nein</dt-button>
  </ng-template>
</dt-modal>
