<div class="dt-help-padding">
  <p i18n
    >Dieser Schritt hilft Dir dabei, Dir zunächst einmal über Deine Entscheidungsfrage im Klaren zu werden, d.&nbsp;h. über was Du
    eigentlich genau entscheiden willst.</p
  >

  <p i18n
    >Die Formulierung der Entscheidungsfrage ist deshalb ein wichtiger Schritt, weil sich die meisten Menschen bei auftretenden
    Entscheidungsproblemen reaktiv verhalten. Du richtest Dein Augenmerk nur auf die naheliegenden Alternativen und empfindest die
    Entscheidungssituation als unangenehme Last, die Du gerne wieder loswerden willst. In einem proaktiven Vorgehen gibt es aber nicht nur
    Probleme, sondern auch Chancen, die in der Entscheidungssituation liegen.</p
  >

  <img class="image-maxwidth" *ngIf="languageService.isEnglish" src="assets/assistant/kamera-en.png" />
  <img class="image-maxwidth" *ngIf="!languageService.isEnglish" src="assets/assistant/kamera-de.png" />

  <p i18n
    >Mit der Formulierung einer Entscheidungsfrage gibt der Entscheider an, wie viel er in der betrachteten Entscheidungssituation
    grundsätzlich zur Disposition stellt. Je mehr dies ist, d.&nbsp;h. je breiter der Winkel der Kamera ist, desto größer ist zwar der
    Aufwand, aber desto größer werden auch die Chancen, die mit der Entscheidung realisiert werden können.</p
  >

  <p i18n
    >In diesem Schritt wirst Du systematisch an eine proaktive Analyse Deiner Entscheidungsfrage herangeführt. Deine Denkweise wird bewusst
    in einen breiteren Kontext gelenkt und es wird versucht, eine möglichst breite Formulierung der Entscheidungsfrage zu bewirken. Die
    folgenden Techniken und Teilschritte helfen Dir dabei, Deine Entscheidungsfrage möglichst proaktiv zu formulieren:</p
  >

  <ul>
    <li i18n
      ><b>Erste Formulierung:</b> Hier schreibst Du Deine Entscheidungsfrage frei und genauso auf, wie Du sie gerade im Kopf hast. Du
      brauchst auf nichts Besonderes zu achten.</li
    >
    <li i18n
      ><b>Grundlegende Werte:</b> Hier beschäftigst Du Dich mit Deinen grundlegenden Werten. Dies hat nicht nur den positiven Effekt, dass
      Du selbst ein besseres Verständnis davon bekommst, was in Deinem Leben wichtig ist. Dieses eher grundlegende Denken regt oftmals dazu
      an, die Entscheidungsfrage breiter zu stellen.<br />
      Alle Menschen haben persönliche Werteprioritäten. Den einen sind freiheitliche Werte wichtiger und den anderen sicherheitsbezogene
      Werte. Wenn Du Dein Leben durch Deine Entscheidungen selbst in die Hand nehmen und positiv beeinflussen möchtest, geht kein Weg daran
      vorbei, Dich mit Deinen eigenen Werten zu beschäftigen. Wie sollst Du sonst unterschiedliche Wege bewerten können, wenn Du nicht
      weißt, wohin die Reise in Deinem Leben gehen soll?</li
    >
    <li i18n
      ><b>Impulsfragen:</b> Viele Entscheider denken in Deinen Entscheidungssituationen zu eng. Bedingt durch einige Scheuklappen betrachten
      sie häufig nur die wenigen naheliegenden Handlungsmöglichkeiten und kommen von allein nicht auf die Idee, sich kreativ mit neuen
      Handlungsoptionen zu beschäftigen. Das volle Potenzial einer Entscheidungssituation wird in diesen Fällen nicht ausgenutzt.<br />
      Die Impulsfragen, mit denen Du hier konfrontiert wirst, sind bewusst so gestellt, dass Du die eine oder andere Scheuklappe in der
      Betrachtung der Entscheidungssituation ablegst und Dir dadurch darüber bewusst wirst, worum es Dir bei Deiner Entscheidungsfrage
      wirklich geht.</li
    >
    <li i18n
      ><b>Überprüfung und Umformulierung:</b> Nachdem Du die vorherigen Teilschritte durchgearbeitet hast, hat sich Dein Blick auf Dein
      Entscheidungsproblem vielleicht verändert. Nutze diesen Teilschritt, um Deine Entscheidungsfrage (proaktiver) umzuformulieren.</li
    >
  </ul>
  <br />
  <p i18n
    >Für weitere Informationen zur Entscheidungsfrage empfehlen wir ein
    <a (click)="youtubeModal.open()">Video aus der digitalen Vorlesung „Entscheidungslehre“</a>, veröffentlicht auf der Seite des
    Fördervereins Reflektiert Entscheiden.</p
  >
  <dt-youtube-modal i18n-modalTitle [videoId]="'Bi6LN3XrSbw'" modalTitle="Schritt 1" #youtubeModal></dt-youtube-modal>
</div>
