<p i18n
  >Wenn Du die Ergebnismatrix sukzessive mit Inhalt befüllst, wirst Du vielleicht merken, dass in manchen Matrixfeldern eine valide
  Ergebnisabschätzung schwer möglich ist, weil das Ergebnis von weiteren Faktoren abhängt. In diesem Fall ist es sinnvoll, diese
  Einflussfaktoren explizit in das Bewertungsmodell zu integrieren. Die Formulierung eines Einflussfaktors erfordert zum einen eine
  aussagekräftige Bezeichnung sowie die Definition von mindestens zwei verschiedenen Zuständen. In den meisten Fällen sind diese
  Einflussfaktoren unsichere Umweltentwicklungen, bei denen auch Wahrscheinlichkeiten für die möglichen Entwicklungen (Umweltzustände)
  anzugeben sind <a (click)="modal1.open()">(Beispiel)</a>. Es können aber auch andere Einflussfaktoren sein, wenn z.&nbsp;B. ein Ergebnis
  für unterschiedliche Zielgruppen differenziert werden soll und ein nach der Bedeutung der Zielgruppen gewichteter Gesamtwert gesucht ist
  <a (click)="modal2.open()">(Beispiel)</a>. Achte in allen Fällen hierbei darauf, dass Du die Zustände überschneidungsfrei und vollständig
  angibst, so dass auch die Vergabe von Wahrscheinlichkeiten bzw. der prozentualen Gewichtung fundiert möglich ist. Hast Du einen
  Einflussfaktor mit einem Matrixfeld verknüpft, so kannst Du die Ergebnisabschätzungen anschließend isoliert für jeden Zustand angeben.</p
>

<p i18n
  >Es ist grundsätzlich möglich, jeweils einen spezifischen Einflussfaktor pro Matrixfeld zu definieren, wobei jedoch ein Einflussfaktor
  auch in verschiedenen Matrixfeldern verwendet werden kann. Wenn Du einen Einflussfaktor für mehrere Alternativen bzw. Matrixfelder
  verwenden willst, geht dies allerdings nur, wenn neben der Formulierung der Zustände auch die entsprechenden Wahrscheinlichkeiten
  identisch sind. Ist dies nicht der Fall, muss Du spezifische Einflussfaktoren definieren und dies entsprechend in der Formulierung
  klarstellen.</p
>

<dt-modal #modal1>
  <ng-template #title i18n>Beispiel</ng-template>
  <ng-template #content>
    <p i18n
      >Die Wirkungsprognose im Ziel „Einkommen in den nächsten Jahren“ für eine bestimmte Alternative könnte beispielsweise abhängig sein
      von dem unsicheren Einflussfaktor „Ergebnis der nächsten Gehaltsverhandlung“ mit den folgenden Zuständen:</p
    >

    <ul class="dt-plain-list">
      <li i18n>Keine Gehaltserhöhung</li>
      <li i18n>Geringe Gehaltserhöhung</li>
      <li i18n>Deutlicher Gehaltssprung</li>
    </ul>
  </ng-template>
</dt-modal>

<dt-modal #modal2>
  <ng-template #title i18n>Beispiel</ng-template>
  <ng-template #content>
    <p i18n
      >Möchte ein App-Entwickler mit seiner App verschiedene Zielgruppen erreichen und in jeder Zielgruppe möglichst positive Rezensionen
      erlangen, so könnte er in seinem Wirkungsmodell hinsichtlich des Ziels „Möglichst gute Rezensionen“ mit einem Einflussfaktor
      „Adressierte Zielgruppe“ und den Unterscheidungen</p
    >

    <ul class="dt-plain-list">
      <li i18n>Kinder</li>
      <li i18n>Jugendliche</li>
      <li i18n>Erwachsene</li>
    </ul>

    <p i18n
      >eine genauere Differenzierung vornehmen. Die Zuweisung von Prozentsätzen stünde dann für die Gewichtung, mit der die jeweiligen
      Ergebnisse in die Gesamtbewertung einfließen sollen.</p
    >
  </ng-template>
</dt-modal>
