<dt-modal-content (closeClick)="dialogRef.close()" [contentPadding]="false">
  <ng-template #title i18n>Vorschau des Fragebogens</ng-template>
  <ng-template #content [ngSwitch]="questionnaire.length === 0">
    <dt-questionnaire *ngSwitchCase="false" [questionnairePages]="questionnaire"></dt-questionnaire>
    <div *ngSwitchCase="true" class="empty-placeholder" i18n>Der Fragebogen ist leer.</div>
  </ng-template>
</dt-modal-content>
