<div *ngIf="topLabels != null && topLabels.length >= 2" class="labels">
  <span *ngFor="let label of topLabels">{{ label }}</span>
</div>
<div
  class="slidershell"
  [class.vertical]="vertical"
  [style.height]="fillContainer ? '100%' : vertical ? length + 'px' : width + 'px'"
  [style.width]="vertical ? width + 'px' : '100%'"
  [class.disabled]="hasDisabledStyle()"
>
  <div class="sliderfill" [style.height.%]="vertical ? valueInPercent : 100" [style.width.%]="vertical ? 100 : valueInPercent"></div>
  <div class="slidertrack"></div>
  <ng-container *ngIf="!disabled && interval && precision > 0">
    <div *ngIf="vertical" class="sliderinterval vertical" [style.height.%]="intervalHeightInPercent" [style.bottom.%]="valueInPercent">
      <div class="sliderinterval-centered">
        <div class="vert-line"></div>
      </div>
    </div>
    <div
      *ngIf="vertical"
      class="slidercircle vertical"
      [style.height.px]="circleHeight"
      [style.width.px]="circleHeight"
      [style.bottom]="'calc(' + valueInPercent + '% - ' + circleHeight / 2 + 'px)'"
    ></div>
    <div *ngIf="!vertical" class="sliderinterval horizontal" [style.width.%]="intervalHeightInPercent" [style.left.%]="valueInPercent">
      <div class="sliderinterval-centered">
        <div class="hor-line"></div>
      </div>
    </div>
    <div
      *ngIf="!vertical"
      class="slidercircle horizontal"
      [style.height.px]="circleHeight"
      [style.width.px]="circleHeight"
      [style.left]="'calc(' + valueInPercent + '% - ' + circleHeight / 2 + 'px)'"
    ></div>
  </ng-container>
  <input
    [class.slidervertical]="vertical"
    type="range"
    [attr.step]="step"
    [attr.min]="min"
    [attr.max]="max"
    [(ngModel)]="sliderValue"
    (change)="emitChangeEvent(input.valueAsNumber)"
    [attr.orient]="vertical ? 'vertical' : 'horizontal'"
    [disabled]="disabled"
    [readonly]="readonly"
    #input
  />
</div>
<div *ngIf="showBottomLabels" class="labels">
  <span *ngFor="let label of intervals">{{ label }}</span>
</div>
