@use 'variables' as dt;

:host {
  display: flex;
  gap: 2px;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0 6px;

  line-height: 1;
  font-size: 20px;
  color: dt.$orange;
  background: radial-gradient(#feefdd 10%, rgba(254, 239, 221, 0) 70%);

  &[disabled] {
    color: dt.$grey-foreground;
    background: none;
  }
}

// Global style to only show the spinner when the containing form field is focused
::ng-deep mat-form-field {
  dt-input-spinner button {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
  }

  &:not(.mat-form-field-disabled) {
    &:focus-within dt-input-spinner,
    dt-input-spinner:focus,
    dt-input-spinner:hover {
      button {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }
}
