@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hierarchy-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-grow: 1;
}

.left-container,
.right-container {
  position: relative;
}

.middle-container {
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 0;
}

.project-list-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.project-list-outer-container {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid dt.$blue;
  width: 95%;
  height: 90%;
  z-index: 150;

  .close-button {
    position: absolute;
    z-index: 10;
    right: 2.5%;
    top: 5%;
    background: dt.$blue;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
    cursor: pointer;

    mat-icon {
      transform: scale(0.8);
    }
  }
}

.project-list-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .search-form {
    background-color: #ebebeb;

    display: flex;
    align-items: flex-end;

    mat-form-field,
    dt-tag-input {
      height: 100%;
      flex: 1;
    }

    mat-form-field,
    dt-tag-input ::ng-deep mat-form-field {
      height: 100%;

      ::ng-deep .mat-mdc-form-field-focus-overlay {
        background-color: unset;
      }
    }

    .name-field input {
      // same height as dt-tag-input
      height: 32px;
    }
  }

  .project-list {
    overflow: auto;

    .project-row {
      display: flex;
      align-items: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      cursor: pointer;
      height: 50px;
      border-bottom: 1px solid #d0d0d0;

      span {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      &.is-opened {
        background-color: #f0f0f0;
      }

      &:hover,
      &.is-opened:hover {
        background-color: #e6e6e6;
      }
    }

    .load-more-row {
      text-align: center;
    }
  }

  .no-projects-found {
    text-align: center;
    font-style: italic;
  }

  mat-error,
  .no-projects-found {
    margin: 8px;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 0.3s linear;
}

.stacked-object-wrapper {
  position: relative;
  height: calc(100% - 30px);
}

.stacked-object-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.no-hierarchy-text {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 30px;
  transform: translateY(-15px);
  text-align: center;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 175px solid transparent;
  border-bottom: 175px solid transparent;

  &.arrow-left {
    border-right: 30px solid #ebebeb;
  }

  &.arrow-right {
    border-left: 30px solid #ebebeb;
  }
}

.title-overlay {
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;

  &:hover {
    background-color: #f5f5f5;
  }

  .title-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 5px;
  }

  mat-divider {
    align-self: stretch;
    margin: 0px 5px;
    border-width: 2px;
  }

  .title-icon {
    color: dt.$orange;
  }
}

dt-objective-aspect-hierarchy {
  height: 100%;

  &.right-hierarchy {
    background-color: #f6f6f6;
  }
}

.blurred-background {
  filter: blur(3px);
}
