<ng-container [ngSwitch]="indicatorGrouping">
  <ng-container *ngSwitchCase="'indicators'">
    <!-- GROUPING: INDICATORS -->

    <tr *ngFor="let state of $any(influenceFactor.states); let stateIdx = index" class="body-row">
      <td>
        <div class="indicator-state-name-container">
          <span class="indicator-state-name"
            >{{ influenceFactor | stateName : stateIdx }}
            <span *ngIf="!isInfluenceFactorPredefined(influenceFactor)"> ({{ state.probability }}%)</span>
          </span>
          <button
            mat-icon-button
            *ngIf="indicator.isVerbalized"
            color="accent"
            (click)="openVerbalIndicatorForecastModal(indicatorIdx, stateIdx)"
          >
            <mat-icon>read_more</mat-icon>
          </button>
        </div>
      </td>
      <td class="text-center" *ngIf="indicator.isVerbalized">{{
        outcomeValues[stateIdx][indicatorIdx] | indicatorValue : indicator | safeNumber : '?' : '1.0-2'
      }}</td>
      <ng-container *ngIf="indicator.isVerbalized">
        <!-- VERBAL INDICATOR -->
        <td *ngFor="let verbalCategory of indicator.verbalIndicatorCategories; let categoryIdx = index" class="text-center">
          <div *ngIf="!isBlockCollapsed(indicatorIdx, categoryIdx) || stateIdx === medianIdx" class="expandable-dropdown-container">
            <dt-select
              class="verbal-indicator-value"
              [class.grayed-out]="isValueGrayedOut(stateIdx, indicatorIdx, categoryIdx)"
              [style.width.%]="!isBlockCollapsed(indicatorIdx, categoryIdx) ? 100 : 90"
              [selectedOptions]="outcomeValues[stateIdx][indicatorIdx][categoryIdx]"
              (selectedOptionsChange)="handleVerbalIndicatorValueChange($event, stateIdx, indicatorIdx, categoryIdx)"
            >
              <dt-select-option *ngFor="let verbalStage of verbalCategory.stages; let verbalStageIdx = index" [value]="verbalStageIdx">
                {{ verbalStage.name }}
              </dt-select-option>
            </dt-select>
            <button
              mat-icon-button
              *ngIf="isBlockCollapsed(indicatorIdx, categoryIdx)"
              color="accent"
              (click)="areImplicitValuesCollapsed[indicatorIdx][categoryIdx] = false"
            >
              <mat-icon>expand</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <ng-container *ngIf="!indicator.isVerbalized">
        <!-- NON-VERBAL INDICATOR -->
        <td>
          <div *ngIf="!isBlockCollapsed(indicatorIdx) || stateIdx === medianIdx" class="expandable-dropdown-container">
            <dt-numerical-input
              [from]="indicator.min"
              [to]="indicator.max"
              [unit]="indicator.unit"
              [grayedOutText]="isValueGrayedOut(stateIdx, indicatorIdx)"
              [value]="outcomeValues[stateIdx][indicatorIdx][0]"
              (valueChange)="handleValueChange($event, stateIdx, indicatorIdx)"
            ></dt-numerical-input>
            <button
              mat-icon-button
              *ngIf="isBlockCollapsed(indicatorIdx)"
              color="accent"
              (click)="areImplicitValuesCollapsed[indicatorIdx][0] = false"
            >
              <mat-icon>expand</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
    </tr>
  </ng-container>

  <ng-container *ngSwitchCase="'states'">
    <!-- GROUPING: STATES + DEFAULT INDICATOR VIEW -->

    <tr *ngFor="let indicator of objective.indicatorData.indicators; let indicatorIdx = index" class="body-row">
      <td>
        <div
          class="indicator-state-name-container"
          #overflow="dtOverflow"
          [dtOverflow]
          [matTooltip]="indicator.name"
          [matTooltipDisabled]="!overflow.isOverflowing"
        >
          <span class="indicator-state-name">{{ indicator.name }}</span>
          <button
            mat-icon-button
            *ngIf="indicator.isVerbalized"
            color="accent"
            (click)="openVerbalIndicatorForecastModal(indicatorIdx, stateIdx)"
          >
            <mat-icon>read_more</mat-icon>
          </button>
        </div>
      </td>
      <td class="text-center" *ngIf="objective.includesVerbalIndicators">
        {{ outcomeValues[stateIdx][indicatorIdx] | indicatorValue : indicator | safeNumber : '?' : '1.0-2' }}
      </td>
      <ng-container *ngIf="indicator.isVerbalized">
        <!-- VERBAL INDICATOR -->
        <td
          *ngFor="let verbalCategory of indicator.verbalIndicatorCategories; let categoryIdx = index"
          class="text-center category-cell"
          [colSpan]="numberOfCategoryColumns / indicator.verbalIndicatorCategories.length"
        >
          <div class="category-box">
            <span
              *ngIf="indicator.verbalIndicatorCategories.length > 1"
              class="header-secondary-name"
              #overflow="dtOverflow"
              [dtOverflow]
              [matTooltip]="verbalCategory.name"
              [matTooltipDisabled]="!overflow.isOverflowing"
              >{{ verbalCategory.name }}</span
            >
            <dt-select
              class="verbal-indicator-value"
              [class.grayed-out]="isValueGrayedOut(stateIdx, indicatorIdx, categoryIdx)"
              [selectedOptions]="outcomeValues[stateIdx][indicatorIdx][categoryIdx]"
              (selectedOptionsChange)="handleVerbalIndicatorValueChange($event, stateIdx, indicatorIdx, categoryIdx)"
            >
              <dt-select-option *ngFor="let verbalStage of verbalCategory.stages; let verbalStageIdx = index" [value]="verbalStageIdx">
                {{ verbalStage.name }}
              </dt-select-option>
            </dt-select>
          </div>
        </td>
      </ng-container>
      <ng-container *ngIf="!indicator.isVerbalized">
        <!-- NON-VERBAL INDICATOR -->
        <td [colSpan]="numberOfCategoryColumns">
          <dt-numerical-input
            [from]="indicator.min"
            [to]="indicator.max"
            [unit]="indicator.unit"
            [grayedOutText]="isValueGrayedOut(stateIdx, indicatorIdx)"
            [value]="outcomeValues[stateIdx][indicatorIdx][0]"
            (valueChange)="handleValueChange($event, stateIdx, indicatorIdx)"
          ></dt-numerical-input>
        </td>
      </ng-container>
    </tr>
  </ng-container>
</ng-container>
