<dt-modal-content size="giant" (closeClick)="tryClose()" [flexContent]="true">
  <ng-template i18n #title>Definition einer qualitativen Skala</ng-template>
  <ng-template i18n #subtitle
    >Ziel <strong>{{ verbalIndicatorDefinitionModalData.objective.name }}</strong
    >, Indikator <strong>&bdquo;{{ verbalIndicatorDefinitionModalData.indicator.name }}&ldquo;</strong></ng-template
  >
  <ng-template #content>
    <dt-verbal-indicator-diagram
      [indicatorIdx]="verbalIndicatorDefinitionModalData.indicatorIdx"
      [indicator]="verbalIndicatorDefinitionModalData.indicator"
      [objectiveTree]="verbalIndicatorDefinitionModalData.objectiveTree"
      [outcomeValuesInColumn]="verbalIndicatorDefinitionModalData.outcomeValues"
      [showEmptyField]="showEmptyField"
    ></dt-verbal-indicator-diagram>
  </ng-template>

  <ng-template #footer>
    <dt-button (click)="deleteAndApply()" icon="delete" [color]="'warn'" iconPosition="left" i18n-matTooltip i18n
      >Qualitative Skala löschen</dt-button
    >
    <dt-button
      [disabled]="!isValid"
      (mouseenter)="showEmptyField = true"
      (mouseleave)="showEmptyField = false"
      matTooltip="Bitte fülle alle Felder aus oder lösche sie"
      [matTooltipDisabled]="isValid"
      (click)="apply()"
      icon="save"
      iconPosition="left"
      i18n-matTooltip
      i18n
      >Übernehmen</dt-button
    >
    <dt-button (click)="dialogRef.close()" type="raised-less" i18n>Verwerfen</dt-button>
  </ng-template>
</dt-modal-content>
