@use 'variables' as dt;

form {
  background-color: #ebebeb;

  display: flex;
  align-items: flex-end;

  mat-form-field,
  dt-tag-input {
    flex: 1;
  }

  mat-form-field {
    input {
      height: 36px;
    }
  }

  ::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: unset;
  }
}

.date {
  padding-right: 5px;
}

.team-indicator,
.edit-text {
  margin-left: 1rem;
}

.team-name {
  margin-left: 0.5rem;
}

.team-name {
  color: dt.$orange;

  font-size: dt.font-size-old(caption);
  font-weight: 500;
}

.edit-text {
  color: gray;
  font-size: dt.font-size-old(caption);
  font-style: italic;
}
