<ng-container *dtProjectMode="'educational'">
  <p i18n
    >In diesem Schritt solltest Du Deine Handlungsmöglichkeiten (= Alternativen), zwischen denen Du in dem Entscheidungsproblem wählen
    kannst, entwickeln und auflisten. Häufig hat man schon einige Alternativen im Kopf, die man nur aufschreiben muss. Aus
    <a (click)="modal.open()">Studien</a> ist aber bekannt, dass in vielen Fällen Entscheider gute Handlungsalternativen übersehen, weil sie
    schlichtweg zu wenig nachdenken und zu unkreativ an diese Frage herangehen.</p
  >

  <p i18n
    >Du wirst deshalb auch in diesem Schritt einem strukturierten Prozess folgen, der Dich systematisch bei der Suche nach neuen
    Alternativen unterstützt. Der Leitidee des proaktiven Entscheidens folgend lenken diese Prozessschritte stets das Augenmerk auf die
    Ziele, die Du im letzten Schritt formuliert hast. Im Idealfall werden mit diesem Vorgehen Alternativen generiert, die besser sind als
    die Dir bislang bekannten.</p
  >

  <p i18n
    >Innerhalb dieses Prozesses wirst Du sehr viele Alternativen generieren. Damit die darauf folgenden Schritte nicht zu aufwendig werden,
    fordert Dich das ENTSCHEIDUNGSNAVI im letzten Abschnitt dazu auf, Deinen Alternativenkatalog auf ein sinnvolles Maß zu reduzieren. Dafür
    können die generierten Alternativen gruppiert und nach Bauchgefühl sortiert werden.</p
  >

  <p i18n
    >Es lohnt sich also, auch in diesem Schritt ausreichend Zeit zu investieren und den Anregungen in der linken Menüleiste zu folgen.</p
  >

  <dt-modal #modal [showFooter]="true">
    <ng-template #title i18n>Literatur</ng-template>

    <ng-template #content>
      <p
        >Siebert, Johannes; Keeney, Ralph L. (2015), „Creating More and Better Alternatives for Decisions Using Objectives“, in: Operations
        Research, September/October 2015, 63(5), S. 1114-1158
      </p>
    </ng-template>

    <ng-template #footer>
      <dt-button [type]="'raised-less'" (click)="download()" i18n>Download hier</dt-button>
    </ng-template>
  </dt-modal>
</ng-container>

<ng-container *dtProjectMode="'starter'">
  <div class="dt-help-padding">
    <p i18n
      >Häufig sind schon einige Alternativen im Kopf präsent, die nur noch aufgeschrieben werden müssen. Aus Studien ist aber bekannt, dass
      in vielen Fällen Entscheider gute Handlungsalternativen übersehen, weil sie schlichtweg zu wenig nachdenken und nicht kreativ genug an
      die Frage herangehen. Keine Entscheidung kann besser sein als die beste Alternative, die man in allen Vorüberlegungen in Betracht
      gezogen hat. Versuche deshalb, Scheuklappen abzunehmen und auch weniger offensichtliche Handlungsalternativen mit in die Liste
      aufzunehmen.</p
    >
    <p i18n
      >Im <a [dtModeTrigger]="'educational'">Entscheidungsnavi Educational</a> wirst Du bei der Suche nach neuen, attraktiven
      Handlungsalternativen einem strukturierten Prozess folgen, in dem verschiedene Kreativitätstechniken zum Einsatz kommen. Der Leitidee
      des reflektierten Entscheidens folgend lenken diese Methoden stets das Augenmerk auf die Ziele, die Du im letzten Schritt formuliert
      hast. Im Idealfall werden mit diesem Vorgehen Alternativen generiert, die besser sind als die Dir bislang bekannten.</p
    >
  </div>
</ng-container>
