<div class="note-hover-container mat-elevation-z3">
  <div class="content-container" #content>
    <ng-content></ng-content>
  </div>
  <dt-rich-text-editor [format]="'html'" [text]="contentString" [readonly]="true"></dt-rich-text-editor>
</div>
