<dt-modal-content (closeClick)="close()" [flexContent]="true">
  <ng-template #title [ngSwitch]="!!data.hierarchy">
    <ng-container *ngSwitchCase="true" i18n>Zielbaum bearbeiten</ng-container>
    <ng-container *ngSwitchCase="false" i18n>Zielbaum erstellen</ng-container>
  </ng-template>
  <ng-template #content>
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <mat-form-field class="dt-no-margin">
        <mat-label i18n>Deutscher Name</mat-label>
        <input matInput type="text" formControlName="nameDe" />
      </mat-form-field>
      <mat-form-field class="dt-no-margin">
        <mat-label i18n>Englischer Name</mat-label>
        <input matInput type="text" formControlName="nameEn" />
      </mat-form-field>
      <dt-tag-input formControlName="tags" [allTags]="data.tags" i18n>Tags</dt-tag-input>
    </form>
    <dt-quickstart-hierarchy [tree]="tree"></dt-quickstart-hierarchy>
  </ng-template>
  <ng-template #footer>
    <button
      mat-raised-button
      color="primary"
      [dtOverlayProgress]="formGroup.disabled"
      [disabled]="formGroup.disabled || formGroup.invalid"
      (click)="save()"
      i18n
      >Speichern</button
    >
    <button mat-stroked-button type="reset" (click)="close()" [disabled]="formGroup.disabled" i18n>Verwerfen</button>
    <button mat-stroked-button *ngIf="data.hierarchy" (click)="delete()" color="warn" type="button" [disabled]="formGroup.disabled" i18n
      >Hierarchie löschen</button
    >
  </ng-template>
</dt-modal-content>
