@use 'variables' as dt;

.projects {
  display: grid;
  grid-template-columns: 1fr max-content;

  align-items: center;

  row-gap: 5px;

  .author {
    font-size: dt.font-size-old(body-2);
  }

  .progress {
    display: flex;

    gap: 10px;

    .step-circle {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      width: 40px;
      height: 40px;

      border: 2px solid darkgreen;
      color: darkgreen;

      &.in-progress {
        border-color: dt.$orange;
        color: dt.$orange;
      }

      &.invalid {
        border-color: gray;
        color: gray;
      }
    }
  }

  mat-divider {
    grid-column: span 2;
  }
}
