@use 'variables' as dt;
@use '@angular/material' as mat;
@use 'sass:color';

.whistle {
  display: flex;
  align-items: center;

  gap: 10px;

  background-color: color.grayscale(dt.$blue-darken-3);

  padding: 5px 10px;
  border-radius: 5px;

  color: color.grayscale(dt.$blue-lighten-7);

  font-weight: bold;

  margin: 10px;

  animation-name: appear, disappear;
  animation-delay: 0s, 5s;
  animation-duration: 200ms;

  @include mat.elevation(2);

  @keyframes appear {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes disappear {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
