<dt-extendable-header i18n-headerName variation="large" headerName="Grundlegende Definition von Stellhebeln" [initialOpening]="true">
  <p i18n
    >Deine Stellhebel sind grundlegende Eigenschaften, zwischen denen sich Deine Alternativen unterscheiden. In der folgenden Tabelle
    findest Du typische Beispiele für Stellhebel aus verschiedenen Entscheidungskontexten:</p
  >
  <img *ngIf="!languageService.isEnglish" src="assets/assistant/tabelle-de.png" />
  <img *ngIf="languageService.isEnglish" src="assets/assistant/tabelle-en.png" />
  <p i18n
    >Stellhebel haben allesamt gemeinsam, dass Du die Ausgestaltung der Stellhebelpositionen und in diesem Sinne der Eigenschaften Deiner
    Alternativen selbst unter Kontrolle hast und selbst Einfluss ausüben kannst. Bezugnehmend auf die Beispiele in der Tabelle kannst Du
    beispielsweise selbst wählen, ob Du etwas zu hohen oder niedrigen Kosten kaufst, einen Job annimmst, in dem Du Vollzeit oder weniger
    arbeitest bzw. eine Ballsportart oder doch Leichtathletik ausübst.</p
  >
  <p i18n
    >Versuche, für Dein Entscheidungsproblem die grundlegenden Eigenschaften zu finden, in denen sich Deine Alternativen unterscheiden und
    deren Ausgestaltung Du zugleich auch selbst unter Kontrolle hast. Diese Eigenschaften sind dann Deine Stellhebel, mit denen Du Einfluss
    auf die Ausgestaltung Deiner Alternativen und damit Deiner Entscheidungssituation nehmen kannst. Überlege, wie konkret Du diese
    Eigenschaften ausgestalten kannst und formuliere diese Überlegungen als einzelne Stellhebelpositionen aus.</p
  >
  <p i18n
    >Pro Stellhebel kannst Du bis zu acht verschiedene Stellhebelpositionen eintragen. Versuche, wenn möglich, die oberste und unterste
    Position als extreme Ausprägungen zu definieren und alle weiteren Ausprägungen in einer sinnvollen Reihenfolge dazwischen
    einzuordnen.</p
  >
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Nutzung der Stellhebel" [isLast]="true">
  <p i18n
    >Wenn Du alle Stellhebel definiert hast, kannst Du nun durch das systematische Austesten verschiedener Stellhebelkonstellationen
    überprüfen, ob noch weitere Handlungsalternativen möglich sind, die Du bislang übersehen hast. Möglicherweise gibt es Konstellationen,
    für die Du noch keine Alternativen gefunden hattest. Auf diese Art neu gefundene Alternativen kannst Du unter den Stellhebeln zu Deiner
    Alternativenliste hinzufügen. In einigen Konstellationen wird es aber so sein, dass diesen Konstellationen schon definierte Alternativen
    zuzuordnen sind oder es hier einfach keine sinnvollen Alternativen gibt.</p
  >
</dt-extendable-header>
