<div class="grid" [style.grid-template-rows]="gridRows">
  <div class="slider-container" [style.height.%]="100 - 100 / positions.length">
    <div *ngFor="let position of positions; index as positionIndex" class="slider-point-container"><div class="slider-point"></div></div>
    <div class="input-container">
      <input
        type="range"
        min="0"
        [max]="positions.length - 1"
        [ngModel]="selectedPosition"
        (ngModelChange)="changeSelectedPosition($event)"
      />
    </div>

    <div class="slider-thumb" [style.top.%]="(selectedPosition / (positions.length - 1)) * 100"></div>
  </div>

  <div
    *ngFor="let position of positions; index as positionIndex"
    class="label"
    [class.selected]="positionIndex === selectedPosition"
    [class.disabled]="disabledPositions.includes(positionIndex)"
    (click)="changeSelectedPosition(positionIndex)"
    [style.grid-row]="positionIndex + 1"
  >
    <span
      [matTooltip]="tooltipsForDisabled[positionIndex]"
      [matTooltipDisabled]="!disabledPositions.includes(positionIndex)"
      class="dt-reserve-bold-width"
      [attr.data-text]="position"
      >{{ position }}</span
    >
  </div>
</div>
