<dt-modal-content size="normal" (closeClick)="dialogRef.close()" [flexContent]="true">
  <ng-template i18n #title>Teile &bdquo;{{ project.name }}&ldquo;</ng-template>
  <ng-template #content>
    <p i18n
      >Mit dem untenstehenden Link kannst Du das Projekt <span class="bold">&bdquo;{{ project.name }}&ldquo;</span> mit anderen Personen
      teilen. Diese können die aktuelle Version des Projekts anschauen und eigene Änderungen vornehmen. Dein Projekt bleibt von diesen
      Änderungen unberührt und kann auch weiterhin nur von Dir verändert werden.</p
    >
    <mat-slide-toggle
      labelPosition="after"
      [checked]="project.shareToken"
      [disabled]="loading"
      (toggleChange)="toggleLink()"
      [dtOverlayProgress]="loading"
      [dtOverlayProgressColor]="'accent'"
    >
      <ng-container [ngSwitch]="!!project.shareToken">
        <ng-container *ngSwitchCase="true" i18n>Linkfreigabe ist aktiv</ng-container>
        <ng-container *ngSwitchCase="false" i18n>Linkfreigabe ist inaktiv</ng-container>
      </ng-container>
    </mat-slide-toggle>
    <mat-form-field *ngIf="project.shareToken" (click)="linkInput.select()" color="accent">
      <mat-label>Link</mat-label>
      <input #linkInput [value]="link" matInput readonly />
      <mat-icon matSuffix matRipple ngxClipboard [cbContent]="linkInput.value">content_copy</mat-icon>
    </mat-form-field>
  </ng-template>
</dt-modal-content>
