@use 'variables' as dt;

.export-container {
  padding: 20px;

  .bullets {
    margin-top: 20px;
    margin-left: 30px;
  }

  .small-text {
    margin-top: 20px;
    font-size: dt.font-size-old(caption);
    color: dt.$grey-foreground;
  }

  .protection-checkbox {
    margin-top: 20px;
  }
}

.import-container {
  padding: 20px;
  min-height: 200px;

  .drag-area {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;

    border: 3px solid dt.$orange;
    border-radius: 7px;
    cursor: pointer;

    &.dragging {
      border: 3px dashed dt.$orange;
    }

    color: dt.$orange;

    font-weight: bold;
    font-size: dt.font-size-old(title);

    z-index: 100;
  }

  .uploaded-file {
    margin-top: 5px;
    display: flex;
    align-items: center;

    mat-icon {
      color: dt.$orange;
      margin-right: 10px;
    }

    .file-name {
      line-height: 24px;
    }
  }

  .log-container {
    .status-title {
      margin-top: 20px;
      font-weight: 500;
    }
    .status {
      font-weight: 500;
      margin-top: 5px;
      margin-bottom: 20px;
    }
    .status-green {
      color: green;
    }
    .status-red {
      color: red;
    }

    .message-title {
      font-weight: 500;
    }

    .message-list-container {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .message-list-entry {
        display: flex;
        align-items: center;
        line-height: 24px;

        mat-icon {
          margin-right: 5px;
        }
      }
    }
  }
}

mat-tab-group {
  overflow: auto;

  ::ng-deep .excel-tab-label {
    background-color: #626f7b;
    span {
      color: #fff !important;
      font-size: dt.font-size-old(body-1);
      font-weight: 700;
    }
  }
}
