<ng-container *dtProjectMode="'educational'">
  <img src="assets/assistant/kamera-de.png" />

  <p i18n
    >Dieser Schritt hilft Dir dabei, sich zunächst einmal über Deine Entscheidungsfrage im Klaren zu werden, d.&nbsp;h. über was Du
    eigentlich genau entscheiden willst.</p
  >
  <p i18n
    >Die Formulierung der Entscheidungsfrage ist deshalb ein wichtiger Schritt, weil sich die meisten Menschen bei auftretenden
    Entscheidungsproblemen <b>reaktiv</b> verhalten. Du richtest Dein Augenmerk nur auf die naheliegenden Alternativen und empfindest die
    Entscheidungssituation als unangenehme Last, die Du gerne wieder loswerden willst. In einem <b>proaktiven</b> Vorgehen gibt es aber
    nicht nur Probleme, sondern auch Chancen, die in der Entscheidungssituation liegen.</p
  >

  <p i18n
    >Mit der Formulierung einer Entscheidungsfrage gibt der Entscheider an, wie viel er in der betrachteten Entscheidungssituation
    grundsätzlich zur Disposition stellt. Je mehr dies ist, d.&nbsp;h. je breiter der Winkel der Kamera ist, desto größer ist zwar der
    Aufwand, aber desto größer werden auch die Chancen.</p
  >
  <p i18n
    >In diesem Schritt wirst Du systematisch an eine proaktive Analyse Deiner Entscheidungsfrage herangeführt. Deine Denkweise wird bewusst
    in einen breiteren Kontext gelenkt und es wird versucht, eine möglichst breite Formulierung der Entscheidungsfrage zu bewirken.</p
  >
</ng-container>

<ng-container *dtProjectMode="'starter'">
  <div class="dt-help-padding">
    <p i18n
      >Die Formulierung der Entscheidungsfrage ist deshalb ein wichtiger Schritt, weil sich die meisten Menschen bei auftretenden
      Entscheidungsproblemen <b>reaktiv</b> verhalten. Du richtest Dein Augenmerk nur auf die naheliegenden Alternativen und empfindest die
      Entscheidungssituation als unangenehme Last, die Du gerne wieder loswerden willst. In einem <b>proaktiven</b> Vorgehen gibt es aber
      nicht nur Probleme, sondern auch Chancen, die in der Entscheidungssituation liegen. Mit der Formulierung einer Entscheidungsfrage wird
      angegeben, wie viel in der betrachteten Situation grundsätzlich zur Disposition gestellt wird. Je mehr dies ist, d.&nbsp;h. je breiter
      der Winkel der Kamera ist, desto größer ist zwar der Aufwand, aber desto größer werden auch die Chancen zur Verbesserung des Status
      Quo.</p
    >
    <p i18n
      >Im <a [dtModeTrigger]="'educational'">Entscheidungsnavi Educational</a> wirst Du in diesem ersten Schritt in mehreren Teilschritten
      systematisch an eine proaktive Analyse Deiner Entscheidungsfrage herangeführt. Deine Denkweise wird bewusst in einen breiteren Kontext
      gelenkt und es wird versucht, eine möglichst breite Formulierung der Entscheidungsfrage zu bewirken.</p
    >
  </div>
</ng-container>
