<dt-object-box
  [expanded]="expanded"
  (expandedChange)="onExpandedChange($event)"
  [sidePanelExpandedByDefault]="alternative.children.length > 0"
>
  <ng-template #header>
    <mat-icon class="drag-handle" [draggable]="!readonly" dtDragHandle [attr.dtDragGroup]="alternative.children.length > 0 || null"
      >drag_handle</mat-icon
    >
    <mat-icon
      *ngIf="isLocked"
      class="lock-icon"
      matTooltip="Die Alternative ist gesperrt, da sie in einem anderen Schritt erstellt wurde"
      i18n-matTooltip
      >lock</mat-icon
    >
    <input
      class="browser-default name-input"
      data-cy="name-input"
      type="text"
      [(ngModel)]="alternative.name"
      [placeholder]="namePlaceholder"
      [readonly]="readonly"
      [disabled]="isLocked"
    />
    <button *ngIf="sendEnabled" mat-icon-button color="accent" (click)="sendAlternative(me)" #me="dtElementRef" dtElementRef
      ><mat-icon>send</mat-icon></button
    >
    <button
      *ngIf="teamTrait?.isOtherUsersProject"
      mat-icon-button
      color="accent"
      #me="dtElementRef"
      dtElementRef
      (click)="transferAlternativeToMe(me)"
    >
      <mat-icon>publish</mat-icon>
    </button>
    <button
      mat-icon-button
      data-cy="delete-button"
      color="accent"
      [disabled]="isLocked"
      dtConfirmPopover="Alternative wirklich löschen?"
      i18n-dtConfirmPopover
      (dtConfirmPopoverConfirm)="deleteClick.emit()"
      ><mat-icon>delete</mat-icon></button
    >

    <dt-note-btn
      [(comment)]="alternative.comment"
      [readonly]="readonly"
      caption="Erläuterung zur Alternative &bdquo;{{ alternative.name }}&ldquo;"
      i18n-caption
    >
      <dt-team-comments additional-modal-content [object]="alternative"></dt-team-comments>
    </dt-note-btn>
  </ng-template>

  <ng-template #body>
    <quill-editor
      [(ngModel)]="alternative.comment"
      format="json"
      bounds="self"
      theme="bubble"
      [modules]="{ toolbar: { container: [['bold', 'italic', 'underline', 'strike']] } }"
      [placeholder]="notePlaceholder"
      [readOnly]="readonly || isLocked"
    ></quill-editor>
  </ng-template>

  <ng-template #sidePanel>
    <div class="children-wrapper">
      <div
        class="child"
        [draggable]="!readonly && !lockedChildren[i]"
        dtDragOrigin
        dtDragHandle
        [attr.dtDragChildIndex]="i"
        *ngFor="let child of alternative.children; let i = index"
      >
        <div
          class="child-name"
          [matTooltip]="child.name"
          [matTooltipPosition]="'left'"
          #tooltip="matTooltip"
          [dtOverflow]
          [dtOverflowTooltip]="tooltip"
          >{{ child.name }}</div
        >
        <button
          mat-icon-button
          class="delete-button"
          color="accent"
          [disabled]="lockedChildren?.[i]"
          (mousedown)="$event.preventDefault()"
          dtConfirmPopover="Eingruppierte Alternative wirklich löschen?"
          i18n-dtdtConfirmPopover
          (dtConfirmPopoverConfirm)="deleteChild(i)"
          ><mat-icon>delete</mat-icon></button
        >
      </div>
      <div class="no-children" *ngIf="alternative.children.length === 0" i18n>Keine Alternativen eingruppiert</div>
    </div>
  </ng-template>
</dt-object-box>
