<div class="consent-container" *ngIf="!consent">
  <p
    >Der an dieser Stelle eingebundene Inhalt führt Dich auf Seiten, die von der von Google betriebenen Seite YouTube - YouTube, LLC, 901
    Cherry Ave., San Bruno, CA 94066, USA - zur Verfügung gestellt werden. Mit dem Aufruf des Inhalts kann YouTube Deine IP-Adresse und die
    Sprache des Systems, sowie verschiedene browserspezifische Angaben ermitteln.</p
  >
  <p
    >Wenn Du in Deinem YouTube-Account eingeloggt bist, ermöglichst Du YouTube, Dein Surfverhalten direkt Deinem persönlichen Profil
    zuzuordnen. Dies kannst Du verhindern, indem Du Dich aus Deinem YouTube-Account ausloggst.</p
  >
  <p
    >YouTube verwendet Cookies und Tracking-Tools. Die Datenverarbeitungsvorgänge sowie die Zwecke der Verarbeitung können direkt bei
    <a href="https://policies.google.com/privacy?hl=de&gl=de">YouTube</a> erfragt und eingesehen werden.</p
  >
  <p
    >Mit dem Klick auf den Button "Zustimmen" willigst Du ein, die von der Plattform zur Verfügung gestellten Dokumente unter den
    angegebenen Umständen nutzen zu wollen.</p
  >
  <p
    >Deine Zustimmung gilt nur für den einmaligen Aufruf der Seite an dieser Stelle. Bei der nächsten Nutzung werden wir Dich wieder um
    Deine Einwilligung bitten.</p
  >
</div>
<mat-spinner diameter="56" *ngIf="consent"></mat-spinner>
<iframe
  *ngIf="consent"
  [src]="'https://www.youtube-nocookie.com/embed/' + videoId | safeUrl"
  frameborder="0"
  allow="encrypted-media"
  allowfullscreen
></iframe>
